@font-face {
	font-family: 'Myriad Pro';
		src: 
		url('/fonts/MyriadPro-Regular.otf') 
		format('opentype');
	font-weight: 400;
}

@font-face {
	font-family: 'Myriad Pro';
	src: 
		url('/fonts/MyriadPro-Bold.otf') 
		format('opentype');
	font-weight: 500;
}

html, body {
	overflow-x: hidden;
	max-width: 100vw;
}

.navbar {
	position: absolute;
	width: 100%;
	z-index: 1030;
	border-radius: 0;
	border-width: 0;
	background-color: rgba(0,0,0,0);
	transition: background-color 0.2s;
}

.navbar.colorize {
	background-color: #F36523;
	position: fixed;
	right: 0;
	left: 0;
	top: 0;
	transition: background-color 0.2s;
}

.navbar-brand.navbar-brand {
	color: white;
}

.navbar-header {
	display: inline-block;
	float: left;
}

.navbar-brand:hover {
	color: white !important;
}

.navbar-menu {
	background-color: #F36523;
	position: fixed;
	width: 325px;
	top: 0;
	right: -325px;
	height: calc(100vh) !important;
	overflow-y: auto;
	transition: all 0.5s;
	padding: 20px 35px;
}

.navbar-menu.active {
	right: 0px;
	transition: all 0.5s;
}

@media (max-width: 767px) {
/*@media (max-width: 768px) {*/
.navbar-menu {
	width: 100vw;
	right: -100vw;
	transition: all 0.5s;
}

.navbar-menu.active {
	right: 0px;
	transition: all 0.5s;
}
}

.navbar-toggle {
	display: inline-block;
	float: right;
	margin: 0;
	border-style: none;
	padding: 0;
}

.navbar-toggle:hover {
	background-color: transparent !important;
	border-style: none !important;
}

.navbar-toggle>a {
	padding: 7px 12px;
}

.navbar-toggle>a, .navbar-menu>a {
	font-family: FontAwesome !important;
	color: white;
	font-size: 25px;
	text-decoration: none !important;
	cursor: pointer;
	float: right;
}

.navbar-menu ul {
	list-style-type: none;
}

.navbar-menu>ul {
	padding-left: 0;
}

.navbar-menu ul li, .navbar-menu ul li a {
	font-size: 24px;
	color: white;
	text-decoration: none !important;
}

.navbar-menu ul li ul li, .navbar-menu ul li ul li a{
	font-size: 18px;
}

.row.row-main {
	margin-left: 0;
	margin-right: 0;
}

/*
@media (min-width: 1200px) {
.col-lg-12.col-lg-12-main,.col-lg-10.col-lg-12-main {
	max-width: 1200px;
	margin-left: calc((100vw - 1200px) / 2);
	margin-right: calc((100vw - 1200px) / 2);
}
}
*/

@media (min-width: 920px) and (max-width: 1199px) {
/*@media (min-width: 992px) and (max-width: 1199px) {*/
.col-md-12.col-md-12-main {
	max-width: 920px;
	margin-left: calc((100vw - 920px) / 2);
	margin-right: calc((100vw - 920px) / 2);
}
}

/*
@media (min-width: 768px) and (max-width: 991px) {
.col-sm-12.col-sm-12-main {
	max-width: 920px;
	margin-left: calc((100vw - 920px) / 2);
	margin-right: calc((100vw - 920px) / 2);
}
}
*/

#jumbotron {
	background-image: url('/img/jumbotron.jpg');
	background-size: cover;
	background-attachment: fixed;
	min-height: 100vh;
	padding-top: 50px;
}

#jumbotron h1, #jumbotron p {
	color: white;
	text-align: center;
}

#jumbotron p {
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
}

.img-responsive.img-logo {
	max-width: 150px;
	margin: auto;
}

@media (min-width: 768px) {

.img-responsive.img-calligraphy {
	width: 100%;
	max-width: 500px;
	margin: auto;
}
}

h1, h2, h3, h5, h6, a, p, ul>li, ol>li {
	font-family: Myriad Pro !important;
}

.page-section {
	padding-top: 10px;
}

.page-section>div:first-of-type>h1 {
	text-align: center;
	margin-bottom: 0;
}

.page-section>div:first-of-type>h3 {
	text-align: center;
	margin-top: 0;
}

.page-section.page-section-white h1,.page-section.page-section-white>div:first-of-type>h3>small {
	color: #F36523;
}

.page-section.page-section-colored h1,.page-section.page-section-colored>div:first-of-type>h3>small {
	color: white;
}

.page-section.page-section-colored.page-section-green {
	background-color: #82CA9C;
}

.page-section.page-section-colored.page-section-yellow {
	background-color: #FFF79A;
}

.page-section.page-section-colored.page-section-yellow h1,.page-section.page-section-colored.page-section-yellow>div:first-of-type>h3>small {
	color: #F36523;
}

.page-section.page-section-colored.page-section-green h2, .page-section.page-section-colored.page-section-green p {
	color: white;
}

.img-responsive.img-big {
	padding:20px;
}



@media (max-width:767px) {
.img-responsive.img-big.img-big-flush-left {
	float: left;
	max-width: 580px;
}

.img-responsive.img-big.img-big-flush-right {
	float: right;
	max-width: 480px;
}
}

@media (min-width:768px) {
.img-responsive.img-big.img-big-flush-right#art-cfa {
	float: right;
	max-width: 800px;
}
#parent-art-cfa {
	margin-left: 100px;
	margin-right: -100px;
}
}

@media (max-width:767px) {

.img-responsive.img-big.img-big-flush-right {
	float: right;
	max-width: 480px;
}
}

@media (min-width:768px) {
.invisibox {
	padding-top: 50px;
	/*padding: 50px;*/
	/*padding: 50px 0 50px 110px;*/
}

.invisibox.invisibox-alt {
	padding-top: 0;
}
}

@media (max-width:767px) {
.invisibox {
	padding-top: 20px;
	padding-bottom: 20px;
}
}

.dropdown-orange {
	width: 200px;
	margin-left: auto;
	padding-bottom: 25px;
}

.dropdown-orange>.toggle-main,.dropdown-orange>.toggle-dropdown {
	width: 100%;
}

.dropdown-orange>.toggle-main {
	border-style: solid;
	border-width: 3px;
	border-color: #F36523
}

.dropdown-orange>.toggle-main>* {
	display: inline-block;
	padding: 10px;
	text-decoration: none !important;
}

.dropdown-orange>.toggle-main>.button-main, .dropdown-orange>.toggle-main>.button-more,.dropdown-orange>.toggle-dropdown>.dropdown-option {
	color: #F36523;
	cursor: pointer;
}

.dropdown-orange>.toggle-main>.button-main {
	width: calc(100% - 42px);
}

.dropdown-orange>.toggle-main>.button-more {
	float: right;
	border-style: solid;
	border-width: 0 0 0 3px;
	border-color: #F36523;
	/*width: 60px;*/
	font-family: FontAwesome !important;
	color: #F36523;
	font-size: 25px;
	text-decoration: none !important;
	padding: 3px 12px;
}

.dropdown-orange>.toggle-dropdown {
	position: relative;
	top: 0;
	height: 0;
	display: none;
	z-index: 1;
}

.dropdown-orange>.toggle-dropdown.toggle-dropdown-active {
	display: block;
}

.dropdown-orange>.toggle-dropdown>.dropdown-option {
	display: block;
	padding: 10px;
	text-decoration: none !important;
	border-style: solid;
	border-width: 0 3px 3px 3px;
	border-color: #F36523;
	background-color: white;
	opacity: 0;
}

.dropdown-orange>.toggle-dropdown.toggle-dropdown-active.toggle-dropdown-visible>.dropdown-option:nth-of-type(1) {
	opacity: 1;
	transition: opacity 0.3s;
	transition-delay: 0.15s;
}

.dropdown-orange>.toggle-dropdown.toggle-dropdown-active.toggle-dropdown-visible>.dropdown-option:nth-of-type(2) {
	opacity: 1;
	transition: opacity 0.3s;
	transition-delay: 0.30s;
}

.dropdown-orange>.toggle-dropdown.toggle-dropdown-active.toggle-dropdown-visible>.dropdown-option:nth-of-type(3) {
	opacity: 1;
	transition: opacity 0.3s;
	transition-delay: 0.45s;
}

.dropdown-orange>.toggle-dropdown.toggle-dropdown-active.toggle-dropdown-visible>.dropdown-option:nth-of-type(4) {
	opacity: 1;
	transition: opacity 0.3s;
	transition-delay: 0.60s;
}

.dropdown-orange>.toggle-main>.button-main:hover, .dropdown-orange>.toggle-main>.button-more:hover,.dropdown-orange>.toggle-dropdown>.dropdown-option:hover {
	background-color: #F36523;
	color: white;
}

.img-portfolio {
	margin-top: 15px;
	margin-bottom: 15px;
	box-shadow: 5px 5px 0 0 #6DB98A;
}

@media (max-width:768px) {
	.div-portfolio>div{
		padding:0;
	}
	.div-portfolio>div>a>div {
		margin-top: 0 !important;
		margin-bottom: 0 !important;
		box-shadow: none;
	}
	.div-portfolio>div>a>div:nth-of-type(1) {
		box-shadow: none !important;
	}
	.div-portfolio>div>a>div:nth-of-type(2) {
		left: 0 !important;
		width: 100% !important;
	}
	.div-portfolio>div:nth-of-type(6)>a>div:nth-of-type(2) {
		padding-top: calc((75% - 45px) / 2);
		padding-bottom: calc((75% - 45px) / 2);
	}
	.div-portfolio h3 {
		font-size: 22px;
	}
	.div-portfolio h5 {
		margin-top: 0;
	}
}

.div-portfolio>div>a>div:nth-of-type(1) {
	margin-top: 15px;
	margin-bottom: 15px;
	font-size:30px;
	width: 100%;
	padding-top: calc(75% / 2);
	padding-bottom: calc(75% / 2);
	/*background-color: rgba(255,255,255,1);*/
	box-shadow: 5px 5px 0 0 #6DB98A;
	background-size: cover;
}

.div-portfolio>div>a>div:nth-of-type(2) {
	  position: absolute;
  top: 0;
  left: 15px;
  width: calc(100% - 30px);
	margin-top: 15px;
	margin-bottom: 15px;
	font-size:30px;
	/*width: 100%;*/
	padding-top: calc((75% - 45px) / 2);
	padding-bottom: calc((75% - 45px) / 2);
	background-color: rgba(0,0,0,0.5);
	opacity: 0;
	transition: opacity 0.2s;
}

.div-portfolio>div>a:hover>div:nth-of-type(2), .div-portfolio>div>a>div:nth-of-type(2):hover {
	opacity: 1;
	transition: opacity 0.2s;
}

.div-portfolio>div:nth-of-type(6)>a>div:nth-of-type(1) {
	background-color: rgba(0,0,0,0);
	border-style: solid;
	box-sizing: border-box;
	border-width: 3px;
	padding-top: calc((75% - 6px) / 2);
	padding-bottom: calc((75% - 6px) / 2);
	border-color: rgb(109, 185, 138);
}

.div-portfolio>div:nth-of-type(6)>a>div:nth-of-type(2) {
	opacity: 1;
	background-color: rgba(0,0,0,0);
	transition: background-color 0.2s;
}

.div-portfolio>div:nth-of-type(6)>a:hover>div:nth-of-type(2) {
	background-color: rgba(0,0,0,0.2);
	transition: background-color 0.2s;
}

.div-portfolio h3, .div-portfolio h5 {
	color: white;
	text-decoration: none !important;
}

/*
.div-portfolio>div>a>div::before {
	z-index: 0;
	content: "l";
	margin-top: 15px;
	margin-bottom: 15px;
	background-size: cover;
	font-size: 30px;
	width: calc(100% - 30px);
	padding-top: calc((75% - 42px) / 2);
	padding-bottom: calc((75% - 42px) / 2);
	position: absolute;
	top: 0;
	left: 15px;
	color: transparent;
	background-color: rgba(255,255,255,1);
}
*/

.div-portfolio h3, .div-portfolio h5 {
	text-align: center;
}

.div-portfolio h3 {
	font-size: 24px;
	margin-top: 0;
	margin-bottom: 0;
}

@media (max-width: 768px) {
	.div-portfolio h3.reduce {
		font-size: 21px;
	}
}

.div-portfolio h5 {
	margin-top: 4px;
	margin-bottom: 0;
}

/*@media (min-width: 1200px) {*/
.col-lg-12.col-decor {
	max-width: 100vw;
	height: 140px;
	overflow-x: hidden;
	text-align: center;
	white-space: nowrap;
}

.col-lg-12.col-decor img {
	display: inline;
	vertical-align: bottom;
	height: 100%;
	
}
/*}*/

.footer {
	background-color: #F36523;
}

.footer>.row:first-of-type {
	padding-top: 30px;
}

.footer>.row:last-of-type {
	background-color: #CC480A;
}

.footer ul {
	list-style-type: none;
	color: white;
	font-size: 14px;
}

.footer ul ul {
	font-size: 10px;
	padding-left: 10px;
}

.footer ul li a {
	color: white !important;
	text-decoration: none !important;
	cursor: pointer;
}

.footer>.row:first-of-type h5, .footer>.row:first-of-type h5 small {
	color: white;
	text-align: right;
}

.footer>.row:first-of-type h5 {
	margin-bottom: 0;
	margin-top: 0;
}

@media (max-width: 1199px) {
.footer>.row:first-of-type h5 {
	margin-right: 15px;
}	
}

@media (max-width: 767px) {
.footer>.row:first-of-type h5 {
	margin-top: 170px;
}	
}

.footer>.row:last-of-type h6 {
	margin-top: 2px;
	margin-bottom: 4px;
	text-align: center;
}

.footer>.row:last-of-type h6 small {
	color: white;
	text-align: center;
}

.footer #logos {
	text-align: center;
	padding-bottom: 20px;
	border-width: 0 0 1px 0;
	border-style: solid;
	margin-bottom: 12px;
	border-color: white;
}

.footer #sitemap {
	padding-left: 15px;
}

.footer #sitemap>div>ul {
	padding-left: 0;
}

.footer .img-footer-logo {
	display: inline-block;
	padding-right: 100px;
	max-height: 75px;
}

@media (max-width: 768px) {
.footer .img-footer-logo {
	display: block;
	margin-left: auto;
  margin-right: auto;
  padding: 0;
  margin-bottom: 25px;
}

.footer a:last-of-type .img-footer-logo {
  margin-bottom: 0;
}
}

.footer a:last-of-type .img-footer-logo {
	padding-right: 0;
}

.footer .img-footer-logo#juiceletter {
	max-height: 35px
}

.footer .img-footer-logo#teenspeak {
}

.footer .img-footer-logo#panafao {
}

@media (min-width: 768px) {

.img-responsive.img-execore {
	width: 100%;
	max-width: 700px;
	margin: auto;
}
}

#execore-names h5 {
	text-align: center;
}

@media (min-width: 1200px) {
	.col-lg-offset-0pt5 {
		margin-left: 4.16666667%;
	}
}

@media (min-width: 992px) and (max-width: 1200px) {
	.col-md-offset-0pt5 {
		margin-left: 4.16666667%;
	}
}

@media (max-width: 768px) {
	.col-xs-offset-0pt5 {
		margin-left: 4.16666667%;
	}
}

#departments-names>div {
	padding-left: 7.5px;
	padding-right: 7.5px;
	border-style: solid;
	border-color: #F36523;
	border-width: 2px;
}

@media (min-width: 768px) {
#departments-names>div {
	margin-top: 10px;
}
}

@media (min-width: 768px) and (max-width:992px) {
	#departments-names>div {
		margin-left: 5px;
	margin-right: 5px;
	width: calc((100% / 3) - 10px);
}

#departments-names {
	margin-left: -10px;
	margin-right: -10px;
}
}

@media (max-width: 768px) {
	#departments-names>div {
		margin-left: 5px;
	margin-right: 5px;
	width: calc((100% / 6) - 10px);
}
}

@media (max-width: 768px) {
#departments-names {
	margin-left: -10px;
	margin-right: -10px;
}
}

#departments-names div {
	text-align: center;
	line-height: 18px;
}

#departments-names a {
	width: 100%;
	text-decoration: none !important;
	color: white;
	font-size: 14px;
	cursor: pointer;
}

@media (max-width: 768px) {
#departments-names a {
	font-size: 14px;
}
}

/*
@media (max-width: 768px) {
	#departments-names>div {
		max-width: 280px;
		 margin: auto; 
		margin-left: auto;
		margin-right: auto;
		float: none;
	}
}
*/

#departments-names a>div {
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: white;
	/*border-style: solid;*/
	border-color: #F36523;
	color: #F36523;
	border-width: 1px;
	/*box-shadow: 5px 5px 0 0 #CC480A;*/
}


#departments-names a>div {
	border-width: 0 1px 1px 1px;
	/*box-shadow: 5px 5px 0 0 #CC480A;*/
}

#departments-names>div:first-of-type>a>div {
	border-width: 1px 1px 1px 1px;
	border-radius: 9px 9px 0 0;
}

#departments-names>div:last-of-type>a>div {
	border-radius: 0 0 9px 9px;
}

#departments-panels>div>h2 {
	margin-top: 10px;
}

div.card {
	transform: rotate(30deg);
	width: 100%;
	padding-top: calc((64.70588235% - 42px) / 2);
	padding-bottom: calc((64.70588235% - 42px) / 2);
	font-size: 30px;
	text-align: center;
	border-radius: 5%;
	border-style: solid;
	border-width: 1px;
	background-color: transparent;
	color: rgb(243, 101, 35);
	font-family: Myriad Pro;
	border-color: rgb(243, 101, 35);
	box-shadow: 4px 4px 0px 0px rgb(243, 101, 35);
	margin-top: 25%;
	margin-bottom: 30%;
}
 @media (max-width: 768px) {
div.card {
	padding-top: calc((64.70588235% - 28px) / 2);
	padding-bottom: calc((64.70588235% - 28px) / 2);
	font-size: 20px;
	margin-bottom: 35%;
}
}

@media (max-width: 767px) {
.img-responsive.img-big.img-big-flush-right#art-cfa, .img-responsive.img-big.img-big-flush-right#art-cmc {
  max-width: 600px;
  right: 2%;
  position: relative;
  margin-left: 180px;
}
}

@media (max-width: 420px) {
.img-responsive.img-big.img-big-flush-right#art-cfa, .img-responsive.img-big.img-big-flush-right#art-cmc {
  max-width: 600px;
  right: -50%;
  position: relative;
  margin-left: 180px;
}
}

.img-corevalues {
	max-width: 240px;
	margin-left: auto;
	margin-right: auto;
}

.img-corevalues + p {
	text-align: center;
}

.page-section>div:first-of-type>h1.nosub {
	margin-bottom: 20px;
}

.page-section.page-section-pad {
	padding-bottom: 40px;
}

@media (max-width: 768px) {
	.page-section.page-section-pad.page-section-pad-hidden-xs {
	padding-bottom: 0;
}
}

#row-clients {
	text-align: center;
	margin-top: 20px;
}

img.img-responsive.img-client {
	max-height: 85px;
	display: inline-block;
	margin-right: 15px;
	margin-left: 15px;
	margin-bottom: 30px;
}

@media (max-width: 768px) {
	img.img-responsive.img-client {
		max-height: 50px;
	}
}


.panel-dept {
	overflow: hidden;
	max-height: 0;
	opacity: 0;
	transition: max-height 0.5s, opacity 0.5s;
}

.panel-dept.panel-dept-active {
	max-height: 10000px;
	opacity: 1;
	transition: max-height 1s, opacity 0.5s;
}

.panel-dept>div {
	margin-bottom: 10px;
}

.panel-dept>div:last-of-type {
	margin-bottom: 0;
}

#app-process>div>h1 {
	text-align: center;
	font-size: 130px;
	margin-top: 0;
}

#app-process>div>h3 {
	min-height: 53px;
	text-align: center;
	margin-top: 0;
}

#app-process>div>h3>small {
	text-align: center;
	color: white;
	font-weight: bold;
}

#app-process>div>p {
	margin-bottom: 0;
	font-size: 12px;
}

.img-award {
	margin: auto;
	margin-top: 15px;
}

@media (min-width: 1200px) {
.img-award {
	max-width: 200px;
}
}

.navbar-menu ul.social {
  margin-top: 20px;
  border-style: solid;
  border-width: 1px 0 0 0;
  border-color: white;
  text-align: right;
  padding-top: 15px;
}

ul.social li a {
	font-family: FontAwesome !important;
}

ul.social li {
	display: inline;
}

.navbar-menu ul.social li a {
	font-size: 30px;
	margin-right: 10px;
}

.navbar-menu ul.social li:last-of-type a {
	margin-right: 0;
}

.footer ul.social {
	  margin-top: 4px;
}

.footer ul.social li a {
margin-right: 3px;
  font-size: 20px;
	}

	.footer ul.social li:last-of-type a {
	margin-right: 0;
}

.adjust { position:relative; }
.adjust>span:first-of-type{ position:absolute; top:-48px;}
.adjust.adjust-more>span:first-of-type{ position:absolute; top:-60px;}