---
title: About
---

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:fb="http://ogp.me/ns/fb#">

{% include head.html %}

    <body>

{% include header.html %}

<div style="display:none" class="row row-main page-section page-section-white">
<div class="col-lg-12 col-decor">
<img src="{{ site.baseurl }}/img/illus-cba.png" class=""/>
<img src="{{ site.baseurl }}/img/illus-grandstand.png" class=""/>
</div></div>

<div class="row row-main page-section page-section-colored page-section-yellow">
  <div class="col-lg-10 col-lg-offset-1 col-lg-12-main"><h1 class="nosub">UP Advertising Core</h1>
    <p>The UP Advertising Core is the only student-run, not-for-profit organization and advertising agency of the University of the Philippines, Diliman.</p>
    <p>It is based in the Virata School of Business and is a university-wide organization with members coming from various disciplines, mainly from Business Administration and Marketing, Mass Communications, and Fine Arts. UP AdCore keeps its members’ skills top-of-the-line through talks by renowned industry leaders, exposure trips to the leading advertising agencies, and experience in client-based projects that are impactful to the society. UP AdCore also performs a plethora of marketing services for companies who want to bring their brand closer to UP students, and the Filipino Youth as a whole.</p>

</div>
</div>



<div class="row row-main page-section page-section-colored page-section-yellow page-section-pad adjust">
  <span id="corevalues"></span>
  <div class="col-lg-10 col-lg-offset-1 col-lg-12-main"><h1 class="nosub">3 Core Values</h1>
<div class="row">
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
<img src="{{ site.baseurl }}/img/corevalues-1.png" class="img-responsive img-corevalues" alt="Creative Professionalism">
<p>The perfect blend of imagination and discipline.</p>
</div>
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
<img src="{{ site.baseurl }}/img/corevalues-2.png" class="img-responsive img-corevalues" alt="Inspired Involvement">
<p>Unconditional passion for what one is doing.</p>
</div>
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
<img src="{{ site.baseurl }}/img/corevalues-3.png" class="img-responsive img-corevalues" alt="Steadfast Excellence">
<p>Consistent aspiration to be better than what one was.</p>
</div>
</div>

</div>
</div>

<div class="row row-main page-section page-section-white adjust">
  <span id="clients"></span>
  <div class="col-lg-10 col-lg-offset-1 col-lg-12-main"><h1>Our Past Clients</h1>
  	<h3><small>The organization's professional portfolio</small></h3>
<p>Despite being a young organization, AdCore has been able to work with the following clients in its projects both within and outside the university:
</p>
<div class="row" id="row-clients">
<img src="{{ site.baseurl }}/img/clients/clients-coca.png" class="img-responsive img-client" alt="Coca-Cola">
<img src="{{ site.baseurl }}/img/clients/clients-globe.png" class="img-responsive img-client" alt="Globe">
<img src="{{ site.baseurl }}/img/clients/clients-greenwich.png" class="img-responsive img-client" alt="Greenwich">
<img src="{{ site.baseurl }}/img/clients/clients-gsk.png" class="img-responsive img-client" alt="Glaxo Smith Kline">
<img src="{{ site.baseurl }}/img/clients/clients-jansport.png" class="img-responsive img-client" alt="Jansport">
<img src="{{ site.baseurl }}/img/clients/clients-jnj.png" class="img-responsive img-client" alt="Johnson &amp;">
<img src="{{ site.baseurl }}/img/clients/clients-lotte.png" class="img-responsive img-client" alt="Lotte">
<img src="{{ site.baseurl }}/img/clients/clients-omni.png" class="img-responsive img-client" alt="Omni">
<img src="{{ site.baseurl }}/img/clients/clients-ovi.png" class="img-responsive img-client" alt="Nokia Ovi">
<img src="{{ site.baseurl }}/img/clients/clients-png.png" class="img-responsive img-client" alt="Procter &amp; Gamble">
<img src="{{ site.baseurl }}/img/clients/clients-rexona.png" class="img-responsive img-client" alt="Rexona">
<img src="{{ site.baseurl }}/img/clients/clients-samsung.png" class="img-responsive img-client" alt="Samsung">
<img src="{{ site.baseurl }}/img/clients/clients-unilab.png" class="img-responsive img-client" alt="Unilab">
<img src="{{ site.baseurl }}/img/clients/clients-unilever.png" class="img-responsive img-client" alt="Unilever">
<img src="{{ site.baseurl }}/img/clients/clients-viber.png" class="img-responsive img-client" alt="Viber">
</div>

</div>
</div>



<div class="row row-main page-section page-section-white page-section-pad adjust">
  <span id="recognition"></span>
  <div class="col-lg-10 col-lg-offset-1 col-lg-12-main"><h1>Our Success Stories</h1>
  	<h3><small>Awards and recognition</small></h3>
<p>Exemplifying Steadfast Excellence, AdCore has garnered the following awards throughout the years:</p>

<div class="row">

<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
<img src="{{ site.baseurl }}/img/award/award-fao.jpg" class="img-responsive img-circle img-award" alt="FAO Awards">
<h5>FAO Awards</h5>
<p>UP Advertising Core was hailed as the Organization of the Year for the first-ever Federation of Advertising Organizations Awards this 2013, participated on by different organizations from schools all over NCR.</p>
</div>
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
<img src="{{ site.baseurl }}/img/award/award-quill.jpg" class="img-responsive img-circle img-award" alt="Philippine Student Quill Awards">
<h5>Philippine Student Quill Awards</h5>
<p>Organised by the IABC, the PSQA honours excellence in communication in the undergraduate levels. UP AdCore was one of the organizations to have received two Awards of Excellence, the higher tier award in PSQA’s recognition hierarchy.</p>
</div>


<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
<img src="{{ site.baseurl }}/img/award/award-smart.jpg" class="img-responsive img-circle img-award" alt="Smart League of Leaders">
<h5>Smart League of Leaders</h5>
<p>The SMART League of Leaders is Smart Prepaid’s advocacy project that seeks to empower student groups with the skills, knowledge and resources they need to reach their goals. UP AdCore was hailed as one of the top 10 organizations and an official part of the SMART League of Leaders last April 11.</p>
</div>
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
<img src="{{ site.baseurl }}/img/award/award-villar.jpg" class="img-responsive img-circle img-award" alt="Villar Sipag League of Excellence Awards">
<h5>Villar Sipag League of Excellence Awards</h5>
<p>The Villar SIPAG League of Excellence Awards 2014 is the first-ever awards show and competition launched by the BAC for the sixteen organizations of the Business League. UP AdCore clinched six of these prestigious awards, three of them belonging in the Platinum Award Categories which includes the highest award given: Organization of the Year.</p>
</div>
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
<img src="{{ site.baseurl }}/img/award/award-aiesec.jpg" class="img-responsive img-circle img-award" alt="AIESEC Youth Leadership Awards">
<h5>AIESEC Youth Leadership Awards</h5>
<p>The AIESEC Youth Leadership Awards aims to celebrate five youth organizations who, driven by a clear purpose, have shown exemplary leadership through leading by example and by continuous improvement in their fields. UP AdCore is one of the five recipients of this pioneer award by AIESEC Philippines.</p>
</div>

<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
<img src="{{ site.baseurl }}/img/award/award-acle.jpg" class="img-responsive img-circle img-award" alt="Most Well-Attended ACLE">
<h5>Most Well-Attended ACLE</h5>
<p>USC has awarded various organizations who were able to organize outstanding learning experiences for the students. UP AdCore received the most well-attended ACLE having been able to fill the Benitez Hall with students who were interested to learn more about stories behind well-known commercials.</p>
</div>
</div>

</div>
</div>


<div class="row row-main page-section page-section-colored page-section-green page-section-pad page-section-pad-hidden-xs adjust">
    <span id="engagements"></span>
<div class="col-lg-10 col-lg-offset-1 col-lg-12-main col-md-12 col-md-12-main">
<h1>What We Engage In</h1>
<h3><small>The ways the organization gives back to the community</small></h3>
<h2>Social responsibility</h2>
<p>We make sure to foward socially impactful causes that are beneficial to the UP community</p>
<div class="row">
<div class="col-lg-12 cold-md-12 col-sm-12 col-xs-12">
<div class="row div-portfolio">
  <!--PANELS GO HERE-->
<div class="col-lg-4 cold-md-4 col-sm-4 col-xs-12">
<a target="_blank" href="https://www.facebook.com/TanglawUPD"><div style="background-image:url('{{ site.baseurl }}/img/engage/sr-tanglaw.jpg');"></div><div><h3>Tanglaw</h3><h5>AdVocate 2015</h5></div></a>
</div>

<div class="col-lg-4 cold-md-4 col-sm-4 col-xs-12">
<a target="_blank" href="https://www.facebook.com/LightUPDiliman"><div style="background-image:url('{{ site.baseurl }}/img/engage/sr-light.jpg');"></div><div><h3>Light Up</h3><h5>AdVocate 2013 x Omni</h5></div></a>
</div>

<div class="col-lg-4 cold-md-4 col-sm-4 col-xs-12">
<a target="_blank" href="https://www.facebook.com/BotoNiIsko"><div style="background-image:url('{{ site.baseurl }}/img/engage/sr-boto.jpg');"></div><div><h3>Boto ni Isko</h3><h5>AdVocate 2014 x OVCSA</h5></div></a>
</div>

</div>
</div>
</div>

<h2>University projects</h2>
<p>We deliver fresh and exciting promotional campaigns on relevant campus projects and events</p>
<div class="row">
<div class="col-lg-12 cold-md-12 col-sm-12 col-xs-12">
<div class="row div-portfolio">
  <!--PANELS GO HERE-->

<div class="col-lg-4 cold-md-4 col-sm-4 col-xs-12">
<a target="_blank" href="https://www.facebook.com/UniversityFreshieMonth"><div style="background-image:url('{{ site.baseurl }}/img/engage/univ-fm.jpg');"></div><div><h3 class="hidden-xs">Univ. Freshie Month</h3><h3 class="visible-xs">UFM</h3><h5 class="hidden-xs">August 2014</h5><h5 class="visible-xs">Aug. 2014</h5></div></a>
</div>

<div class="col-lg-4 cold-md-4 col-sm-4 col-xs-12">
<a target="_blank" href="https://www.facebook.com/UPFair"><div style="background-image:url('{{ site.baseurl }}/img/engage/univ-fair.jpg');"></div><div><h3>UP Fair</h3><h5 class="hidden-xs">February 2015</h5><h5 class="visible-xs">Feb. 2015</h5></div></a>
</div>

<div class="col-lg-4 cold-md-4 col-sm-4 col-xs-12">
<a target="_blank" href="https://www.facebook.com/UPCareerFair"><div style="background-image:url('{{ site.baseurl }}/img/engage/univ-ucf.jpg');"></div><div><h3 class="hidden-xs">UP Career Fair</h3><h3 class="visible-xs">UPCF</h3><h5>May 2015</h5></div></a>
</div>

</div>
</div>
</div>

</div>
</div>


{% include footer.html %}

{% include header-script.html %}

{% include header-script-static.html %}

{% include smoothscroll-script.html %}

    </body>
</html>