---
title: Alvin
---

<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link href="img/favicon.ico" rel="icon" type="image/x-icon">
	<title>{% if page.title %}{{ page.title}}{{' | '}}{{site.title }}{% else %}{{ site.title }}{% endif %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="{{ site.baseurl }}/css/bootstrap.min.css"-->
	<link rel="stylesheet" href="{{ site.baseurl }}/css/custom.css">
	<script src="{{ site.baseurl }}/js/jquery-2.1.1.min.js"></script>
	<script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
</head>

    <body>

{% include header.html %}

<div class="row row-main" id="jumbotron">
<div class="col-lg-10 col-lg-offset-1 col-lg-12-main">
  <div class="row">
    <div class="col-lg-2 col-lg-offset-5 col-md-2 col-md-offset-5 col-sm-2 col-sm-offset-5 col-xs-6 col-xs-offset-3">
<img src="{{ site.baseurl }}img/UP-Advertising-Core-Logo-MASTER.png" class="img-responsive img-logo" alt="UP AdCore" id="logo">
</div>
</div>
<h1>Creativity is in everyone</h1>
<p>The UP Advertising Core (UP AdCore) is the only student-run, not-for-profit organization and student advertising agency based in the Cesar E.A. Virata School of Business (VSB) of the University of the Philippines, Diliman (UP Diliman).</p>
</div>
</div>

<div class="row row-main page-section page-section-white">
  <div class="col-lg-10 col-lg-offset-1 col-lg-12-main"><h1>What is UP AdCore?</h1>
    <h3><small>Lorem ipsum dolor sit amet</small></h3>
    <div class="row">
  <div class="col-lg-7 col-lg-push-5 col-md-7 col-md-push-5 col-sm-7 col-sm-push-5">
<img src="{{ site.baseurl }}img/whatis.jpg" class="img-responsive" alt="What is UP AdCore?">
</div>
  <div class="col-lg-5 col-lg-pull-7 col-md-5 col-md-pull-7 col-sm-5 col-sm-pull-7">
    <div class="invisibox">
    <h3>Inspired involvement starts here</h3>
<p>We are an organization of almost one hundred young and dynamic advertising enthusiasts from all colleges and schools of UP Diliman. Dominated by student members and alumni from the Cesar E.A. Virata School of Business, College of Fine Arts and College of Mass Communication, we are your pitch-perfect team of portfolio-backed artists and marketers.</p>

<div class="dropdown-orange">
<div class="toggle-main">
<a class="button-main">Learn More</a>
<a class="button-more" id="button-more-1">More</a>
</div>
<div class="toggle-dropdown">
<a class="dropdown-option">Option 1</a>
<a class="dropdown-option">Option 2</a>
<a class="dropdown-option">Option 3</a>
</div>
</div>

</div>
</div>
  </div>
</div>
</div>

<div class="row row-main page-section page-section-colored page-section-green">
<div class="col-lg-10 col-lg-offset-1 col-lg-12-main col-md-12 col-md-12-main">
<h1>What We Do</h1>
<h3><small>Lorem ipsum dolor sit amet</small></h3>
<div class="invisibox invisibox-alt">
<h2>Design solutions</h2>
<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
</div>
<div class="row">
<div class="col-lg-12 cold-md-12 col-sm-12 col-xs-12">
<div class="row">
  <!--PANELS GO HERE-->
<div class="col-lg-4 cold-md-4 col-sm-4 col-xs-6">
<a><img src="{{ site.baseurl }}img/services-filler.jpg" class="img-responsive img-portfolio" alt="Service 1"></a>
</div>

<div class="col-lg-4 cold-md-4 col-sm-4 col-xs-6">
<a><img src="{{ site.baseurl }}img/services-filler.jpg" class="img-responsive img-portfolio" alt="Service 1"></a>
</div>

<div class="col-lg-4 cold-md-4 col-sm-4 col-xs-6">
<a><img src="{{ site.baseurl }}img/services-filler.jpg" class="img-responsive img-portfolio" alt="Service 1"></a>
</div>

<div class="col-lg-4 cold-md-4 col-sm-4 col-xs-6">
<a><img src="{{ site.baseurl }}img/services-filler.jpg" class="img-responsive img-portfolio" alt="Service 1"></a>
</div>

<div class="col-lg-4 cold-md-4 col-sm-4 col-xs-6">
<a><img src="{{ site.baseurl }}img/services-filler.jpg" class="img-responsive img-portfolio" alt="Service 1"></a>
</div>

<div class="col-lg-4 cold-md-4 col-sm-4 col-xs-6">
<a><img src="{{ site.baseurl }}img/services-filler.jpg" class="img-responsive img-portfolio" alt="Service 1"></a>
</div>

</div>
</div>
</div>

<div class="invisibox invisibox-alt">
<h2>Brand activation</h2>
<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
</div>
<div class="row">
<div class="col-lg-12 cold-md-12 col-sm-12 col-xs-12">
<div class="row">
  <!--PANELS GO HERE-->
<div class="col-lg-4 cold-md-4 col-sm-4 col-xs-6">
<a><img src="{{ site.baseurl }}img/services-filler.jpg" class="img-responsive img-portfolio" alt="Service 1"></a>
</div>

<div class="col-lg-4 cold-md-4 col-sm-4 col-xs-6">
<a><img src="{{ site.baseurl }}img/services-filler.jpg" class="img-responsive img-portfolio" alt="Service 1"></a>
</div>

<div class="col-lg-4 cold-md-4 col-sm-4 col-xs-6">
<a><img src="{{ site.baseurl }}img/services-filler.jpg" class="img-responsive img-portfolio" alt="Service 1"></a>
</div>

<div class="col-lg-4 cold-md-4 col-sm-4 col-xs-6">
<a><img src="{{ site.baseurl }}img/services-filler.jpg" class="img-responsive img-portfolio" alt="Service 1"></a>
</div>

<div class="col-lg-4 cold-md-4 col-sm-4 col-xs-6">
<a><img src="{{ site.baseurl }}img/services-filler.jpg" class="img-responsive img-portfolio" alt="Service 1"></a>
</div>

<div class="col-lg-4 cold-md-4 col-sm-4 col-xs-6">
<a><img src="{{ site.baseurl }}img/services-filler.jpg" class="img-responsive img-portfolio" alt="Service 1"></a>
</div>

</div>
</div>
</div>

</div>
</div>

<div class="row row-main page-section page-section-white">
  <div class="col-lg-10 col-lg-offset-1 col-lg-12-main"><h1>Who we are</h1>
    <h3><small>Lorem ipsum dolor sit amet</small></h3>
    <div class="row">
  <div class="col-lg-7 col-md-7 col-sm-7 ">
<img src="{{ site.baseurl }}img/whatis.jpg" class="img-responsive" alt="What is UP AdCore?">
</div>
  <div class="col-lg-5 col-md-5 col-sm-5 ">
    <div class="invisibox">
    <h3>The perfect balance of work + play</h3>
<p>We are an organization of almost one hundred young and dynamic advertising enthusiasts from all colleges and schools of UP Diliman. Dominated by student members and alumni from the Cesar E.A. Virata School of Business, College of Fine Arts and College of Mass Communication, we are your pitch-perfect team of portfolio-backed artists and marketers.</p>

<div class="dropdown-orange">
<div class="toggle-main">
<a class="button-main">Learn More</a>
<a class="button-more" id="button-more-2">More</a>
</div>
<div class="toggle-dropdown">
<a class="dropdown-option">Option 1</a>
<a class="dropdown-option">Option 2</a>
<a class="dropdown-option">Option 3</a>
</div>
</div>

</div>
</div>


  </div>
</div>
</div>

{% include footer.html %}

<script>
function hasClass(element, cls) {
    return (' ' + element.className + ' ').indexOf(' ' + cls + ' ') > -1;
}

function toggle() {
  var navbar_menu = document.getElementById('navbar-menu');
  if (hasClass(navbar_menu,'active')) {
    navbar_menu.classList.remove('active');
  }
  else {
    navbar_menu.classList.add('active');
  }
}
</script>

<script>

/* NAVIGATION HEADER*/

var didScroll = false;

var jumbotron = document.getElementById('jumbotron');
var jumbotron_bcr = jumbotron.getBoundingClientRect();
var navbar = document.getElementById('navbar');
var navbar_bcr = navbar.getBoundingClientRect();
window.onscroll = doOnScroll;

function doOnScroll() {
    didScroll = true;
    jumbotron_bcr = jumbotron.getBoundingClientRect();
    navbar_bcr = navbar.getBoundingClientRect();
    if((jumbotron_bcr.bottom-(navbar_bcr.bottom-navbar_bcr.top)) <= 0) {
      if (!(hasClass(navbar,'colorize'))) {
        navbar.classList.add('colorize');
      }
    }
    else {
      if ((hasClass(navbar,'colorize')) && (jumbotron.getBoundingClientRect().top == 0)) {
        navbar.classList.remove('colorize');
      }
    }
}

setInterval(function() {
    if(didScroll) {
        didScroll = false;
    }
}, 100);

/* DROPDOWN */

$(document).on('click', function(event) {
  if ((!$(event.target).closest('.button-more#button-more-1').length)) {
    $('.button-more#button-more-1').parent().next().removeClass('toggle-dropdown-active');
  }
  else if ((!$(event.target).closest('.button-more#button-more-2').length)) {
    $('.button-more#button-more-2').parent().next().removeClass('toggle-dropdown-active');
  }
});
</script>

{% include header-script.html %}

<script>
$('.button-more').click(function(event){
  if ($(this).parent().next().hasClass('toggle-dropdown-active')) {
    $(this).parent().next().removeClass('toggle-dropdown-active');
  }
  else {
    $(this).parent().next().addClass('toggle-dropdown-active');
  }
});

</script>

    </body>
</html>