---
title: Members
---

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:fb="http://ogp.me/ns/fb#">

{% include head.html %}

    <body>

{% include header.html %}

<div class="row row-main page-section page-section-white">
  <div class="col-lg-10 col-lg-offset-1 col-lg-12-main"><h1>Members of UP AdCore</h1>
    <h3><small>Our ideas alive</small></h3>
    <div class="row">
  <div id="parent-art-cfa" class="col-lg-7 col-md-7 col-sm-7 ">
<img id="art-cfa" src="{{ site.baseurl }}/img/cfa-clean.png" class="img-responsive img-big img-big-flush-right" alt="Members of UP AdCore">
</div>
  <div class="col-lg-5 col-md-5 col-sm-5">
    <div class="invisibox">
    <h3>We bring creative ideas to life</h3>
<p>We are creative and passionate individuals who are united by our love for creativity. We are equipped with the proper skills and knowledge to push AdCore towards excellence. 
</p>

</div>
</div>
  </div>
</div>
</div>

<div class="row row-main page-section page-section-colored page-section-green page-section-pad adjust">
  <span id="application"></span>
<div class="col-lg-10 col-lg-offset-1 col-lg-12-main col-md-12 col-md-12-main">
<h1>The Application Process</h1>
<h3><small>Your first step towards the orange path</small></h3>
<h2>Your own kind of creative</h2>
<p>You are a UP student who aspires to unleash your creative side while maintaining a business front. You are ready to exemplify excellence and commit yourself to an organization which truly understands your needs.</p>
<p>Your application process is as simple as spelling ADCORE. Go through with the following steps and be a part of this creativity.
</p>
<div class="row" id="app-process">

<div class="col-lg-2 cold-md-2 col-sm-2 col-xs-6">
<h1>A</h1>
<h3><small>Attendance <br/>and Tambay Week</small></h3>
<p>Attend AdCore’s events. You can attend more than the required number of events. Complete the required 30 hours of Tambay. Hang out at the AdHouse and get to know other applicants and members.</p>
</div>

<div class="col-lg-2 cold-md-2 col-sm-2 col-xs-6">
<h1>D</h1>
<h3><small>Date with Family</small></h3>
<p>A buddy family (composed of 2-3 members and 3-6 applicants) will have to accomplish buddy family tasks, which will have corresponding points. Each family will have to meet the required number of points announced by Team AdDition.</p>
</div>

<div class="col-lg-2 cold-md-2 col-sm-2 col-xs-6">
<h1>C</h1>
<h3><small>Complete the <br/>Sigsheet</small></h3>
<p>Ask the members to sign your sigsheet, especially the ExeCore and Team AdDition. Design it as creatively as you can and enjoy getting to know the members more.</p>
</div>

<div class="col-lg-2 cold-md-2 col-sm-2 col-xs-6">
<h1>O</h1>
<h3><small>Offer Help</small></h3>
<p>Offer help to the AdCore teams and be an intern! This is your chance to have hands-on experience of handling an AdCore project and learning how teams work in AdCore.</p>
</div>

<div class="col-lg-2 cold-md-2 col-sm-2 col-xs-6">
<h1>R</h1>
<h3><small>Revalida</small></h3>
<p>In advertising, the pitching of ideas is what we call a Revalida. This incorporates all the learnings you and your groupmates acquired throughout your application as you present to the ExeCore and Team AdDition.</p>
</div>

<div class="col-lg-2 cold-md-2 col-sm-2 col-xs-6">
<h1>E</h1>
<h3><small>End Interview</small></h3>
<p>This will test your knowledge about AdCore and your dedication to join the organization.</p>
</div>

</div>

</div>
</div>

<div style="display:none" class="row row-main page-section page-section-colored page-section-green">
<div class="col-lg-12 col-decor">
<img src="{{ site.baseurl }}/img/illus-cba.png" class=""/>
<img src="{{ site.baseurl }}/img/illus-grandstand.png" class=""/>
</div></div>

<div class="row row-main page-section page-section-white adjust">
  <span id="execore"></span>
  <div class="col-lg-10 col-lg-offset-1 col-lg-12-main"><h1>The Executive Core</h1>
    <h3><small>AdCore's outstanding leaders</small></h3>
    <div class="row">
  <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
    <img src="{{ site.baseurl }}/img/execore.png" class="img-responsive img-execore" alt="Execore (L-R): Hillary Joven (PRP), Beverly Ching (FCA), Daniella Adriano (President), Carlos Quimpo (CRT), Sabrina De Ocampo (HR), Sylvie Reyes (SEaL)">


  </div>
</div>
<div class="row">
  <div class="col-lg-11 col-lg-offset-0pt5">
    <div class="row" id="execore-names">
<div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
  <h5>Hillary<br class="visible-xs"/> Joven<br/><small>VP for PRP</small></h5>
</div>
<div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
  <h5>Beverly<br class="visible-xs"/> Ching<br/><small>VP for FCA</small></h5>
</div>
<div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
  <h5>Daniella<br class="visible-xs"/> Adriano<br/><small>Year 9 President</small></h5>
</div>
<div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
  <h5>Carlos<br class="visible-xs"/> Quimpo<br/><small>VP for CRT</small></h5>
</div>
<div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
  <h5>Sabrina<br class="visible-xs"/> De Ocampo<br/><small>VP for HR</small></h5>
</div>
<div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
  <h5>Sylvie<br class="visible-xs"/> Reyes<br/><small>VP for SEaL</small></h5>
</div>
</div>
</div>
  </div>
</div>
</div>

<div class="row row-main page-section page-section-white page-section-pad adjust">
  <span id="departments"></span>
  <div class="col-lg-10 col-lg-offset-1 col-md-11 col-md-offset-0pt5 col-lg-12-main"><h1>The Departments &amp; Teams</h1>
    <h3><small>The structure and divisions of the organization</small></h3>
<div class="row">
  <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
    <div class="row" id="departments-names">
<div class="col-lg-12 col-md-12 col-sm-4 col-xs-2">
  <a id="crt" class="button-dept"><div class="hidden-xs">Creatives</div><div class="visible-xs">CRT</div></a>
</div>
<div class="col-lg-12 col-md-12 col-sm-4 col-xs-2">
  <a id="fca" class="button-dept"><div class="hidden-xs">Finance and Corporate Affairs</div><div class="visible-xs">FCA</div></a>
</div>
<div class="col-lg-12 col-md-12 col-sm-4 col-xs-2">
  <a id="hr" class="button-dept"><div class="hidden-xs">Human Resources</div><div class="visible-xs">HR</div></a>
</div>
<div class="col-lg-12 col-md-12 col-sm-4 col-xs-2">
  <a id="prp" class="button-dept"><div class="hidden-xs">Public Relations and Promotions</div><div class="visible-xs">PRP</div></a>
</div>
<div class="col-lg-12 col-md-12 col-sm-4 col-xs-2">
  <a id="seal" class="button-dept"><div class="hidden-xs">Special Events and Logistics</div><div class="visible-xs">SEaL</div></a>
</div>
<div class="col-lg-12 col-md-12 col-sm-4 col-xs-2">
  <a id="pres" class="button-dept"><div class="hidden-xs">Under the President</div><div class="visible-xs">Pres.</div></a>
</div>
</div>
</div>

  <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12" id="departments-panels">
    <div id="panel-crt" class="panel-dept panel-dept-active">
      <h2>Creatives (CRT)</h2>
      <p>It is the design powerhouse of the organization that brings to life ideas of the different departments. The Creatives Department is dedicated to delivering quality outputs and assuring that each product of design reflects what the specific project and organization is truly about.</p>

      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <img src="{{ site.baseurl }}/img/dept/crt/acle-1.jpg" class="img-responsive" alt="ACLE">
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
          <h3>ACLE</h3>
          <p>Team ACLE is in charge of UP AdCore’s Alternative Classroom Learning Experience. They aim to impart fresh knowledge to the UP student body by inviting professionals from the advertising industry to give students a chance to experience and learn more about the exciting world of advertising.</p>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <img src="{{ site.baseurl }}/img/dept/crt/adschool-1.jpg" class="img-responsive" alt="AdSchool">
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
          <h3>AdSchool</h3>
          <p>AdSchool is the official design training vessel of the org. The team organizes learning sessions which ensure that AdCore mems and apps develop a leveled-up design sensibility and become equipped with competitive creative skills to come up with more innovative and quality design works</p>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <img src="{{ site.baseurl }}/img/dept/crt/adspeak-1.jpg" class="img-responsive" alt="AdSpeak">
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
          <h3>AdSpeak</h3>
          <p>Team AdSpeak shall organize an idea generation competition exclusive for AdCore members in partnership with a corporate brand client. AdSpeak will foster members’ skills in marketing and advertising through mentoring sessions and pitching, making UP AdCore members more competitive in the university and in the real world.</p>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <img src="{{ site.baseurl }}/img/dept/crt/brandcore-1.jpg" class="img-responsive" alt="BrandCOre">
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
          <h3>BrandCore</h3>
          <p>BrandCore aims to solidify the AdCore brand and standardize how AdCore is perceived. This is done externally by conceptualizing and creating AdCore’s official portfolio and primer and internally by producing case studies for past projects. Team BrandCore is also in charge of entering AdCore projects in advertising and communication competitions.</p>
        </div>
      </div>

    </div>
    <div id="panel-fca" class="panel-dept">
      <h2>Finance and Corporate Affairs (FCA)</h2>
      <p>As the organization’s left brain, the Finance and Corporate Affairs Department (FCA) ensures effective allocation and use of funds through strategic planning and budget control. This side of the organization also develops and maintains healthy relations with clients, corporate or not, giving members the chance to handle real life projects. Moreover, the FCA department makes use of the organization’s talents to generate money.</p>

      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <img src="{{ site.baseurl }}/img/dept/fca/finance-1.jpg" class="img-responsive" alt="Finance">
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
          <h3>Finance</h3>
          <p>Team Finance handles the financial matters of the organization. Through merchandise sales, equipment rentals, activations, and income-generating events, the team keeps AdCore’s financial status healthy. It also implements rules and budget protocols geared towards better allocation of the organization’s resources.</p>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <img src="{{ site.baseurl }}/img/dept/fca/advance-1.jpg" class="img-responsive" alt="AdVance">
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
          <h3>AdVance</h3>
          <p>AdVance brings the advertising world closer to AdCore mems and apps by giving them a glimpse of how advertising works and how to be in an advertising career path. The team provides learning opportunities about up-to-date, effective and responsible advertising through the seminars and workshops conducted by reputable and big-time advertising names.</p>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <img src="{{ site.baseurl }}/img/dept/fca/punch-2.jpg" class="img-responsive" alt="Punch Creatives">
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
          <h3>Punch Creatives</h3>
          <p>Punch Creatives is the corporate affairs arm of the organization. From seeking clients and negotiating deals, to executing creative projects, this team gives its members an opportunity to experience what it is like to work in an advertising agency.</p>
        </div>
      </div>

    </div>


    <div id="panel-hr" class="panel-dept">
      <h2>Human Resources (HR)</h2>
      <p>The Human Resources Department (HR) is dedicated to ensuring that the people who give life to the organization are well-taken care of. They are responsible for providing the members, as well as the applicants, a venue to bond and build long-lasting relationships. They make certain that all necessary updates and information concerning the members are properly disseminated, allowing open communication within the organization. Ultimately, HR aims to strengthen the members’ commitment to the organization.</p>

      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <img src="{{ site.baseurl }}/img/dept/hr/addition-1.jpg" class="img-responsive" alt="AdDition">
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
          <h3>AdDition</h3>
          <p>AdDition aims to add members to the organization through pooling quality applicants who shall be given the chance to experience how it is to be part of the core. The team is responsible for creating the application process and monitoring the applicants as they progress during the semester.</p>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <img src="{{ site.baseurl }}/img/dept/hr/adhesive-1.jpg" class="img-responsive" alt="AdHesive">
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
          <h3>AdHesive</h3>
          <p>AdHesive aims to strengthen the commitment of its members to assure that good and dedicated people will eventually lead future generations of members. This is accomplished through innovative team building and recreational activities, simple get-togethers and proper evaluation of members’ performance.</p>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <img src="{{ site.baseurl }}/img/dept/hr/adhere-1.jpg" class="img-responsive" alt="AdHere">
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
          <h3>AdHere</h3>
          <p>AdHere serves as the bridge between the members and alumni. This team is dedicated to ensuring that the people who became members of the organization are still updated and informed about the activities of the org. They are responsible for providing long-lasting relationships among the alumni and the organization.</p>
        </div>
      </div>

    </div>


    <div id="panel-prp" class="panel-dept">
      <h2>Public Relations and Promotions (PRP)</h2>
      <p>The Public Relations and Promotions Department (PRP) is the voice of the organization in charge of finding innovative ways to make use of promotional channels both inside and outside the university. The department ensures that the organization, its events and its causes are communicated excellently to its target market and that its advertisements stand out from the clutter of others in the industry. PRP also serves as the official liaison to the Office of Student Affairs. From strategic planning for each project to negotiating with other organizations, it’s on PRP.</p>

      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <img src="{{ site.baseurl }}/img/dept/prp/advocate-1.jpg" class="img-responsive" alt="AdVocate">
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
          <h3>AdVocate</h3>
          <p>AdVocate is AdCore’s social responsibility arm which has a specific thrust and cause at its core every semester, achieved by partnering with clients and developing creative PR campaigns that propagate these causes to a wider audience.</p>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <img src="{{ site.baseurl }}/img/dept/prp/juiceletter-1.jpg" class="img-responsive" alt="Juiceletter">
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
          <h3>Juiceletter</h3>
          <p>Juiceletter is in charge of the official publication of UP AdCore. From helpful articles about the advertising world to proper documentation of the events during the sem, Juiceletter is there to give members updates not just from inside the org, but from the outside world as well.</p>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <img src="{{ site.baseurl }}/img/dept/prp/upcf-1.jpg" class="img-responsive" alt="UP Career Fair">
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
          <h3>UP Career Fair</h3>
          <p>The UP Career Fair (formerly University Job Fair) is a widely-anticipated event that aims to provide job and internship opportunities to UP students across all colleges. UPCF is organized by the USC, UP JPIA, and of course, UP AdCore -- its sole promotional arm. The UPCF Execution Team strengthens UP AdCore’s image in the university as a student-run advertising agency that delivers excellent output.</p>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <img src="{{ site.baseurl }}/img/dept/prp/upfair-1.jpg" class="img-responsive" alt="UP Fair">
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
          <h3>UP Fair</h3>
          <p>UP Fair is a week-long annual music festival with nightly social themes, ranging from the arts to calls for changes in the status quo. It is held at the Sunken Garden and features both established and up-and-coming OPM artists.</p>
        </div>
      </div>

    </div>


    <div id="panel-seal" class="panel-dept">
      <h2>Special Events and Logistics (SEaL)</h2>
      <p>The Special Events and Logistics Department (SEaL) is the muscle of AdCore. The department takes charge of logistics by systematically controlling the flow of materials and equipment of the organization. SEaL members get things done quickly, effectively and strategically. They are the movers of the team, pushing to make sure all operations run smoothly in every AdCore event. As a testament to this, SEaLs conceptualize and spearhead the core event every semester. So when you need the fusion of strength, efficiency, and innovation, call in the SEaL.</p>

      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <img src="{{ site.baseurl }}/img/dept/seal/adcoreweek-1.jpg" class="img-responsive" alt="AdCore Week">
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
          <h3>AdCore Week</h3>
          <p>AdCore Week is a celebration of the organization to showcase and share its humble growth not only to the business administration community but to the whole university. The Week contains events such as AdCore Gives Back, the Gallery Launch, PR Event, the Grand Pakain, and the Culminight.</p>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <img src="{{ site.baseurl }}/img/dept/seal/adventure-1.jpg" class="img-responsive" alt="AdVenture">
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
          <h3>AdVenture</h3>
          <p>AdVenture is the organization’s exposure trip to the country’s top advertising agencies, production houses, and various institutions which contribute to the whole advertising industry. Through these trips, AdCore’s applicants and members are given a glimpse of an adperson’s workplace and lifestyle. AdVenture also opens its doors for those interested in pursuing a career in advertising.</p>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <img src="{{ site.baseurl }}/img/dept/seal/brandhub-1.jpg" class="img-responsive" alt="BrandHub">
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
          <h3>BrandHub</h3>
          <p>BrandHub is AdCore’s corporate account team, which aims to build equity for a client’s brand through brand activation events. The format of the project is tailored to fit the client’s objectives, oftentimes to generate awareness and trial. Past BrandHub projects include Unilever’s U-Tour and Pepero Day 2014.</p>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <img src="{{ site.baseurl }}/img/dept/seal/teenspeak-1.jpg" class="img-responsive" alt="TeenSpeak">
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
          <h3>TeenSpeak</h3>
          <p>TeenSpeak is UP AdCore’s biggest income generating event—an annual university-wide idea generation competition, in partnership with a corporate client. The competition allows UP students to have a voice as consumers in tackling challenges posed by our partner brands. TeenSpeak boasts of having had tie-ups with some of the Philippines’ top companies and brands,such as Coca-Cola, Globe, Rexona, Greenwich and P&amp;G.</p>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <img src="{{ site.baseurl }}/img/dept/seal/adhouse-1.jpg" class="img-responsive" alt="AdHouse">
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
          <h3>AdHouse</h3>
          <p>AdHouse is the organization’s tambayan. The AdHouse team is primarily in-charge of maintaining the tambayan’s cleanliness and orderliness. The team also handles the storage and inventory of all equipment, and materials in the tambayan.</p>
        </div>
      </div>

    </div>


    <div id="panel-pres" class="panel-dept">
      <h2>Under the President</h2>
      <p>Under the President houses projects not classified as belonging to the five main department functions. As the name suggests, these projects are administered by the President and mostly deal with AdCore initiatives that are not directly related with just one department function.</p>

      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <img src="{{ site.baseurl }}/img/dept/pres/adcorereps-1.jpg" class="img-responsive" alt="AdCore Reps to the BAC">
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
          <h3>AdCore Reps to the BAC</h3>
          <p>The UP AdCore Representatives to the Business Administration
Council (AdCore Reps to BAC) is responsible for uniting the
organization in participating in BAC projects. Team Reps makes
sure that AdCore is visible and relevant in its home college, and
that the organization takes advantage of available opportunities
in VSB to bond and unite the organization’s members. Projects
in the second semester include BACBACAN and BA Week. The
project is not limited to VSB students.</p>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <img src="{{ site.baseurl }}/img/dept/pres/panafao-1.jpg" class="img-responsive" alt="PANA-FAO">
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
          <h3>PANA-FAO</h3>
          <p>The team represents UP AdCore in the Philippine Association of
National Advertisers Federation of Advertising Organizations. They
interact with colleagues from PANA-FAO member-schools, as well as
professionals in the field of advertising through PANA. Moreover, they
spearhead all of AdCore’s initiatives as assigned by the FAO council.</p>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <img src="{{ site.baseurl }}/img/dept/pres/infocore-1.jpg" class="img-responsive" alt="InfoCore">
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
          <h3>InfoCore</h3>
          <p>Information Core (InfoCore) is the right hand of the ExeCore
responsible for the collection, organization, and dissemination of all
relevant internal information, making sure that the organization and
its stakeholders are always up to date with what’s happening inside the
org, that files are properly archived, and that members are informed
of their current status and grade throughout the semester.</p>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <img src="{{ site.baseurl }}/img/dept/pres/concom-1.jpg" class="img-responsive" alt="CONCOM">
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
          <h3>CONCOM</h3>
          <p>The Constitution COMELEC (CONCOM) Team is in charge of reviewing
the AdCore constitution and handling the election process. Throughout
the semester, CONCOM will study the constitution and find ways to
improve and strengthen it. They will also be the election organizers
for Year 10, handling everything from collecting nominations to
announcing next year’s Executive Core members. Only graduating
members are allowed to apply for CONCOM.</p>
        </div>
      </div>

    </div>


</div>
  </div>
</div>
</div>

<div class="row row-main page-section page-section-colored page-section-yellow adjust">
  <span id="memcard"></span>
  <div class="col-lg-10 col-lg-offset-1 col-lg-12-main"><h1>Membership Card</h1>
    <h3><small>The perks of being an AdCore member</small></h3>
    <div class="row">
<div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 col-xs-6 col-xs-offset-3">
    <div class="card">Coming Soon</div>


  </div>
  </div>
</div>
</div>

{% include footer.html %}

{% include header-script.html %}

{% include header-script-static.html %}

<script>
  var depts = ['crt','fca','hr','prp','seal','pres'];
  var curr;

  $('.button-dept').click(function(event){
    curr = $(this).attr('id');
    //alert('Curr: '+curr);
    depts.forEach(function(entry){
      if (entry==curr) {
        //$('#panel-'+entry).addClass('panel-dept-active');
        curr=$('#panel-'+entry);
        //alert('Added class to '+entry);
      }
      else {
        //$('#panel-'+entry).removeClass('panel-dept-active');
        setTimeout(function (){$('#panel-'+entry).removeClass('panel-dept-active');}, 000);
      }
    });
    setTimeout(function (){curr.addClass('panel-dept-active');}, 000);
    //curr.addClass('panel-dept-active');
    
  });
</script>

{% include smoothscroll-script.html %}

    </body>
</html>