---
title:
---

<!DOCTYPE html>
<html>

{% include head.html %}

    <body>

{% include header.html %}

<div class="row row-main page-section page-section-white">
  <div class="col-lg-10 col-lg-offset-1 col-lg-12-main"><h1>Members of UP AdCore</h1>
    <h3><small>Our ideas alive</small></h3>
    <div class="row">
  <div id="parent-art-cfa" class="col-lg-7 col-md-7 col-sm-7 ">
<img id="art-cfa" src="{{ site.baseurl }}img/cfa-clean.png" class="img-responsive img-big img-big-flush-right" alt="Members of UP AdCore">
</div>
  <div class="col-lg-5 col-md-5 col-sm-5">
    <div class="invisibox">
    <h3>We turn creative ideas to life</h3>
<p>We are creative and passionate individuals who are united by our love for creativity. We are equipped with the proper skills and knowledge to push AdCore towards excellence. 
</p>

</div>
</div>
  </div>
</div>
</div>

<div style="display:none" class="row row-main page-section page-section-colored page-section-green">
<div class="col-lg-10 col-lg-offset-1 col-lg-12-main col-md-12 col-md-12-main">
<h1>What We Do</h1>
<h3><small>The ways the organization caters to your needs</small></h3>
<h2>Design solutions</h2>
<p>We provide clean-cut solutions to your creative needs</p>
<div class="row">
<div class="col-lg-12 cold-md-12 col-sm-12 col-xs-12">
<div class="row">
  <!--PANELS GO HERE-->
<div class="col-lg-4 cold-md-4 col-sm-4 col-xs-6">
<a><img src="{{ site.baseurl }}img/services-filler.jpg" class="img-responsive img-portfolio" alt="Service 1"></a>
</div>

<div class="col-lg-4 cold-md-4 col-sm-4 col-xs-6">
<a><img src="{{ site.baseurl }}img/services-filler.jpg" class="img-responsive img-portfolio" alt="Service 1"></a>
</div>

<div class="col-lg-4 cold-md-4 col-sm-4 col-xs-6">
<a><img src="{{ site.baseurl }}img/services-filler.jpg" class="img-responsive img-portfolio" alt="Service 1"></a>
</div>

<div class="col-lg-4 cold-md-4 col-sm-4 col-xs-6">
<a><img src="{{ site.baseurl }}img/services-filler.jpg" class="img-responsive img-portfolio" alt="Service 1"></a>
</div>

<div class="col-lg-4 cold-md-4 col-sm-4 col-xs-6">
<a><img src="{{ site.baseurl }}img/services-filler.jpg" class="img-responsive img-portfolio" alt="Service 1"></a>
</div>

<div class="col-lg-4 cold-md-4 col-sm-4 col-xs-6">
<a><img src="{{ site.baseurl }}img/services-filler.jpg" class="img-responsive img-portfolio" alt="Service 1"></a>
</div>

</div>
</div>
</div>

</div>
</div>

<div style="display:none" class="row row-main page-section page-section-colored page-section-green">
<div class="col-lg-12 col-decor">
<img src="{{ site.baseurl }}img/illus-cba.png" class=""/>
<img src="{{ site.baseurl }}img/illus-grandstand.png" class=""/>
</div></div>

<div id="execore" class="row row-main page-section page-section-white">
  <div class="col-lg-10 col-lg-offset-1 col-lg-12-main"><h1>The Executive Core</h1>
    <h3><small>AdCore's outstanding leaders</small></h3>
    <div class="row">
  <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
    <img src="{{ site.baseurl }}img/execore.png" class="img-responsive img-execore" alt="Execore (L-R): Hillary Joven (PRP), Beverly Ching (FCA), Daniella Adriano (President), Carlos Quimpo (CRT), Sabrina De Ocampo (HR), Sylvie Reyes (SEaL)">


  </div>
</div>
<div class="row">
  <div class="col-lg-11 col-lg-offset-0pt5">
    <div class="row" id="execore-names">
<div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
  <h5>Hillary Joven<br/><small>VP for PRP</small></h5>
</div>
<div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
  <h5>Beverly Ching<br/><small>VP for FCA</small></h5>
</div>
<div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
  <h5>Daniella Adriano<br/><small>Year 9 President</small></h5>
</div>
<div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
  <h5>Carlos Quimpo<br/><small>VP for CRT</small></h5>
</div>
<div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
  <h5>Sabrina De Ocampo<br/><small>VP for HR</small></h5>
</div>
<div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
  <h5>Sylvie Reyes<br/><small>VP for SEaL</small></h5>
</div>
</div>
</div>
  </div>
</div>
</div>

<div id="departments" class="row row-main page-section page-section-white">
  <div class="col-lg-10 col-lg-offset-1 col-md-11 col-md-offset-0pt5 col-lg-12-main"><h1>The Departments &amp; Teams</h1>
    <h3><small>The structure and divisions of the organization</small></h3>
<div class="row">
  <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
    <div class="row" id="departments-names">
<div class="col-lg-12 col-md-12 col-sm-4 col-xs-2">
  <a><div class="hidden-xs">Creatives</div><div class="visible-xs">CRT</div></a>
</div>
<div class="col-lg-12 col-md-12 col-sm-4 col-xs-2">
  <a><div class="hidden-xs">Finance and Corporate Affairs</div><div class="visible-xs">FCA</div></a>
</div>
<div class="col-lg-12 col-md-12 col-sm-4 col-xs-2">
  <a><div class="hidden-xs">Human Resources</div><div class="visible-xs">HR</div></a>
</div>
<div class="col-lg-12 col-md-12 col-sm-4 col-xs-2">
  <a><div class="hidden-xs">Public Relations and Promotions</div><div class="visible-xs">PRP</div></a>
</div>
<div class="col-lg-12 col-md-12 col-sm-4 col-xs-2">
  <a><div class="hidden-xs">Special Events and Logistics</div><div class="visible-xs">SEaL</div></a>
</div>
<div class="col-lg-12 col-md-12 col-sm-4 col-xs-2">
  <a><div class="hidden-xs">Under the President</div><div class="visible-xs">Pres.</div></a>
</div>
</div>
</div>

  <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12" id="departments-panels">
    <div id="panel-crt">
      <h2>Creatives (CRT)</h2>
      <p>It is the design powerhouse of the organization that brings to life ideas of the different departments. The Creatives Department is dedicated to delivering quality outputs and assuring that each product of design reflects what the specific project and organization is truly about.</p>
    </div>
    <div id="panel-fca">
      <h2>Finance and Corporate Affairs (FCA)</h2>
      <p>As the organization’s left brain, the Finance and Corporate Affairs Department (FCA) ensures effective allocation and use of funds through strategic planning and budget control. This side of the organization also develops and maintains healthy relations with clients, corporate or not, giving members the chance to handle real life projects. Moreover, the FCA department makes use of the organization’s talents to generate money.</p>
    </div>
    <div id="panel-hr">
      <h2>Human Resources (HR)</h2>
      <p>The Human Resources Department (HR) is dedicated to ensuring that the people who give life to the organization are well-taken care of. They are responsible for providing the members, as well as the applicants, a venue to bond and build long-lasting relationships. They make certain that all necessary updates and information concerning the members are properly disseminated, allowing open communication within the organization. Ultimately, HR aims to strengthen the members’ commitment to the organization.</p>
    </div>
    <div id="panel-prp">
      <h2>Public Relations and Promotions (PRP)</h2>
      <p>The Public Relations and Promotions Department (PRP) is the voice of the organization in charge of finding innovative ways to make use of promotional channels both inside and outside the university. The department ensures that the organization, its events and its causes are communicated excellently to its target market and that its advertisements stand out from the clutter of others in the industry. PRP also serves as the official liaison to the Office of Student Affairs. From strategic planning for each project to negotiating with other organizations, it’s on PRP.</p>
    </div>
    <div id="panel-seal">
      <h2>Special Events and Logistics (SEaL)</h2>
      <p>The Special Events and Logistics Department (SEaL) is the muscle of AdCore. The department takes charge of logistics by systematically controlling the flow of materials and equipment of the organization. SEaL members get things done quickly, effectively and strategically. They are the movers of the team, pushing to make sure all operations run smoothly in every AdCore event. As a testament to this, SEaLs conceptualize and spearhead the core event every semester. So when you need the fusion of strength, efficiency, and innovation, call in the SEaL.</p>
    </div>
    <div id="panel-pres">
      <h2>Under the President</h2>
      <p>Under the President houses projects not classified as belonging to the five main department functions. As the name suggests, these projects are administered by the President and mostly deal with AdCore initiatives that are not directly related with just one department function.</p>
    </div>
</div>
  </div>
</div>
</div>

<div id="memcard" class="row row-main page-section page-section-colored page-section-yellow">
  <div class="col-lg-10 col-lg-offset-1 col-lg-12-main"><h1>Membership Card</h1>
    <h3><small>The perks of being an AdCore member</small></h3>
    <div class="row">
<div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 col-xs-6 col-xs-offset-3">
    <div class="card">Coming Soon</div>


  </div>
  </div>
</div>
</div>

{% include footer.html %}

{% include header-script.html %}

{% include header-script-static.html %}

    </body>
</html>