
<div class="img-wrapper" id="centerpls">
  <div class="row" id="dark_text">
    <div id="ninetywidth">
      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12" id="member-icon">
        <img src="/img/members/pictures/UP-Advertising-Core-Logo-MASTER.png">
        <p><b>Ryan Tadina</b><br>VP for Creatives</p>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12" id="member-icon">
        <img src="/img/members/pictures/UP-Advertising-Core-Logo-MASTER.png">
        <p><b>Kenneth Madamba</b><br>AVP for Creatives</p>
      </div>
      <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12" id="comm_space_pls">
        <p id="do-not-center"><b>Creatives (CRT)</b><br><br>The Creatives department is the design powerhouse of the organization that brings to life ideas of the different departments through the production of quality creative materials. This department also ensures</p>
      </div>
      
    </div>
  </div>
  <div id="some_real_space_pls"></div>
  <div class="row">
    <div class="wrapper-circle" id="dark_text">
      <div class="carousel-circle" id="member-icon">
        <div>
          <img src="/img/members/pictures/MANALILI_1.jpg">
          <p><b>Sam Manalili</b><br>InfoCore</p>
        </div>
        <div>
          <img src="/img/members/pictures/DIESTRO_2.jpg">
          <p><b>Lou Diestro</b><br>InfoCore</p>
        </div>
        <div>
          <img src="/img/members/pictures/MARCOL_3.jpg">
          <p><b>Leonard Marco</b><br>InfoCore</p>
        </div>
        <div>
          <img src="/img/members/pictures/BAUTISTA_1.jpg">
          <p><b>Christian Bautista</b><br>ComElec</p>
        </div>
        <div>
          <img src="/img/members/pictures/UP-Advertising-Core-Logo-MASTER.png">
          <p><b>Sean Thakur</b><br>ComElec</p>
        </div>
        <div>
          <img src="/img/members/pictures/UP-Advertising-Core-Logo-MASTER.png">
          <p><b>Rico Ayson</b><br>AdVance</p>
        </div>
        <div>
          <img src="/img/members/pictures/UP-Advertising-Core-Logo-MASTER.png">
          <p><b>Sophia Isip</b><br>AdVance</p>
        </div>
        <div>
          <img src="/img/members/pictures/UP-Advertising-Core-Logo-MASTER.png">
          <p><b>Gab Makimkim</b><br>AdVance</p>
        </div>
        <div>
          <img src="/img/members/pictures/JINGCO_1.jpg">
          <p><b>Jeo Jingco</b><br>AdSchool</p>
        </div>
        <div>
          <img src="/img/members/pictures/SUMABAT_2.jpg">
          <p><b>Carlo Sumabat</b><br>AdSchool</p>
        </div>
        <div>
          <img src="/img/members/pictures/GUERRERO_1.jpg">
          <p><b>Amirah Guerrero</b><br>AdSchool</p>
        </div>
        <div>
          <img src="/img/members/pictures/DUGUIANG_2.jpg">
          <p><b>Mac Duguiang</b><br>Punch Creatives</p>
        </div>
        <div>
          <img src="/img/members/pictures/UP-Advertising-Core-Logo-MASTER.png">
          <p><b>Jana Marco</b><br>Punch Creatives</p>
        </div>
        <div>
          <img src="/img/members/pictures/MONTESA_1.jpg">
          <p><b>Aaron Montesa</b><br>Punch Creatives</p>
        </div>
        <div>
          <img src="/img/members/pictures/FLORES_3.jpg">
          <p><b>Jethro Flores</b><br>Punch Creatives</p>
        </div>
        <div>
          <img src="/img/members/pictures/AMPONGAN_1.jpg">
          <p><b>Trishia Ampongan</b><br>Punch Creatives</p>
        </div>
        <div>
          <img src="/img/members/pictures/UP-Advertising-Core-Logo-MASTER.png">
          <p><b>Bea Bernardo</b><br>Punch Creatives</p>
        </div>
        <div>
          <img src="/img/members/pictures/GAW_1.jpg">
          <p><b>Sam Gaw</b><br>Punch Creatives</p>
        </div>
      </div>
    </div>
  </div>
</div>