<div>
  <img src="/img/members/pictures/DUGUIANG_2.jpg">
  <p><br><b>Mac Duguiang</b><br>AdCore Week 13</p>
</div>
<div>
  <img src="/img/members/pictures/PABILING_3-2.jpg">
  <p><br><b>Robert Pabiling</b><br>AdCore Week 13</p>
</div>
<div>
  <img src="/img/members/pictures/default.png">
  <p><br><b>Aster Monstrales</b><br>AdCore Week 13</p>
</div>
<div>
  <img src="/img/members/pictures/SISON_3.jpg">
  <p><br><b>Thomas Sison</b><br>AdCore Week 13</p>
</div>
<div>
  <img src="/img/members/pictures/SUMABAT_2.jpg">
  <p><br><b>Carlo Sumabat</b><br>AdCore Week 13</p>
</div>
<div>
  <img src="/img/members/pictures/default.png">
  <p><br><b>Chloe Teves</b><br>AdHere</p>
</div>
<div>
  <img src="/img/members/pictures/default.png">
  <p><br><b>Isabella Ferrer</b><br>AdHere</p>
</div>
<div>
  <img src="/img/members/pictures/default.png">
  <p><br><b>Reena Mendoza</b><br>AdHere</p>
</div>
<div>
  <img src="/img/members/pictures/LEE_3.jpg">
  <p><br><b>Patti Lee</b><br>AdHesive</p>
</div>
<div>
  <img src="/img/members/pictures/CAPALAD_1.jpg">
  <p><br><b>Patrick Capalad</b><br>AdHesive</p>
</div>
<div>
  <img src="/img/members/pictures/default.png">
  <p><br><b>Shai Baterbonia</b><br>AdHesive</p>
</div>
<div>
  <img src="/img/members/pictures/AYSON_1.jpg">
  <p><br><b>Rico Ayson</b><br>AdDition</p>
</div>
<div>
  <img src="/img/members/pictures/GREGORIO_1.jpg">
  <p><br><b>Apple Gregorio</b><br>AdDition</p>
</div>
<div>
  <img src="/img/members/pictures/SARMIENTO_2.jpg">
  <p><br><b>Chenny Sarmiento</b><br>AdDition</p>
</div>
<div>
  <img src="/img/members/pictures/MONTESA_1.jpg">
  <p><br><b>Aaron Montesa</b><br>AdDition</p>
</div>
<div>
  <img src="/img/members/pictures/JINGCO_1.jpg">
  <p><br><b>Jeo Jingco</b><br>AdSchool</p>
</div>
<div>
  <img src="/img/members/pictures/SUMABAT_2.jpg">
  <p><br><b>Carlo Sumabat</b><br>AdSchool</p>
</div>
<div>
  <img src="/img/members/pictures/GUERRERO_1.jpg">
  <p><br><b>Amirah Guerrero</b><br>AdSchool</p>
</div>
<div>
  <img src="/img/members/pictures/default.png">
  <p><br><b>Rico Ayson</b><br>AdVance</p>
</div>
<div>
  <img src="/img/members/pictures/default.png">
  <p><br><b>Sophia Isip</b><br>AdVance</p>
</div>
<div>
  <img src="/img/members/pictures/default.png">
  <p><br><b>Gab Makimkim</b><br>AdVance</p>
</div>
<div>
  <img src="/img/members/pictures/default.png">
  <p><br><b>Vinny Reyes</b><br>AdVocate</p>
</div>
<div>
  <img src="/img/members/pictures/FLORES_3.jpg">
  <p><br><b>Jethro Flores</b><br>AdVocate</p>
</div>
<div>
  <img src="/img/members/pictures/default.png">
  <p><br><b>Isa Meriales</b><br>AdVocate</p>
</div>
<div>
  <img src="/img/members/pictures/default.png">
  <p><br><b>Christine Cordero</b><br>AdVocate</p>
</div>
<div>
  <img src="/img/members/pictures/BAUTISTA_1.jpg">
  <p><br><b>Christian Bautista</b><br>ComElec</p>
</div>
<div>
  <img src="/img/members/pictures/default.png">
  <p><br><b>Sean Thakur</b><br>ComElec</p>
</div>
<div>
  <img src="/img/members/pictures/MANALILI_1.jpg">
  <p><br><b>Sam Manalili</b><br>InfoCore</p>
</div>
<div>
  <img src="/img/members/pictures/DIESTRO_2.jpg">
  <p><br><b>Lou Diestro</b><br>InfoCore</p>
</div>
<div>
  <img src="/img/members/pictures/MARCOL_3.jpg">
  <p><br><b>Leonard Marco</b><br>InfoCore</p>
</div>
<div>
  <img src="/img/members/pictures/MARCOL_3.jpg">
  <p><br><b>Leonard Marco</b><br>Juiceletter</p>
</div>
<div>
  <img src="/img/members/pictures/RAMOSG_1.jpg">
  <p><br><b>Gab Ramos</b><br>Juiceletter</p>
</div>
<div>
  <img src="/img/members/pictures/MACTAL_2.jpg">
  <p><br><b>Katrina Mactal</b><br>Juiceletter</p>
</div>
<div>
  <img src="/img/members/pictures/DELIZO_1.jpg">
  <p><br><b>Hernan Delizo</b><br>Juiceletter</p>
</div>
<div>
  <img src="/img/members/pictures/default.png">
  <p><br><b>Aster Mostrales</b><br>Juiceletter</p>
</div>
<div>
  <img src="/img/members/pictures/default.png">
  <p><br><b>Lois Bernal</b><br>Juiceletter</p>
</div>
<div>
  <img src="/img/members/pictures/SARMIENTO_2.jpg">
  <p><br><b>Chenny Sarmiento</b><br>Juiceletter</p>
</div>
<div>
  <img src="/img/members/pictures/DUGUIANG_2.jpg">
  <p><br><b>Mac Duguiang</b><br>Punch Creatives</p>
</div>
<div>
  <img src="/img/members/pictures/default.png">
  <p><br><b>Jana Marco</b><br>Punch Creatives</p>
</div>
<div>
  <img src="/img/members/pictures/MONTESA_1.jpg">
  <p><br><b>Aaron Montesa</b><br>Punch Creatives</p>
</div>
<div>
  <img src="/img/members/pictures/FLORES_3.jpg">
  <p><br><b>Jethro Flores</b><br>Punch Creatives</p>
</div>
<div>
  <img src="/img/members/pictures/AMPONGAN_1.jpg">
  <p><br><b>Trishia Ampongan</b><br>Punch Creatives</p>
</div>
<div>
  <img src="/img/members/pictures/default.png">
  <p><br><b>Bea Bernardo</b><br>Punch Creatives</p>
</div>
<div>
  <img src="/img/members/pictures/GAW_1.jpg">
  <p><br><b>Sam Gaw</b><br>Punch Creatives</p>
</div>
<div>
  <img src="/img/members/pictures/default.png">
  <p><br><b>Bea Bernardo</b><br>Teenspeak X</p>
</div>
<div>
  <img src="/img/members/pictures/default.png">
  <p><br><b>Philip Sy</b><br>Teenspeak X</p>
</div>
<div>
  <img src="/img/members/pictures/AMPONGAN_1.jpg">
  <p><br><b>Trishia Ampongan</b><br>Teenspeak X</p>
</div>
<div>
  <img src="/img/members/pictures/SISON_3.jpg">
  <p><br><b>Thomas Sison</b><br>Teenspeak X</p>
</div>
<div>
  <img src="/img/members/pictures/RASALAN_1.jpg">
  <p><br><b>Marfil Rasalan</b><br>University Job Fair (UJF) 2019</p>
</div>
<div>
  <img src="/img/members/pictures/default.png">
  <p><br><b>Jasperr Ang</b><br>University Job Fair (UJF) 2019</p>
</div>
<div>
  <img src="/img/members/pictures/default.png">
  <p><br><b>Karen Joson</b><br>University Job Fair (UJF) 2019</p>
</div>
<div>
  <img src="/img/members/pictures/default.png">
  <p><br><b>Dave Pahila</b><br>University Job Fair (UJF) 2019</p>
</div>
<div>
  <img src="/img/members/pictures/default.png">
  <p><br><b>Gabby Riña</b><br>UP Fair 2019</p>
</div>
<div>
  <img src="/img/members/pictures/default.png">
  <p><br><b>Jula del Rosario</b><br>UP Fair 2019</p>
</div>
<div>
  <img src="/img/members/pictures/default.png">
  <p><br><b>Vinny Reyes</b><br>UP Fair 2019</p>
</div>
<div>
  <img src="/img/members/pictures/default.png">
  <p><br><b>Jana Marco</b><br>UP Fair 2019</p>
</div>
<div>
  <img src="/img/members/pictures/LEONARDO_2.jpg">
  <p><br><b>Harold Leonardo</b><br>UP Fair 2019</p>
</div>
<div>
  <img src="/img/members/pictures/RAMOSG_1.jpg">
  <p><br><b>Gab Ramos</b><br>UP Fair 2019</p>
</div>
