<div>
	<img src="/img/members/pictures/default.png">
	<p><br><b>Alex Abella</b><br>ExeCore</p>
</div>
<div>
	<img src="/img/members/pictures/default.png">
	<p><br><b>Kyle Dominic Aguirre</b><br>Punch Creatives</p>
</div>
<div>
	<img src="/img/members/pictures/default.png">
	<p><br><b>Kyle Dominic Aguirre</b><br>Juiceletter</p>
</div>
<div>
	<img src="/img/members/pictures/default.png">
	<p><br><b>Keisha Alonzo</b><br>AdDition</p>
</div>
<div>
	<img src="/img/members/pictures/default.png">
	<p><br><b>Keisha Alonzo</b><br>Teenspeak</p>
</div>
<div>
	<img src="/img/members/pictures/AMPONGAN.jpg">
	<p><br><b>Trisha Ampongan</b><br>AdDition</p>
</div>
<div>
	<img src="/img/members/pictures/AYSON.jpg">
	<p><br><b>Rico Ayson</b><br>Punch Creatives</p>
</div>
<div>
	<img src="/img/members/pictures/BERNARDO.jpg">
	<p><br><b>Issa Bernardo</b><br>University Freshie Month</p>
</div>
<div>
	<img src="/img/members/pictures/default.png">
	<p><br><b>Louis Bornilla</b><br>Juiceletter</p>
</div>
<div>
	<img src="/img/members/pictures/default.png">
	<p><br><b>Samantha Bumanlag</b><br>ACLE</p>
</div>
<div>
	<img src="/img/members/pictures/default.png">
	<p><br><b>Sam Bumanlag</b><br>UP Fair</p>
</div>
<div>
	<img src="/img/members/pictures/CAPALAD.jpg">
	<p><br><b>Patric Capalad</b><br>UP Fair</p>
</div>
<div>
	<img src="/img/members/pictures/default.png">
	<p><br><b>Kat Colmenar</b><br>Punch Creatives</p>
</div>
<div>
	<img src="/img/members/pictures/default.png">
	<p><br><b>Aica Cosio</b><br>BrandCore</p>
</div>
<div>
	<img src="/img/members/pictures/default.png">
	<p><br><b>Lourdes Dimalanta</b><br>Punch Creatives</p>
</div>
<div>
	<img src="/img/members/pictures/default.png">
	<p><br><b>Lourdes Dimalanta</b><br>Juiceletter</p>
</div>
<div>
	<img src="/img/members/pictures/default.png">
	<p><br><b>Nika Enriquez</b><br>AdVance</p>
</div>
<div>
	<img src="/img/members/pictures/FLORES.jpg">
	<p><br><b>Jethro Flores</b><br>Juiceletter</p>
</div>
<div>
	<img src="/img/members/pictures/GAW.jpg">
	<p><br><b>Sam Gaw</b><br>University Job Fair</p>
</div>
<div>
	<img src="/img/members/pictures/GAW.jpg">
	<p><br><b>Sam Gaw</b><br>University Freshie Month</p>
</div>
<div>
	<img src="/img/members/pictures/GUELA.jpg">
	<p><br><b>Angelica Guela</b><br>ACLE</p>
</div>
<div>
	<img src="/img/members/pictures/IGNACIO.jpg">
	<p><br><b>John Ray Ignacio</b><br>AdVance</p>
</div>
<div>
	<img src="/img/members/pictures/JINGCO.jpg">
	<p><br><b>Jeo Jingco</b><br>AdHesive</p>
</div>
<div>
	<img src="/img/members/pictures/LEE.jpg">
	<p><br><b>Patti Lee</b><br>Teenspeak</p>
</div>
<div>
	<img src="/img/members/pictures/default.png">
	<p><br><b>Gabriell Makimkim</b><br>University Job Fair</p>
</div>
<div>
	<img src="/img/members/pictures/default.png">
	<p><br><b>Reena Mendoza</b><br>ACLE</p>
</div>
<div>
	<img src="/img/members/pictures/default.png">
	<p><br><b>Carlo Muldong</b><br>BrandCore</p>
</div>
<div>
	<img src="/img/members/pictures/ONG.jpg">
	<p><br><b>Lianne Ong</b><br>AdCore Week</p>
</div>
<div>
	<img src="/img/members/pictures/PABILING.jpg">
	<p><br><b>Robert Pabiling</b><br>Teenspeak</p>
</div>
<div>
	<img src="/img/members/pictures/PALARUAN.jpg">
	<p><br><b>Ina Palaruan</b><br>AdVance</p>
</div>
<div>
	<img src="/img/members/pictures/default.png">
	<p><br><b>Aura Pepito</b><br>AdDition</p>
</div>
<div>
	<img src="/img/members/pictures/default.png">
	<p><br><b>Chloe Ponce</b><br>University Freshie Month</p>
</div>
<div>
	<img src="/img/members/pictures/RAMOS.jpg">
	<p><br><b>Gab Ramos</b><br>AVP</p>
</div>
<div>
	<img src="/img/members/pictures/RASALAN.jpg">
	<p><br><b>Marfil Rasalan</b><br>AdCore Week</p>
</div>
<div>
	<img src="/img/members/pictures/RASALAN.jpg">
	<p><br><b>Marfil Rasalan</b><br>University Freshie Month</p>
</div>
<div>
	<img src="/img/members/pictures/default.png">
	<p><br><b>Joyce Reyes</b><br>Punch Creatives</p>
</div>
<div>
	<img src="/img/members/pictures/default.png">
	<p><br><b>Vinny Reyes</b><br>AdDition</p>
</div>
<div>
	<img src="/img/members/pictures/SANCHEZK.jpg">
	<p><br><b>Kim Sanchez</b><br>AdHesive</p>
</div>
<div>
	<img src="/img/members/pictures/SANTOS.jpg">
	<p><br><b>Zion Santos</b><br>Punch Creatives</p>
</div>
<div>
	<img src="/img/members/pictures/SARMIENTO.jpg">
	<p><br><b>Chenny Sarmiento</b><br>AdVocate</p>
</div>
<div>
	<img src="/img/members/pictures/SARMIENTO.jpg">
	<p><br><b>Chenny Sarmiento</b><br>BrandCore</p>
</div>
<div>
	<img src="/img/members/pictures/SISON.jpg">
	<p><br><b>Thomas Sison</b><br>UP Fair</p>
</div>
<div>
	<img src="/img/members/pictures/SUMABAT.jpg">
	<p><br><b>Carlo Sumabat</b><br>Juiceletter</p>
</div>
<div>
	<img src="/img/members/pictures/default.png">
	<p><br><b>Philip Sy</b><br>AdVocate</p>
</div>
<div>
	<img src="/img/members/pictures/default.png">
	<p><br><b>Ryan Tadina</b><br>AdCore Week</p>
</div>
