<div>
	<img src="/img/members/pictures/ALAMILLO.jpg">
	<p><br><b>Xyro Alamillo</b><br>AVP</p>
</div>
<div>
	<img src="/img/members/pictures/CALLEJA.jpg">
	<p><br><b>Koi Calleja</b><br>Punch Creatives</p>
</div>
<div>
	<img src="/img/members/pictures/CALLEJA.jpg">
	<p><br><b>Koi Calleja</b><br>Juiceletter</p>
</div>
<div>
	<img src="/img/members/pictures/default.png">
	<p><br><b>Enzo Canta</b><br>Punch Creatives</p>
</div>
<div>
	<img src="/img/members/pictures/default.png">
	<p><br><b>Enzo Canta</b><br>AdHesive</p>
</div>
<div>
	<img src="/img/members/pictures/CHING.jpg">
	<p><br><b>Carmelie Ching</b><br>AdVance</p>
</div>
<div>
	<img src="/img/members/pictures/default.png">
	<p><br><b>Carissa Coronel</b><br>University Job Fair</p>
</div>
<div>
	<img src="/img/members/pictures/DAVID.jpg">
	<p><br><b>Danica David</b><br>AdDition</p>
</div>
<div>
	<img src="/img/members/pictures/default.png">
	<p><br><b>Ian de Dios</b><br>ACLE</p>
</div>
<div>
	<img src="/img/members/pictures/default.png">
	<p><br><b>Joaquin de Joya</b><br>Punch Creatives</p>
</div>
<div>
	<img src="/img/members/pictures/default.png">
	<p><br><b>Hazel de Perio</b><br>ACLE</p>
</div>
<div>
	<img src="/img/members/pictures/default.png">
	<p><br><b>Mariz Domingo</b><br>AdDition</p>
</div>
<div>
	<img src="/img/members/pictures/default.png">
	<p><br><b>Marianne Fernandez</b><br>Punch Creatives</p>
</div>
<div>
	<img src="/img/members/pictures/default.png">
	<p><br><b>Kayla Ganal</b><br>AdVocate</p>
</div>
<div>
	<img src="/img/members/pictures/default.png">
	<p><br><b>Janna Gumalo</b><br>AdCore Week</p>
</div>
<div>
	<img src="/img/members/pictures/LIM.jpg">
	<p><br><b>Aed Lim</b><br>UP Fair</p>
</div>
<div>
	<img src="/img/members/pictures/MACTAL.jpg">
	<p><br><b>Trina Mactal</b><br>AdCore Week</p>
</div>
<div>
	<img src="/img/members/pictures/default.png">
	<p><br><b>Christian Mallorca</b><br>Punch Creatives</p>
</div>
<div>
	<img src="/img/members/pictures/default.png">
	<p><br><b>Christian Mallorca</b><br>Teenspeak</p>
</div>
<div>
	<img src="/img/members/pictures/default.png">
	<p><br><b>Joseph Paraiso</b><br>Teenspeak</p>
</div>
<div>
	<img src="/img/members/pictures/default.png">
	<p><br><b>Yuan Rivera</b><br>AdVance</p>
</div>
<div>
	<img src="/img/members/pictures/default.png">
	<p><br><b>Yuan Rivera</b><br>Juiceletter</p>
</div>
<div>
	<img src="/img/members/pictures/default.png">
	<p><br><b>Kael Sulit</b><br>AdHesive</p>
</div>
<div>
	<img src="/img/members/pictures/default.png">
	<p><br><b>Rochel Tan</b><br>ExeCore</p>
</div>
<div>
	<img src="/img/members/pictures/default.png">
	<p><br><b>Ginger Vidal</b><br>Punch Creatives</p>
</div>
<div>
	<img src="/img/members/pictures/default.png">
	<p><br><b>Ginger Vidal</b><br>University Freshie Month</p>
</div>
