<div>
  <img src="/img/members/pictures/RODRIGUEZ_3.jpg">
  <p><br><b>Brandon Rodriguez</b><br>AdCore Week 13</p>
</div>
<div>
  <img src="/img/members/pictures/TANR_2.jpg">
  <p><br><b>Rochel Tan</b><br>AdCore Week 13</p>
</div>
<div>
  <img src="/img/members/pictures/LIM_3.jpg">
  <p><br><b>Adrey Lim</b><br>AdCore Week 13</p>
</div>
<div>
  <img src="/img/members/pictures/LIM_3.jpg">
  <p><br><b>Adrey Lim</b><br>AdHesive</p>
</div>
<div>
  <img src="/img/members/pictures/TANR_2.jpg">
  <p><br><b>Rochel Tan</b><br>AdHesive</p>
</div>
<div>
  <img src="/img/members/pictures/CHING_1.jpg">
  <p><br><b>Carelie Ching</b><br>AdDition</p>
</div>
<div>
  <img src="/img/members/pictures/default.png">
  <p><br><b>Eunice Chua</b><br>AdDition</p>
</div>
<div>
  <img src="/img/members/pictures/DAVID_1.jpg">
  <p><br><b>Dana David</b><br>AdSchool</p>
</div>
<div>
  <img src="/img/members/pictures/default.png">
  <p><br><b>Ian De Dios</b><br>AdSchool</p>
</div>
<div>
  <img src="/img/members/pictures/HUERTAS_2.jpg">
  <p><br><b>Ruth Huertas</b><br>AdVance</p>
</div>
<div>
  <img src="/img/members/pictures/DELAPAZ_1.jpg">
  <p><br><b>Kimi dela Paz</b><br>AdVance</p>
</div>
<div>
  <img src="/img/members/pictures/RODRIGUEZ_3.jpg">
  <p><br><b>Brandon Rodriguez</b><br>AdVocate</p>
</div>
<div>
  <img src="/img/members/pictures/BERNARDOI_1.jpg">
  <p><br><b>Ivan Bernardo</b><br>ComElec</p>
</div>
<div>
  <img src="/img/members/pictures/default.png">
  <p><br><b>Chelsea Tuazon</b><br>Juiceletter</p>
</div>
<div>
  <img src="/img/members/pictures/SANCHEZ_3.jpg">
  <p><br><b>Zeus Sanchez</b><br>Punch Creatives</p>
</div>
<div>
  <img src="/img/members/pictures/default.png">
  <p><br><b>Carissa Coronel</b><br>Punch Creatives</p>
</div>
<div>
  <img src="/img/members/pictures/VIDAL_1-2.jpg">
  <p><br><b>Ginger Vidal</b><br>Punch Creatives</p>
</div>
<div>
  <img src="/img/members/pictures/STAANA_3.jpg">
  <p><br><b>Dro Sta. Ana</b><br>Teenspeak X</p>
</div>
<div>
  <img src="/img/members/pictures/ALAMILLO_2.jpg">
  <p><br><b>Xyro Alamillo</b><br>Teenspeak X</p>
</div>
<div>
  <img src="/img/members/pictures/default.png">
  <p><br><b>Kael Sulit</b><br>Teenspeak X</p>
</div>
<div>
  <img src="/img/members/pictures/default.png">
  <p><br><b>Kayla Ganal</b><br>University Job Fair (UJF) 2019</p>
</div>
<div>
  <img src="/img/members/pictures/SANTOS_1.jpg">
  <p><br><b>Zion Santos</b><br>University Job Fair (UJF) 2019</p>
</div>
<div>
  <img src="/img/members/pictures/default.png">
  <p><br><b>Eunice Chua</b><br>UP Fair 2019</p>
</div>
<div>
  <img src="/img/members/pictures/default.png">
  <p><br><b>Dani Corpuz</b><br>UP Fair 2019</p>
</div>
