<header class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">UP JMA</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a id="nav-home" href="./">Home</a></li>
        <li><a id="nav-about" href="./">About</a></li>
        <li><a id="nav-events" href="./">Events</a></li>
        <li><a id="nav-members" href="./">Members</a></li>
        <li><a id="nav-kids" href="./">KIDS</a></li>
        <li><a id="nav-contact" href="./">Contact</a></li>
        <!--li><a class="btn" data-toggle="modal" data-target="#login">Login</a></li-->
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</header>

