<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link href="/img/favicon.ico" rel="icon" type="image/x-icon">
	<title>{% if page.title != 'Home' %}{{ page.title}}{{' | '}}{{site.title }}{% else %}{{ site.title }}{% endif %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta property="og:image" content="/img/meta.jpg" />
	<meta property="og:title" content="UP Advertising Core" />
	<meta property="og:description" content="The UP Advertising Core is the only student run, not-for-profit organization and advertising agency based in the Cesar E.A. Virata School of Business, University of the Philippines, Diliman." />

	<!-- slick -->
	<!-- Add the slick-theme.css if you want default styling -->
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css"/>
<!-- Add the slick-theme.css if you want default styling -->
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css"/>
	<link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
	<!-- <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script> -->
	<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>


	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/font-awesome.min.css">
	<link rel="stylesheet" href="/css/custom.css">
	<!-- <script src="/js/jquery-2.1.1.min.js"></script> -->
	<script src="/js/bootstrap.min.js"></script>
	<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

</head>
