<header id="navbar" class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ site.baseurl }}">UP Advertising Core</a>
    </div>
    <div class="navbar-toggle">
      <a onclick="toggle()">&#xf0c9;</a>
    </div>
    <div class="navbar-menu" id="navbar-menu">
      <a onclick="toggle()">&#xf00d;</a>
      <ul>
<li><a href="{{ site.baseurl }}">Home</a></li>
<li><a href="{{ site.baseurl }}#services">Services</a>
{% include ul-services.html %}
</li>
<li><a href="{{ site.baseurl }}/about/">About</a>
{% include ul-about.html %}
</li>
<li><a href="{{ site.baseurl }}/members/">Members</a>
{% include ul-members.html %}
</li>
</ul>
{% include ul-social.html %}
    </div>
  </div>
</header>