<header id="navbar" class="navbar navbar-default" role="navigation">
  <div class="container" style="width: 80% !important;">
    <div class="navbar-header">
      <a class="navbar-brand navbar-img" href="/#home"><img src="/img/UP-Advertising-Core-Logo-MASTER.png" alt="UP AdCore" id="logo" width="100" height="100"></a>
      <nav>
        <ul>
            <li><a href="/#home">HOMES</a></li>
            <li><a href="/about/">ABOUT</a>
                <ul>
                    <li><a href="/about/#success">OUR SUCCESS STORIES</a></li>
                    <li><a href="/about/#design">WHAT WE DO</a></li>
                    <li><a href="/about/#brand">JUICELETTER</a></li>
                    <li><a href="/about/#partner">OUR AFFILIATION</a></li>
                </ul>
            </li>
            <li><a href="/services/">SERVICES</a>
                <ul>
                    <li><a href="/services/#teenspeak">TEENSPEAK</a></li>
                    <li><a href="/services/#portfolio">PUNCH CREATIVES</a></li>
                    <li><a href="/services/#clients">PAST CLIENTS</a></li>
                </ul>
            </li>
            <li><a href="/members/">MEMBERS</a>
                <ul>
                    <li><a href="/members/#space_pls">OUR PEOPLE</a></li>
                    <li><a href="/members/#application-process">APPLICATION PROCESS</a></li>
                </ul>
            </li>
            <li><a href="/contact/">CONTACT US</a>
                <ul>
                    <li><a href="/contact/">APPLY AS A MEMBER</a></li>
                    <li><a href="/contact/">WORK WITH US</a></li>
                    <li><a href="/contact/">CONTACT DETAILS</a></li>
                </ul>
            </li>
        </ul>
    </nav>
      <!-- <div class="navbar-dropdown">
        <button class="dropbtn">
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="navbar-dropdown-content">
          <a href="/about/#recognition">Our Success Stories</a>
          <a href="/about/#engagements">What We Engage In</a>
          <a href="/about/#juiceletter">Our Official Magazine</a>
          <a href="/about/#panafao">Our Affiliation</a>
        </div>
      </div>
      <div class="navbar-dropdown">
        <button class="dropbtn">
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="navbar-dropdown-content">
          <a href="/services/#clients">Our Past Clients</a>
          <a href="/services/#teenspeak">Teenspeak</a>
          <a href="/services/#portfolio">What We Do</a>
        </div>
      </div>
      <div class="navbar-dropdown">
        <button class="dropbtn">
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="navbar-dropdown-content">
          <a href="/members/#application">Application Process</a>
          <a href="/members/#execore">The Executive Core</a>
          <a href="/members/#departments">The Departments &amp; Teams</a>
          <a href="/members/#memcard">Membership Card</a>
        </div>
      </div> -->

    </div>
  </div>
</header>
