<div>
  <img src="/img/members/pictures/MONTERO_3.jpg">
  <p><br><b>Jesse Montero</b><br>AdCore Week 13</p>
</div>
<div>
  <img src="/img/members/pictures/USON_2-2.jpg">
  <p><br><b>Gio Uson</b><br>AdCore Week 13</p>
</div>
<div>
  <img src="/img/members/pictures/MARQUEZ_2.jpg">
  <p><br><b>Ysa Marquez</b><br>AdHere</p>
</div>
<div>
  <img src="/img/members/pictures/default.png">
  <p><br><b>Red Nalupa</b><br>AdHere</p>
</div>
<div>
  <img src="/img/members/pictures/NAKPIL_1.jpg">
  <p><br><b>Micka Nacpil</b><br>AdHesive</p>
</div>
<div>
  <img src="/img/members/pictures/default.png">
  <p><br><b>Bianca Bautista</b><br>AdHesive</p>
</div>
<div>
  <img src="/img/members/pictures/DELEONC_3.jpg">
  <p><br><b>Cait De Leon</b><br>AdHesive</p>
</div>
<div>
  <img src="/img/members/pictures/MANIEGO_2.jpg">
  <p><br><b>Rai Maniego</b><br>AdHesive</p>
</div>
<div>
  <img src="/img/members/pictures/GUELA_1.jpg">
  <p><br><b>Angel Guela</b><br>AdDition</p>
</div>
<div>
  <img src="/img/members/pictures/default.png">
  <p><br><b>Margaux Buñales</b><br>AdDition</p>
</div>
<div>
  <img src="/img/members/pictures/VILLANUEVA_1.jpg">
  <p><br><b>Jee Villanueva</b><br>AdDition</p>
</div>
<div>
  <img src="/img/members/pictures/PACIS_3.jpg">
  <p><br><b>Ted Pacis</b><br>AdSchool</p>
</div>
<div>
  <img src="/img/members/pictures/VIDALP_2-2.jpg">
  <p><br><b>Pat Vidal</b><br>AdVance</p>
</div>
<div>
  <img src="/img/members/pictures/YAMADA_1-2.jpg">
  <p><br><b>Regina Yamada</b><br>AdVocate</p>
</div>
<div>
  <img src="/img/members/pictures/DELOSSANTOS_3.jpg">
  <p><br><b>Ichan delos Santos</b><br>AdVocate</p>
</div>
<div>
  <img src="/img/members/pictures/SANTOS_1.jpg">
  <p><br><b>Den Santos</b><br>ComElec</p>
</div>
<div>
  <img src="/img/members/pictures/BUNALES_2.jpg">
  <p><br><b>Margaux Buñales</b><br>InfoCore</p>
</div>
<div>
  <img src="/img/members/pictures/DELOSSANTOS_3.jpg">
  <p><br><b>Ichan Delos Santos</b><br>Juiceletter</p>
</div>
<div>
  <img src="/img/members/pictures/VILLANUEVA_1.jpg">
  <p><br><b>Jee Villanueva</b><br>Juiceletter</p>
</div>
<div>
  <img src="/img/members/pictures/SOSA_3.jpg">
  <p><br><b>Gideon Sosa</b><br>Punch Creatives</p>
</div>
<div>
  <img src="/img/members/pictures/NAKPIL_1.jpg">
  <p><br><b>Micka Nacpil</b><br>Punch Creatives</p>
</div>
<div>
  <img src="/img/members/pictures/PARABAS_2.jpg">
  <p><br><b>Andre Parabas</b><br>Punch Creatives</p>
</div>
<div>
  <img src="/img/members/pictures/default.png">
  <p><br><b>Angela Legaspi</b><br>Teenspeak X</p>
</div>
<div>
  <img src="/img/members/pictures/SORIANO_2.jpg">
  <p><br><b>Kate Soriano</b><br>Teenspeak X</p>
</div>
<div>
  <img src="/img/members/pictures/CADIZ_1.jpg">
  <p><br><b>Dom Cadiz</b><br>University Job Fair (UJF) 2019</p>
</div>
<div>
  <img src="/img/members/pictures/CULANGAN_3.jpg">
  <p><br><b>Judy Culangan</b><br>University Job Fair (UJF) 2019</p>
</div>
<div>
  <img src="/img/members/pictures/SOSA_3.jpg">
  <p><br><b>Gideon Sosa</b><br>UP Fair 2019</p>
</div>
<div>
  <img src="/img/members/pictures/default.png">
  <p><br><b>Janna Gumalo</b><br>UP Fair 2019</p>
</div>
