<div>
	<img src="/img/members/pictures/BAUTISTA.jpg">
	<p><b>Bianca Bautista</b><br>AdVance</p>
</div>
<div>
	<img src="/img/members/pictures/">
	<p><b>Anton Baysa</b><br>AdDition</p>
</div>
<div>
	<img src="/img/members/pictures/BUÑALES.jpg">
	<p><b>Margaux Buñales</b><br>AdHesive</p>
</div>
<div>
	<img src="/img/members/pictures/">
	<p><b>Dominique Cadiz</b><br>Punch Creatives</p>
</div>
<div>
	<img src="/img/members/pictures/">
	<p><b>Nikki Calizo</b><br>Punch Creatives</p>
</div>
<div>
	<img src="/img/members/pictures/CRUZ.jpg">
	<p><b>Daniela Cruz</b><br>AdVocate</p>
</div>
<div>
	<img src="/img/members/pictures/">
	<p><b>Cait de Leon</b><br>AdDition</p>
</div>
<div>
	<img src="/img/members/pictures/">
	<p><b>Patricia Lumanog</b><br>AdDition</p>
</div>
<div>
	<img src="/img/members/pictures/">
	<p><b>Leonard Marco</b><br>AdHesive</p>
</div>
<div>
	<img src="/img/members/pictures/">
	<p><b>Jhude Marique</b><br>University Freshie Month</p>
</div>
<div>
	<img src="/img/members/pictures/">
	<p><b>Ysa Marquez</b><br>AdHesive</p>
</div>
<div>
	<img src="/img/members/pictures/MONTESA.jpg">
	<p><b>Aaron Montesa</b><br>University Job Fair</p>
</div>
<div>
	<img src="/img/members/pictures/MONTESA.jpg">
	<p><b>Aaron Montesa</b><br>University Freshie Month</p>
</div>
<div>
	<img src="/img/members/pictures/NACPIL.jpg">
	<p><b>Micka Nacpil</b><br>ACLE</p>
</div>
<div>
	<img src="/img/members/pictures/NACPIL.jpg">
	<p><b>Micka Nacpil</b><br>Juiceletter</p>
</div>
<div>
	<img src="/img/members/pictures/">
	<p><b>Czai Paglinawan</b><br>AdCore Week</p>
</div>
<div>
	<img src="/img/members/pictures/">
	<p><b>Czai Paglinawan</b><br>BrandCore</p>
</div>
<div>
	<img src="/img/members/pictures/">
	<p><b>Raechel Panerio</b><br>Punch Creatives</p>
</div>
<div>
	<img src="/img/members/pictures/PARABAS.jpg">
	<p><b>Andre Parabas</b><br>Juiceletter</p>
</div>
<div>
	<img src="/img/members/pictures/PARABAS.jpg">
	<p><b>Andre Parabas</b><br>UP Fair</p>
</div>
<div>
	<img src="/img/members/pictures/">
	<p><b>John Samarita</b><br>AdDition</p>
</div>
<div>
	<img src="/img/members/pictures/SORIANO.jpg">
	<p><b>Kate Soriano</b><br>AVP</p>
</div>
<div>
	<img src="/img/members/pictures/VALENCIA.jpg">
	<p><b>Geroe Valencia</b><br>ExeCore</p>
</div>
<div>
	<img src="/img/members/pictures/">
	<p><b>Joe Villanueva</b><br>Teenspeak</p>
</div>
