<div>
	<img src="/img/members/pictures/ALIPAO.jpg">
	<p><b>Athena Alipao</b><br>Juiceletter</p>
</div>
<div>
	<img src="/img/members/pictures/AQUIAS.jpg">
	<p><b>Cessie Aquias</b><br>BrandCore</p>
</div>
<div>
	<img src="/img/members/pictures/AZORES.jpg">
	<p><b>Gianina Azores</b><br>AVP</p>
</div>
<div>
	<img src="/img/members/pictures/">
	<p><b>Hannah Banocnoc</b><br>BrandCore</p>
</div>
<div>
	<img src="/img/members/pictures/">
	<p><b>Mitzie Bava</b><br>UP Fair</p>
</div>
<div>
	<img src="/img/members/pictures/">
	<p><b>Issa Canlas</b><br>BrandCore</p>
</div>
<div>
	<img src="/img/members/pictures/">
	<p><b>Daniella Corpuz</b><br>University Job Fair</p>
</div>
<div>
	<img src="/img/members/pictures/">
	<p><b>Dapphne Cresini</b><br>University Job Fair</p>
</div>
<div>
	<img src="/img/members/pictures/">
	<p><b>Dapphne Cresini</b><br>Teenspeak</p>
</div>
<div>
	<img src="/img/members/pictures/DANDAN.jpg">
	<p><b>Frances Dandan</b><br>Juiceletter</p>
</div>
<div>
	<img src="/img/members/pictures/DANDAN.jpg">
	<p><b>Frances Dandan</b><br>UP Fair</p>
</div>
<div>
	<img src="/img/members/pictures/DANDAN.jpg">
	<p><b>Frances Dandan</b><br>University Freshie Month</p>
</div>
<div>
	<img src="/img/members/pictures/DEATO.jpg">
	<p><b>Ericka Deato</b><br>ACLE</p>
</div>
<div>
	<img src="/img/members/pictures/DEATO.jpg">
	<p><b>Ericka Deato</b><br>University Freshie Month</p>
</div>
<div>
	<img src="/img/members/pictures/DIY.jpg">
	<p><b>Luis Diy</b><br>Teenspeak</p>
</div>
<div>
	<img src="/img/members/pictures/EUGENIO.jpg">
	<p><b>Ara Eugenio</b><br>ExeCore</p>
</div>
<div>
	<img src="/img/members/pictures/FRESNOZA.jpg">
	<p><b>Ina Fresnoza</b><br>AdDition</p>
</div>
<div>
	<img src="/img/members/pictures/">
	<p><b>Tin Importante</b><br>AdVance</p>
</div>
<div>
	<img src="/img/members/pictures/">
	<p><b>Arlan Jondonero</b><br>AdDition</p>
</div>
<div>
	<img src="/img/members/pictures/LAMASAN.jpg">
	<p><b>Anton Lamasan</b><br>AdVocate</p>
</div>
<div>
	<img src="/img/members/pictures/LIU.jpg">
	<p><b>Nina Liu</b><br>AdDition</p>
</div>
<div>
	<img src="/img/members/pictures/LOPEZ.jpg">
	<p><b>Sophia Lopez</b><br>AdVocate</p>
</div>
<div>
	<img src="/img/members/pictures/MABULAY.jpg">
	<p><b>Reyna Mabulay</b><br>AdVocate</p>
</div>
<div>
	<img src="/img/members/pictures/">
	<p><b>Elaine Marquez</b><br>AdHesive</p>
</div>
<div>
	<img src="/img/members/pictures/">
	<p><b>Ela Marquez</b><br>Punch Creatives</p>
</div>
<div>
	<img src="/img/members/pictures/MELCHOR.jpg">
	<p><b>Bhea Melchor</b><br>AdCore Week</p>
</div>
<div>
	<img src="/img/members/pictures/MELCHOR.jpg">
	<p><b>Bhea Melchor</b><br>Punch Creatives</p>
</div>
<div>
	<img src="/img/members/pictures/ONG.jpg">
	<p><b>Andrew Brandon Ong</b><br>UP Fair</p>
</div>
<div>
	<img src="/img/members/pictures/PARAS.jpg">
	<p><b>Regina Paras</b><br>Punch Creatives</p>
</div>
<div>
	<img src="/img/members/pictures/PARAS.jpg">
	<p><b>Regina Paras</b><br>University Job Fair</p>
</div>
<div>
	<img src="/img/members/pictures/">
	<p><b>Raneza Pinlac</b><br>Juiceletter</p>
</div>
<div>
	<img src="/img/members/pictures/">
	<p><b>Lia Reblora</b><br>Juiceletter</p>
</div>
<div>
	<img src="/img/members/pictures/">
	<p><b>Lia Reblora</b><br>University Freshie Month</p>
</div>
<div>
	<img src="/img/members/pictures/">
	<p><b>Wincy Reyes</b><br>ACLE</p>
</div>
<div>
	<img src="/img/members/pictures/SANCIO.jpg">
	<p><b>Bea Sancio</b><br>University Freshie Month</p>
</div>
<div>
	<img src="/img/members/pictures/">
	<p><b>Kimberly Tan</b><br>AdVance</p>
</div>
<div>
	<img src="/img/members/pictures/">
	<p><b>Rachel Torres</b><br>Juiceletter</p>
</div>
<div>
	<img src="/img/members/pictures/">
	<p><b>Rachel Torres</b><br>Punch Creatives</p>
</div>
<div>
	<img src="/img/members/pictures/VENTURA.jpg">
	<p><b>Stefi Ventura</b><br>Teenspeak</p>
</div>
<div>
	<img src="/img/members/pictures/">
	<p><b>Dell Young</b><br>AdHesive</p>
</div>
<div>
	<img src="/img/members/pictures/">
	<p><b>Dell Young</b><br>AdCore Week</p>
</div>
