<div>
  <img src="/img/members/pictures/CULANGAN_3.jpg">
  <p><br><b>Judy Culangan</b><br>AdCore Week 13</p>
</div>
<div>
  <img src="/img/members/pictures/default.png">
  <p><br><b>Geroe Valencia</b><br>AdCore Week 13</p>
</div>
<div>
  <img src="/img/members/pictures/LIU_1.jpg">
  <p><br><b>Nina Liu</b><br>AdCore Week 13</p>
</div>
<div>
  <img src="/img/members/pictures/SANCIO_2.jpg">
  <p><br><b>Bea Sancio</b><br>AdCore Week 13</p>
</div>
<div>
  <img src="/img/members/pictures/LAMASAN_1.jpg">
  <p><br><b>Anton Lamasan</b><br>AdHere</p>
</div>
<div>
  <img src="/img/members/pictures/PARAS_2.jpg">
  <p><br><b>Regina Paras</b><br>AdHere</p>
</div>
<div>
  <img src="/img/members/pictures/FRESNOZA_1.jpg">
  <p><br><b>Ira Fresnoza</b><br>AdHesive</p>
</div>
<div>
  <img src="/img/members/pictures/MELCHOR_3.jpg">
  <p><br><b>Bhea Melchor</b><br>AdHesive</p>
</div>
<div>
  <img src="/img/members/pictures/CANLAS_2.jpg">
  <p><br><b>Issa Canlas</b><br>AdDition</p>
</div>
<div>
  <img src="/img/members/pictures/BALARES_3.jpg">
  <p><br><b>Kleo Balares</b><br>AdDition</p>
</div>
<div>
  <img src="/img/members/pictures/TORCUATOR_2.jpg">
  <p><br><b>Julian Torcuator</b><br>AdDition</p>
</div>
<div>
  <img src="/img/members/pictures/TANK_3.jpg">
  <p><br><b>Kim Tan</b><br>AdSchool</p>
</div>
<div>
  <img src="/img/members/pictures/LIU_1.jpg">
  <p><br><b>Nina Liu</b><br>AdSchool</p>
</div>
<div>
  <img src="/img/members/pictures/VENTURA_2-2.jpg">
  <p><br><b>Stefi Ventura</b><br>AdVance</p>
</div>
<div>
  <img src="/img/members/pictures/default.png">
  <p><br><b>J3 Reyna</b><br>AdVance</p>
</div>
<div>
  <img src="/img/members/pictures/CAMARA_2.jpg">
  <p><br><b>Jethro Camara</b><br>AdVocate</p>
</div>
<div>
  <img src="/img/members/pictures/IGLESIA_1.jpg">
  <p><br><b>Sophia Iglesia</b><br>AdVocate</p>
</div>
<div>
  <img src="/img/members/pictures/CRUZ_3.jpg">
  <p><br><b>Ron Cruz</b><br>AdVocate</p>
</div>
<div>
  <img src="/img/members/pictures/LEE_3.jpg">
  <p><br><b>Ava Lee</b><br>ComElec</p>
</div>
<div>
  <img src="/img/members/pictures/MELCHOR_3.jpg">
  <p><br><b>Bhea Melchor</b><br>InfoCore</p>
</div>
<div>
  <img src="/img/members/pictures/TANK_3.jpg">
  <p><br><b>Kim Tan</b><br>InfoCore</p>
</div>
<div>
  <img src="/img/members/pictures/CAMARA_2.jpg">
  <p><br><b>Jethro Camara</b><br>InfoCore</p>
</div>
<div>
  <img src="/img/members/pictures/LAMASAN_1.jpg">
  <p><br><b>Anton Lamasan</b><br>Juiceletter</p>
</div>
<div>
  <img src="/img/members/pictures/MABULAY_2.jpg">
  <p><br><b>Reyna Mabulay</b><br>Juiceletter</p>
</div>
<div>
  <img src="/img/members/pictures/CANLAS_2.jpg">
  <p><br><b>Issa Canlas</b><br>Juiceletter</p>
</div>
<div>
  <img src="/img/members/pictures/SANCIO_2.jpg">
  <p><br><b>Bea Sancio</b><br>Juiceletter</p>
</div>
<div>
  <img src="/img/members/pictures/default.png">
  <p><br><b>Cessie Aquias</b><br>Juiceletter</p>
</div>
<div>
  <img src="/img/members/pictures/LOPEZ_1.jpg">
  <p><br><b>Sophia Lopez</b><br>Juiceletter</p>
</div>
<div>
  <img src="/img/members/pictures/SYL_3.jpg">
  <p><br><b>Laurice Sy</b><br>Juiceletter</p>
</div>
<div>
  <img src="/img/members/pictures/default.png">
  <p><br><b>Gica Taruc</b><br>Juiceletter</p>
</div>
<div>
  <img src="/img/members/pictures/DEJOYA_3.jpg">
  <p><br><b>Joaquin de Joya</b><br>Punch Creatives</p>
</div>
<div>
  <img src="/img/members/pictures/default.png">
  <p><br><b>Cessie Aquias</b><br>Punch Creatives</p>
</div>
<div>
  <img src="/img/members/pictures/BANOCNOC_1.jpg">
  <p><br><b>Hannah Banocnoc</b><br>Punch Creatives</p>
</div>
<div>
  <img src="/img/members/pictures/DEATO_2.jpg">
  <p><br><b>Ericka Deato</b><br>Teenspeak X</p>
</div>
<div>
  <img src="/img/members/pictures/SANCHEZK_2.jpg">
  <p><br><b>Kim Sanchez</b><br>Teenspeak X</p>
</div>
<div>
  <img src="/img/members/pictures/DEJOYA_3.jpg">
  <p><br><b>Joaquin de Joya</b><br>Teenspeak X</p>
</div>
<div>
  <img src="/img/members/pictures/CABERTE_1.jpg">
  <p><br><b>Zeah Caberte</b><br>University Job Fair (UJF) 2019</p>
</div>
<div>
  <img src="/img/members/pictures/ESPINOSA_1.jpg">
  <p><br><b>Caren Espinosa</b><br>University Job Fair (UJF) 2019</p>
</div>
<div>
  <img src="/img/members/pictures/DEATO_2.jpg">
  <p><br><b>Ericka Deato</b><br>University Job Fair (UJF) 2019</p>
</div>
<div>
  <img src="/img/members/pictures/FRESNOZA_1.jpg">
  <p><br><b>Ira Fresnoza</b><br>University Job Fair (UJF) 2019</p>
</div>
<div>
  <img src="/img/members/pictures/TORCUATOR_2.jpg">
  <p><br><b>Julian Torcuator</b><br>UP Fair 2019</p>
</div>
<div>
  <img src="/img/members/pictures/DANDAN_2.jpg">
  <p><br><b>Frances Dandan</b><br>UP Fair 2019</p>
</div>
<div>
  <img src="/img/members/pictures/BLANCLAFLOR_1.jpg">
  <p><br><b>Deina Blancaflor</b><br>UP Fair 2019</p>
</div>
<div>
  <img src="/img/members/pictures/VALENCIA_1-2.jpg">
  <p><br><b>Geroe Valencia</b><br>UP Fair 2019</p>
</div>
