<div>
	<img src="/img/members/pictures/ALIPAO.jpg">
	<p><br><b>Athena Alipao</b><br>Juiceletter</p>
</div>
<div>
	<img src="/img/members/pictures/AQUIAS.jpg">
	<p><br><b>Cessie Aquias</b><br>BrandCore</p>
</div>
<div>
	<img src="/img/members/pictures/AZORES.jpg">
	<p><br><b>Gianina Azores</b><br>AVP</p>
</div>
<div>
	<img src="/img/members/pictures/default.png">
	<p><br><b>Hannah Banocnoc</b><br>BrandCore</p>
</div>
<div>
	<img src="/img/members/pictures/default.png">
	<p><br><b>Mitzie Bava</b><br>UP Fair</p>
</div>
<div>
	<img src="/img/members/pictures/default.png">
	<p><br><b>Issa Canlas</b><br>BrandCore</p>
</div>
<div>
	<img src="/img/members/pictures/default.png">
	<p><br><b>Daniella Corpuz</b><br>University Job Fair</p>
</div>
<div>
	<img src="/img/members/pictures/default.png">
	<p><br><b>Dapphne Cresini</b><br>University Job Fair</p>
</div>
<div>
	<img src="/img/members/pictures/default.png">
	<p><br><b>Dapphne Cresini</b><br>Teenspeak</p>
</div>
<div>
	<img src="/img/members/pictures/DANDAN.jpg">
	<p><br><b>Frances Dandan</b><br>Juiceletter</p>
</div>
<div>
	<img src="/img/members/pictures/DANDAN.jpg">
	<p><br><b>Frances Dandan</b><br>UP Fair</p>
</div>
<div>
	<img src="/img/members/pictures/DANDAN.jpg">
	<p><br><b>Frances Dandan</b><br>University Freshie Month</p>
</div>
<div>
	<img src="/img/members/pictures/DEATO.jpg">
	<p><br><b>Ericka Deato</b><br>ACLE</p>
</div>
<div>
	<img src="/img/members/pictures/DEATO.jpg">
	<p><br><b>Ericka Deato</b><br>University Freshie Month</p>
</div>
<div>
	<img src="/img/members/pictures/DIY.jpg">
	<p><br><b>Luis Diy</b><br>Teenspeak</p>
</div>
<div>
	<img src="/img/members/pictures/EUGENIO.jpg">
	<p><br><b>Ara Eugenio</b><br>ExeCore</p>
</div>
<div>
	<img src="/img/members/pictures/FRESNOZA.jpg">
	<p><br><b>Ina Fresnoza</b><br>AdDition</p>
</div>
<div>
	<img src="/img/members/pictures/default.png">
	<p><br><b>Tin Importante</b><br>AdVance</p>
</div>
<div>
	<img src="/img/members/pictures/default.png">
	<p><br><b>Arlan Jondonero</b><br>AdDition</p>
</div>
<div>
	<img src="/img/members/pictures/LAMASAN.jpg">
	<p><br><b>Anton Lamasan</b><br>AdVocate</p>
</div>
<div>
	<img src="/img/members/pictures/LIU.jpg">
	<p><br><b>Nina Liu</b><br>AdDition</p>
</div>
<div>
	<img src="/img/members/pictures/LOPEZ.jpg">
	<p><br><b>Sophia Lopez</b><br>AdVocate</p>
</div>
<div>
	<img src="/img/members/pictures/MABULAY.jpg">
	<p><br><b>Reyna Mabulay</b><br>AdVocate</p>
</div>
<div>
	<img src="/img/members/pictures/default.png">
	<p><br><b>Elaine Marquez</b><br>AdHesive</p>
</div>
<div>
	<img src="/img/members/pictures/default.png">
	<p><br><b>Ela Marquez</b><br>Punch Creatives</p>
</div>
<div>
	<img src="/img/members/pictures/MELCHOR.jpg">
	<p><br><b>Bhea Melchor</b><br>AdCore Week</p>
</div>
<div>
	<img src="/img/members/pictures/MELCHOR.jpg">
	<p><br><b>Bhea Melchor</b><br>Punch Creatives</p>
</div>
<div>
	<img src="/img/members/pictures/ONG.jpg">
	<p><br><b>Andrew Brandon Ong</b><br>UP Fair</p>
</div>
<div>
	<img src="/img/members/pictures/PARAS.jpg">
	<p><br><b>Regina Paras</b><br>Punch Creatives</p>
</div>
<div>
	<img src="/img/members/pictures/PARAS.jpg">
	<p><br><b>Regina Paras</b><br>University Job Fair</p>
</div>
<div>
	<img src="/img/members/pictures/default.png">
	<p><br><b>Raneza Pinlac</b><br>Juiceletter</p>
</div>
<div>
	<img src="/img/members/pictures/default.png">
	<p><br><b>Lia Reblora</b><br>Juiceletter</p>
</div>
<div>
	<img src="/img/members/pictures/default.png">
	<p><br><b>Lia Reblora</b><br>University Freshie Month</p>
</div>
<div>
	<img src="/img/members/pictures/default.png">
	<p><br><b>Wincy Reyes</b><br>ACLE</p>
</div>
<div>
	<img src="/img/members/pictures/SANCIO.jpg">
	<p><br><b>Bea Sancio</b><br>University Freshie Month</p>
</div>
<div>
	<img src="/img/members/pictures/default.png">
	<p><br><b>Kimberly Tan</b><br>AdVance</p>
</div>
<div>
	<img src="/img/members/pictures/default.png">
	<p><br><b>Rachel Torres</b><br>Juiceletter</p>
</div>
<div>
	<img src="/img/members/pictures/default.png">
	<p><br><b>Rachel Torres</b><br>Punch Creatives</p>
</div>
<div>
	<img src="/img/members/pictures/VENTURA.jpg">
	<p><br><b>Stefi Ventura</b><br>Teenspeak</p>
</div>
<div>
	<img src="/img/members/pictures/default.png">
	<p><br><b>Dell Young</b><br>AdHesive</p>
</div>
<div>
	<img src="/img/members/pictures/default.png">
	<p><br><b>Dell Young</b><br>AdCore Week</p>
</div>
