<div>
	<img src="/img/members/pictures/AQUINO.jpg">
	<p><b>Bianca Aquino</b><br>ExeCore</p>
</div>
<div>
	<img src="/img/members/pictures/BUENVIAJE.jpg">
	<p><b>Santi Buenviaje</b><br>Teenspeak</p>
</div>
<div>
	<img src="/img/members/pictures/CARLOS.jpg">
	<p><b>Jet Carlos</b><br>Juiceletter</p>
</div>
<div>
	<img src="/img/members/pictures/CARLOS.jpg">
	<p><b>Jet Carlos</b><br>UP Fair</p>
</div>
<div>
	<img src="/img/members/pictures/CAYANAN.jpg">
	<p><b>Maica Cayanan</b><br>Punch Creatives</p>
</div>
<div>
	<img src="/img/members/pictures/">
	<p><b>Mark Cayat</b><br>AdVance</p>
</div>
<div>
	<img src="/img/members/pictures/">
	<p><b>Jersy Centeno</b><br>Juiceletter</p>
</div>
<div>
	<img src="/img/members/pictures/">
	<p><b>Frances Chan</b><br>AdVocate</p>
</div>
<div>
	<img src="/img/members/pictures/CINCO.jpg">
	<p><b>Red Cinco</b><br>University Job Fair</p>
</div>
<div>
	<img src="/img/members/pictures/CUEPO.jpg">
	<p><b>JC Cuepo</b><br>AVP</p>
</div>
<div>
	<img src="/img/members/pictures/">
	<p><b>Stephen Destura</b><br>AdCore Week</p>
</div>
<div>
	<img src="/img/members/pictures/">
	<p><b>Glenn Didulo</b><br>AdDition</p>
</div>
<div>
	<img src="/img/members/pictures/">
	<p><b>Lou Diestro</b><br>Juiceletter</p>
</div>
<div>
	<img src="/img/members/pictures/">
	<p><b>Lou Diestro</b><br>AdCore Week</p>
</div>
<div>
	<img src="/img/members/pictures/FAJARDO.jpg">
	<p><b>Kyla Fajardo</b><br>AdHesive</p>
</div>
<div>
	<img src="/img/members/pictures/GREGORIO.jpg">
	<p><b>Gab Gregorio</b><br>AdVance</p>
</div>
<div>
	<img src="/img/members/pictures/">
	<p><b>Ju Won Kim</b><br>Punch Creatives</p>
</div>
<div>
	<img src="/img/members/pictures/LAPUS.jpg">
	<p><b>Kyle Lapus</b><br>ACLE</p>
</div>
<div>
	<img src="/img/members/pictures/">
	<p><b>Dan Limbaroc</b><br>Teenspeak</p>
</div>
<div>
	<img src="/img/members/pictures/PASCUAL.jpg">
	<p><b>Cathy Pascual</b><br>AdDition</p>
</div>
<div>
	<img src="/img/members/pictures/">
	<p><b>Lucia Peña</b><br>Punch Creatives</p>
</div>
<div>
	<img src="/img/members/pictures/RAMOS.jpg">
	<p><b>Kirsten Ramos</b><br>ACLE</p>
</div>
<div>
	<img src="/img/members/pictures/RAMOS.jpg">
	<p><b>Kirsten Ramos</b><br>AdCore Week</p>
</div>
<div>
	<img src="/img/members/pictures/REGALA.jpg">
	<p><b>Robin Regala</b><br>UP Fair</p>
</div>
<div>
	<img src="/img/members/pictures/REGALA.jpg">
	<p><b>Robin Regala</b><br>AdDition</p>
</div>
<div>
	<img src="/img/members/pictures/">
	<p><b>Marvin Veran</b><br>AdHesive</p>
</div>
