
<div class="member-exec-size" id="centerpls">
  <div id="dark_text">
    <p id="do-not-center"><b>Under the President</b><br><br>All members of UP AdCore belong to a certain department, selected when they get accepted as members, and renewed every semester. They can serve either as a manager of that department in different teams, a project head, or an AVP.</p>
  </div>
  <div id="space_pls"></div>
  <div class="row" id="dark_text">
   <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" id="member-icon">
     <img src="/img/members/pictures/default.png">
     <p><br><b>Kenneth Madamba</b><br>AVP for Creatives<br>(CRT)</p>
   </div>
   <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" id="member-icon">
     <img src="/img/members/pictures/CALLEJA_2.jpg">
     <p><br><b>Koi Calleja</b><br>AVP for Finance and<br>Corporate Affairs</p>
   </div>
 </div>
 <div class="row" id="dark_text">
   <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" id="member-icon">
     <img src="/img/members/pictures/GARCIA_1.jpg">
     <p><br><b>Russel Garcia</b><br>AVP for Human<br>Resource(HR)</p>
   </div>
   <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" id="member-icon">
    <img src="/img/members/pictures/ONG_2.jpg">
    <p><br><b>Andrew Ong</b><br>AVP for Promotions<br>and Public Relations</p>
   </div>
   <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" id="member-icon">
     <img src="/img/members/pictures/RAMOS_1.jpg">
     <p><br><b>Kirsten Ramos</b><br>AVP for Special<br>Events and Logistics</p>
   </div>
 </div>
</div>