---
title: About
permalink: /about
layout: default
---

<div class="row row-main page-section page-section-pad page-section-colored page-section-yellow adjust">
  <div class="col-lg-10 col-lg-offset-1 col-lg-12-main">
    <h1 class="nosub">UP Advertising Core</h1>
    <p class="text-center">The UP Advertising Core is the only student-run, not-for-profit organization and advertising agency of the University of the Philippines, Diliman.</p>
    <p class="text-center">It is based in the Virata School of Business and is a university-wide organization with members coming from various disciplines, mainly from Business Administration and Marketing, Mass Communications, and Fine Arts. UP AdCore keeps its members’ skills top-of-the-line through talks by renowned industry leaders, exposure trips to the leading advertising agencies, and experience in client-based projects that are impactful to the society. UP AdCore also performs a plethora of marketing services for companies who want to bring their brand closer to UP students, and the Filipino Youth as a whole.</p>
  </div>
</div>
<div class="row row-main page-section page-section-white page-section-pad" id="visionmission">
  <div class="col-lg-10 col-lg-offset-1 col-lg-12-main text-center">
    <div class="row">
      <h2 class="orange">Vision</h2>
      <p>A country where creativity resides and where advertisements of the highest quality thrive.</p>
    </div>
    <div class="row">
      <h2 class="orange">Mission</h2>
      <p>To foster effective and responsible advertising to the Filipino youth in general and the UP Diliman students in particular in order to uphold the quality of advertising in the Philippines.</p>
    </div>
  </div>
</div>
<div class="row row-main page-section page-section-colored page-section-yellow page-section-pad adjust" id="corevalues">
  <div class="col-lg-10 col-lg-offset-1 col-lg-12-main">
    <h1 class="nosub">3 Core Values</h1>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <img src="/img/corevalues-1.png" class="img-responsive img-corevalues" alt="Creative Professionalism">
        <p>The perfect blend of imagination and discipline.</p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <img src="/img/corevalues-2.png" class="img-responsive img-corevalues" alt="Inspired Involvement">
        <p>Unconditional passion for what one is doing.</p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <img src="/img/corevalues-3.png" class="img-responsive img-corevalues" alt="Steadfast Excellence">
        <p>Consistent aspiration to be better than what one was.</p>
      </div>
    </div>
  </div>
</div>
<div class="row row-main page-section page-section-white page-section-pad adjust" id="recognition">
  <div class="col-lg-10 col-lg-offset-1 col-lg-12-main">
    <h1>Our Success Stories</h1>
    <h3><small>Awards and recognition</small></h3>
    <p class="text-center">Exemplifying Steadfast Excellence, AdCore has garnered the following awards throughout the years:</p>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
        <img src="/img/award/award-fao.jpg" class="img-responsive img-circle img-award" alt="FAO Awards">
        <h5>FAO Awards</h5>
        <p>UP Advertising Core was hailed as the Organization of the Year for the first-ever Federation of Advertising Organizations Awards this 2013, participated on by different organizations from schools all over NCR.</p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
        <img src="/img/award/award-quill.jpg" class="img-responsive img-circle img-award" alt="Philippine Student Quill Awards">
        <h5>Philippine Student Quill Awards</h5>
        <p>Organised by the IABC, the PSQA honours excellence in communication in the undergraduate levels. UP AdCore was one of the organizations to have received two Awards of Excellence, the higher tier award in PSQA’s recognition hierarchy.</p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
        <img src="/img/award/award-smart.jpg" class="img-responsive img-circle img-award" alt="Smart League of Leaders">
        <h5>Smart League of Leaders</h5>
        <p>The SMART League of Leaders is Smart Prepaid’s advocacy project that seeks to empower student groups with the skills, knowledge and resources they need to reach their goals. UP AdCore was hailed as one of the top 10 organizations and an official part of the SMART League of Leaders last April 11.</p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
        <img src="/img/award/award-villar.jpg" class="img-responsive img-circle img-award" alt="Villar Sipag League of Excellence Awards">
        <h5>Villar Sipag League of Excellence Awards</h5>
        <p>The Villar Sipag League of Excellence is an awards night organized by the UP Business League to recognize the most notable feats accomplished by its 16 member organizations. Various categories are contended for and top performers are awarded. In the past 2 years, UP AdCore has clinched 7 of these prestigious awards, 3 of them belonging to the Platinum Award Category; including the most notable: Organization of the Year.</p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
        <img src="/img/award/award-aiesec.jpg" class="img-responsive img-circle img-award" alt="AIESEC Youth Leadership Awards">
        <h5>AIESEC Youth Leadership Awards</h5>
        <p>The AIESEC Youth Leadership Awards aims to celebrate five youth organizations who, driven by a clear purpose, have shown exemplary leadership through leading by example and by continuous improvement in their fields. UP AdCore is one of the five recipients of this pioneer award by AIESEC Philippines.</p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
        <img src="/img/award/award-acle.jpg" class="img-responsive img-circle img-award" alt="Most Well-Attended ACLE">
        <h5>Most Well-Attended ACLE</h5>
        <p>USC has awarded various organizations who were able to organize outstanding learning experiences for the students. UP AdCore received the most well-attended ACLE having been able to fill the Benitez Hall with students who were interested to learn more about stories behind well-known commercials.</p>
      </div>
    </div>
  </div>
</div>
<div class="row row-main page-section page-section-colored page-section-green page-section-pad adjust" id="engagements">
  <div class="col-lg-10 col-lg-offset-1 col-lg-12-main col-md-12 col-md-12-main">
    <h1>What We Engage In</h1>
    <h3><small>The ways the organization gives back to the community</small></h3>
    <h2 class="text-center">Social responsibility</h2>
    <p class="text-center">We make sure to foward socially impactful causes that are beneficial to the UP community</p>
    <div id="social-responsiility" class="carousel slide" data-ride="carousel" data-interval="false">
      <ol class="carousel-indicators">
        <li data-target="#social-responsiility" data-slide-to="0" class="active"></li>
        <li data-target="#social-responsiility" data-slide-to="1"></li>
        <li data-target="#social-responsiility" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <div class="img-wrapper div-portfolio">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <a target="_blank" href="https://www.facebook.com/TakeADoseOfReality">
                <div style="background-image:url('/img/engage/sr-reality.jpg');background-position:bottom;"></div>
                <div>
                  <h3>A Dose of Reality</h3>
                  <h5>AdVocate 2016 X Bridges of Hope<br>Rehabilitation Center</h5>
                </div>
              </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <a target="_blank" href="https://www.facebook.com/BeyondtheShake">
                <div style="background-image:url('/img/engage/sr-bts.jpg');"></div>
                <div>
                  <h3>Beyond the Shake</h3>
                  <h5>Advocate 2016 x Philippine League Against Epilepsy</h5>
                </div>
              </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <a target="_blank" href="https://www.facebook.com/WalangWagiSaYosi">
                <div style="background-image:url('/img/engage/sr-wagi.jpg');"></div>
                <div>
                  <h3>Walang Wagi sa Yosi</h3>
                  <h5>Special Projects 2016 x Vital Strategies</h5>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="img-wrapper div-portfolio">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <a>
                <div style="background-image:url('/img/engage/sr-himiss.jpg');"></div>
                <div>
                  <h3>Hi Miss</h3>
                  <h5>Advocate 2015</h5>
                </div>
              </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <a target="_blank" href="https://www.facebook.com/AdoptAStudentProgram/">
                <div style="background-image:url('/img/engage/sr-adopt.jpg');"></div>
                <div>
                  <h3>Adopt-A-Student Program</h3>
                  <h5>Special Projects 2015 x OSSS</h5>
                </div>
              </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <a target="_blank" href="https://www.facebook.com/TanglawUPD">
                <div style="background-image:url('/img/engage/sr-tanglaw.jpg');"></div>
                <div>
                  <h3>Tanglaw</h3>
                  <h5>AdVocate 2015</h5>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="img-wrapper div-portfolio">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <a target="_blank" href="https://www.facebook.com/BotoNiIsko">
                <div style="background-image:url('/img/engage/sr-boto.jpg');"></div>
                <div>
                  <h3>Boto ni Isko</h3>
                  <h5>AdVocate 2014 x OVCSA</h5>
                </div>
              </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <a target="_blank" href="https://www.facebook.com/LightUPDiliman">
                <div style="background-image:url('/img/engage/sr-light.jpg');"></div>
                <div>
                  <h3>Light Up</h3>
                  <h5>AdVocate 2013 x Omni</h5>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <h2 class="text-center">University projects</h2>
    <p class="text-center">We deliver fresh and exciting promotional campaigns on relevant campus projects and events</p>
    <div id="univ-projects" class="carousel slide" data-ride="carousel" data-interval="false">
      <div class="row">
        <!-- years go here -->
        <div class="text-center">
          <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-sm btn-jumbotron" data-target="#univ-projects" data-slide-to="0"><input type="radio" autocomplete="off" checked>2010</label>
            <label class="btn btn-sm btn-jumbotron" data-target="#univ-projects" data-slide-to="1"><input type="radio" autocomplete="off" checked>2011</label>
            <label class="btn btn-sm btn-jumbotron" data-target="#univ-projects" data-slide-to="2"><input type="radio" autocomplete="off" checked>2012</label>
            <label class="btn btn-sm btn-jumbotron" data-target="#univ-projects" data-slide-to="3"><input type="radio" autocomplete="off" checked>2013</label>
            <label class="btn btn-sm btn-jumbotron" data-target="#univ-projects" data-slide-to="4"><input type="radio" autocomplete="off" checked>2014</label>
            <label class="btn btn-sm btn-jumbotron" data-target="#univ-projects" data-slide-to="5"><input type="radio" autocomplete="off">2015</label>
            <label class="btn btn-sm btn-jumbotron active" data-target="#univ-projects" data-slide-to="6"><input type="radio" autocomplete="off">2016</label>
          </div>
        </div>
      </div>
      <div class="carousel-inner" role="listbox">
        <div class="item">
          <div class="img-wrapper div-portfolio">
            <!-- 2010 -->
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 col-lg-offset-4 col-md-offset-4 col-sm-offset-4">
              <a target="_blank" href="https://www.facebook.com/upujf">
                <div style="background-image:url('/img/engage/univ-ujf-2010.jpg');"></div>
                <div>
                  <h3 class="hidden-xs">UP Univ. Job Fair</h3>
                  <h3 class="visible-xs">UJF</h3>
                  <h5 class="hidden-xs">January 2011</h5>
                  <h5 class="visible-xs">Jan. 2011</h5>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="img-wrapper div-portfolio">
            <!-- 2011 -->
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 col-lg-offset-4 col-md-offset-4 col-sm-offset-4">
              <a target="_blank" href="https://www.facebook.com/upujf">
                <div style="background-image:url('/img/engage/univ-ujf-2011.jpg');"></div>
                <div>
                  <h3 class="hidden-xs">UP Univ. Job Fair</h3>
                  <h3 class="visible-xs">UJF</h3>
                  <h5 class="hidden-xs">January 2012</h5>
                  <h5 class="visible-xs">Jan. 2012</h5>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="img-wrapper div-portfolio">
            <!-- 2012 -->
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 col-lg-offset-2 col-lg-offset-2 col-lg-offset-2">
              <a target="_blank" href="https://www.facebook.com/UniversityFreshieMonth">
                <div style="background-image:url('/img/engage/univ-fm-2012.jpg');"></div>
                <div>
                  <h3 class="hidden-xs">Univ. Freshie Month</h3>
                  <h3 class="visible-xs">UFM</h3>
                  <h5>June 2012</h5>
                </div>
              </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <a target="_blank" href="https://www.facebook.com/upujf">
                <div style="background-image:url('/img/engage/univ-ujf-2012.jpg');"></div>
                <div>
                  <h3 class="hidden-xs">UP Univ. Job Fair</h3>
                  <h3 class="visible-xs">UPJF</h3>
                  <h5 class="hidden-xs">January 2013</h5>
                  <h5 class="visible-xs">Jan. 2013</h5>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="img-wrapper div-portfolio">
            <!-- 2013 -->
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 col-lg-offset-2 col-lg-offset-2 col-lg-offset-2">
              <a target="_blank" href="https://www.facebook.com/UniversityFreshieMonth">
                <div style="background-image:url('/img/engage/univ-fm-2013.jpg');"></div>
                <div>
                  <h3 class="hidden-xs">Univ. Freshie Month</h3>
                  <h3 class="visible-xs">UFM</h3>
                  <h5>June 2013</h5>
                </div>
              </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <a target="_blank" href="https://www.facebook.com/upujf">
                <div style="background-image:url('/img/engage/univ-ujf-2013.jpg');"></div>
                <div>
                  <h3 class="hidden-xs">UP Univ. Job Fair</h3>
                  <h3 class="visible-xs">UPJF</h3>
                  <h5 class="hidden-xs">January 2014</h5>
                  <h5 class="visible-xs">Jan. 2014</h5>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="img-wrapper div-portfolio">
            <!-- 2014 -->
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <a target="_blank" href="https://www.facebook.com/UniversityFreshieMonth">
                <div style="background-image:url('/img/engage/univ-fm-2014.jpg');"></div>
                <div>
                  <h3 class="hidden-xs">Univ. Freshie Month</h3>
                  <h3 class="visible-xs">UFM</h3>
                  <h5 class="hidden-xs">August 2014</h5>
                  <h5 class="visible-xs">Aug. 2014</h5>
                </div>
              </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <a target="_blank" href="https://www.facebook.com/UPFair">
                <div style="background-image:url('/img/engage/univ-fair-2014.jpg');"></div>
                <div>
                  <h3>UP Fair</h3>
                  <h5 class="hidden-xs">February 2015</h5>
                  <h5 class="visible-xs">Feb. 2015</h5>
                </div>
              </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <a target="_blank" href="https://www.facebook.com/upujf">
                <div style="background-image:url('/img/engage/univ-ucf-2014.jpg');"></div>
                <div>
                  <h3 class="hidden-xs">UP Career Fair</h3>
                  <h3 class="visible-xs">UPCF</h3>
                  <h5>May 2015</h5>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="img-wrapper div-portfolio">
            <!-- 2015 -->
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <a target="_blank" href="https://www.facebook.com/UniversityFreshieMonth">
                <div style="background-image:url('/img/engage/univ-fm-2015-1.jpg');"></div>
                <div>
                  <h3 class="hidden-xs">Univ. Freshie Month</h3>
                  <h3 class="visible-xs">UFM</h3>
                  <h5 class="hidden-xs">August 2015</h5>
                  <h5 class="visible-xs">Aug. 2015</h5>
                </div>
              </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <a target="_blank" href="https://www.facebook.com/UPFair">
                <div style="background-image:url('/img/engage/univ-fair-2015.jpg');"></div>
                <div>
                  <h3>UP Fair</h3>
                  <h5 class="hidden-xs">February 2016</h5>
                  <h5 class="visible-xs">Feb. 2016</h5>
                </div>
              </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <a target="_blank" href="https://www.facebook.com/upujf">
                <div style="background-image:url('/img/engage/univ-ujf-2015.jpg');"></div>
                <div>
                  <h3 class="hidden-xs">UP Univ. Job Fair</h3>
                  <h3 class="visible-xs">UJF</h3>
                  <h5>April 2016</h5>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="item active">
          <div class="img-wrapper div-portfolio">
            <!-- 2010 -->
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 col-lg-offset-4 col-md-offset-4 col-sm-offset-4">
              <a target="_blank" href="https://www.facebook.com/UniversityFreshieMonth">
                <div style="background-image:url('/img/engage/buhayisko.png');"></div>
                <div>
                  <h3 class="hidden-xs">Univ. Freshie Month</h3>
                  <h3 class="visible-xs">UFM</h3>
                  <h5 class="hidden-xs">August 2016</h5>
                  <h5 class="visible-xs">Aug. 2016</h5>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row row-main page-section page-section-colored page-section-yellow page-section-pad adjust" id="juiceletter">
  <div class="col-lg-10 col-lg-offset-1 col-lg-12-main">
    <h1>Juiceletter</h1>
    <h3><small>Our Official Magazine</small></h3>
    <p class="text-center">Juiceletter is UP AdCore’s official newsletter, as well as the first and only advertising magazine in the University of the Philippines. <br class="visible-lg">The publication keeps advertising enthusiasts up-to-date with the trends in the industry, allowing its audience to learn the ropes of advertising.</p>
    <div class="row div-portfolio">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <a target="_blank" href="https://issuu.com/thejuiceletter/docs/juiceletter_external_issue_june_201">
          <div style="background-image:url('/img/juiceletter/june2015.png');"></div>
          <div>
            <h3>June</h3>
            <h5>2015</h5>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <a target="_blank" href="https://issuu.com/thejuiceletter/docs/juiceletter_external_issue_april_20">
          <div style="background-image:url('/img/juiceletter/april2015-2.png');"></div>
          <div>
            <h3>April</h3>
            <h5>2015</h5>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <a target="_blank" href="https://issuu.com/thejuiceletter/docs/juiceletter_mini-magazine__ba_">
          <div style="background-image:url('/img/juiceletter/april2015-1.png');"></div>
          <div>
            <h3>April</h3>
            <h5>2015</h5>
          </div>
        </a>
      </div>
    </div>
    <div class="row div-portfolio">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <a target="_blank" href="https://issuu.com/thejuiceletter/docs/world_cup_of_advertising">
          <div style="background-image:url('/img/juiceletter/aug2014.png');"></div>
          <div>
            <h3>August</h3>
            <h5>2014</h5>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <a target="_blank" href="https://issuu.com/thejuiceletter/docs/jl_april_2014_issuu">
          <div style="background-image:url('/img/juiceletter/april2014.png');"></div>
          <div>
            <h3>April</h3>
            <h5>2014</h5>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <a target="_blank" href="https://issuu.com/thejuiceletter/docs/juiceletter_external_october_2013_f">
          <div style="background-image:url('/img/juiceletter/oct2013.png');"></div>
          <div>
            <h3>October</h3>
            <h5>2013</h5>
          </div>
        </a>
      </div>
    </div>
    <div class="row div-portfolio">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <a target="_blank" href="https://issuu.com/thejuiceletter/docs/juiceletter1213_thebigchange">
          <div style="background-image:url('/img/juiceletter/feb2013.png');"></div>
          <div>
            <h3>February</h3>
            <h5>2013</h5>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <a target="_blank" href="https://issuu.com/thejuiceletter/docs/juiceletter_october_2012_hires">
          <div style="background-image:url('/img/juiceletter/oct2012.png');"></div>
          <div>
            <h3>October</h3>
            <h5>2012</h5>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <a target="_blank" href="https://issuu.com/thejuiceletter/docs/juiceletter_august_2012_online">
          <div style="background-image:url('/img/juiceletter/aug2012.png');"></div>
          <div>
            <h3>August</h3>
            <h5>2012</h5>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="row row-main page-section page-section-white page-section-pad page-section-pad-hidden-xs adjust" id="panafao">
  <div class="col-lg-10 col-lg-offset-1 col-lg-12-main">
    <h1>PANA-FAO</h1>
    <h3><small>Our Affiliation</small></h3>
    <p>UP AdCore is the founding member of PANA-FAO, a coalition of advertising organizations. The PANA-FAO aims to develop student advertising enthusiasts by engaging them in talks and seminars to prepare them for the real world advertising. Membership with the coalition allows access to opportunities presented by the Philippine Association of National Advertisers and PANA-FAO.</p>
    <div class="col-lg-4 col-md-4 col-sm-4">
      <a target="_blank" href="http://panaf.com.ph/programs/federation-of-advertising-organization/"><img src="/img/panafao-colored.png" class="img-responsive"></a>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-8">
      <h2 class="orange">Partner Orgs</h2>
      <div class="row" id="row-clients">
        <img src="/img/panafao/panafao-actm.jpg" class="img-responsive img-client" alt="ACTM">
        <img src="/img/panafao/panafao-adcore.jpg" class="img-responsive img-client" alt="AdCore">
        <img src="/img/panafao/panafao-adcreate.jpg" class="img-responsive img-client" alt="AdCreate"><br>
        <img src="/img/panafao/panafao-communitas.jpg" class="img-responsive img-client" alt="Communitas">
        <img src="/img/panafao/panafao-cosa.jpg" class="img-responsive img-client" alt="Cosa">
        <img src="/img/panafao/panafao-letrancanvas.jpg" class="img-responsive img-client" alt="iJMA">
        <img src="/img/panafao/panafao-loads.jpg" class="img-responsive img-client" alt="LOADS">
        <img src="/img/panafao/panafao-moomedia.jpg" class="img-responsive img-client" alt="Moo Media"><br>
        <img src="/img/panafao/panafao-ijma.jpg" class="img-responsive img-client" alt="iJMA">
        <img src="/img/panafao/panafao-buklodsining.jpg" class="img-responsive img-client" alt="Buklod Sining">
        <img src="/img/panafao/panafao-pixelmedia.jpg" class="img-responsive img-client" alt="Pixel Media">
        <img src="/img/panafao/panafao-touchpoint.png" class="img-responsive img-client" alt="Touch Point">
      </div>
    </div>
  </div>
</div>

{% include header-script.html %}

{% include header-script-static.html %}
