---
title: Members
permalink: /members
layout: default
---
<div id="jumbotron-members">
  <div class="row row-main header" id="jumbotron">
    <div class="col-lg-2 col-lg-offset-0 col-md-2 col-md-offset-0 col-sm-2 col-sm-offset-0 col-xs-2 col-xs-offset-0" id="homecol1">
      <a class="new-navbar-brand" href="/about/"">ABOUT</a>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" id="homecol1">
      <a class="new-navbar-brand" href="/services/"">SERVICES</a>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" id="homecol1img">
      <a href="/#">
        <img src="/img/UP-Advertising-Core-Logo-MASTER.png" class="img-responsive img-logo" alt="UP AdCore" id="logo">
      </a>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" id="homecol1">
      <a class="new-navbar-brand" href="/members/"">MEMBERS</a>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3" id="homecol1">
      <a class="new-navbar-brand" href="/contact/"">CONTACT US</a>
    </div>
    <!-- <img src="/img/calligraphy.png" class="img-responsive img-calligraphy" alt="Creativity is in everyone"> -->
    <!-- <p>The UP Advertising Core is the only student run, not-for-profit<br class="hidden-xs"/> organization and advertising agency based in the Cesar E.A. Virata<br class="hidden-xs"/> School of Business, University of the Philippines, Diliman.</p> -->
    <!-- <div class="text-center">
    <div class="btn-group" role="group" aria-label="...">
    <a class="btn btn-primary btn-jumbotron" role="button" href="/#know">KNOW</a>
    <a class="btn btn-primary btn-jumbotron" role="button" href="/#collab">COLLABORATE</a>
    <a class="btn btn-primary btn-jumbotron" role="button" href="/#join">JOIN</a>
  </div>
</div> -->
  </div>

  <div>
    <div class="header_text">
      MEMBERS
    </div>
    <div id="space_pls"></div>
  </div>
</div>


<div class="row row-main page-section page-section-white page-section-pad adjust" id="space_pls">
  <div class="col-lg-10 col-lg-offset-1 col-md-11 col-md-offset-0pt5 col-lg-12-main" id="orange_bandaid">
    <h1>OUR PEOPLE</h1>
    <div id="black_btn">
    <h3><button id="black_btn">The sturcture and division of the organization</button></h3>
    </div>

    <div id="tiny_space_pls"></div>

    <b><p id="dark_text">Executive Core</p></b>
    <div id="tiny_space_pls"></div>

    <div class="member-exec-size" id="centerpls">
      <div class="row" id="dark_text">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" id="member-icon">
          <img src="/img/UP-Advertising-Core-Logo-MASTER.png">
          <p><br><b>Ryan Tadina</b><br>VP for Creatives<br>(CRT)</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" id="member-icon">
          <img src="/img/members/exec/AMBROSIO_3.jpg">
          <p><br><b>Josh Ambrosio</b><br>President</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" id="member-icon">
          <img src="/img/members/exec/TEJADA_3.jpg">
          <p><br><b>Odette Tejada</b><br>VP for Finance and<br>Corporate Affairs</p>
        </div>
      </div>
      <div class="row" id="dark_text">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" id="member-icon">
          <img src="/img/members/exec/MANIAGO_1.jpg">
          <p><br><b>Jovi Maniago</b><br>VP for Human<br>Resource(HR)</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" id="member-icon">
          <img src="/img/members/exec/HANOPOL_3.jpg">
          <p><br><b>Nica Hanopol</b><br>VP for Promotions<br>and Public Relations</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" id="member-icon">
          <img src="/img/members/exec/CARLOS_1.jpg">
          <p><br><b>Jet Carlos</b><br>VP for Special<br>Events and Logistics</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="matrix" id="matrix-list">
  <h1>Matrix System Design</h1>
  <div id="space_pls"></div>
  <div class="matrix-size" id="centerpls" >
    <div class="row" id="app-process">
      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12" id="single_giant_letters">
        <p class="members-box" id="president">President</p>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12" id="single_giant_letters">
        <p class="members-box" id="vp">VP for CRT</p>
        <p class="members-box" id="vp">VP for FCA</p>
        <p class="members-box" id="vp">VP for HR</p>
        <p class="members-box" id="vp">VP for PRP</p>
        <p class="members-box" id="vp">VP for SEaL</p>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12" id="single_giant_letters">
        <p class="members-box" id="avp">AVP for CRT</p>
        <p class="members-box" id="avp">AVP for FCA</p>
        <p class="members-box" id="avp">AVP for HR</p>
        <p class="members-box" id="avp">AVP for PRP</p>
        <p class="members-box" id="avp">AVP for SEaL</p>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12" id="single_giant_letters">
        <p class="members-box" id="manager">CRT Manager</p>
        <p class="members-box" id="manager">FCA Manager</p>
        <p class="members-box" id="manager">HR Manager</p>
        <p class="members-box" id="manager">PRP Manager</p>
        <p class="members-box" id="manager">SEaL Manager</p>
      </div>
    </div>
    <div id="double_space_pls"></div>
  </div>

  <div id="dark_text">
    <div class="row" id="bottom_space_pls">
      <div id="ninetywidth">
        <div class="col-lg-5 col-lg-offset-1 col-md-5 col-md-offset-1">
          <p id="do-not-center"><b>Department Members</b><br><br>All members of UP AdCore belong to a certain department, selected when they get accepted as members, and renewed every semester. They can serve either as a manager of that department in different teams, a project head, or an AVP.</p>
        </div>
        <div class="col-lg-5 col-md-5">
          <p id="do-not-center"><b>Department Projects</b><br><br>UP AdCore's projects are classified into departments, depending on the project's objective and contribution to the organization.</p>
        </div>
      </div>
    </div>
  </div>
  
</div>
<!-- <div class="row row-main page-section page-section-white">
  <div class="col-lg-10 col-lg-offset-1 col-lg-12-main">
    <h1>Members of UP AdCore</h1>
    <div class="row">
      <div id="parent-art-cfa" class="col-lg-7 col-md-7 col-sm-7 ">
        <img id="art-cfa" src="/img/cfa-clean.png" class="img-responsive img-big img-big-flush-right" alt="Members of UP AdCore">
      </div>
      <div class="col-lg-5 col-md-5 col-sm-5">
        <div class="invisibox">
          <h3>We bring creative ideas to life</h3>
          <p>We are young individuals who are united by our love for creativity</p>
          <h3>We pursue excellence</h3>
          <p>We aspire to break boundaries and go beyond the norm to create something great</p>
          <h3>We love what we do</h3>
          <p>We are passionate about what we do, and this translates in our work</p>
        </div>
      </div>
    </div>
  </div>
</div> -->
</div>

<div class="row row-main page-section page-section-white page-section-pad adjust" id="members-carousel-reduce">
  <span id="departments"></span>
  <div id="dept-panels" class="carousel slide" data-ride="carousel" data-interval="false">
    <div class="row" id="members-carousel-picker">
      <div class="text-center" >
        <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-jumbotron active" data-target="#dept-panels" data-slide-to="0">
            <input type="radio" autocomplete="off" checked="">
            <div class="visible-lg"><br>Creatives</div>
            <div class="hidden-lg">CRT</div>
          </label>
          <label class="btn btn-jumbotron" data-target="#dept-panels" data-slide-to="1">
            <input type="radio" autocomplete="off">
            <div class="visible-lg">Finance and<br>Corporate Affairs</div>
            <div class="hidden-lg">FCA</div>
          </label>
          <label class="btn btn-jumbotron" data-target="#dept-panels" data-slide-to="2">
            <input type="radio" autocomplete="off">
            <div class="visible-lg">Human<br>Resources</div>
            <div class="hidden-lg">HR</div>
          </label>
          <label class="btn btn-jumbotron" data-target="#dept-panels" data-slide-to="3">
            <input type="radio" autocomplete="off">
            <div class="visible-lg">Public Relations<br>and Promotions</div>
            <div class="hidden-lg">PRP</div>
          </label>
          <label class="btn btn-jumbotron" data-target="#dept-panels" data-slide-to="4">
            <input type="radio" autocomplete="off">
            <div class="visible-lg">Special Events<br>and Logistics</div>
            <div class="hidden-lg">SEaL</div>
          </label>
          <label class="btn btn-jumbotron" data-target="#dept-panels" data-slide-to="5">
            <input type="radio" autocomplete="off">
            <div class="visible-lg">Under the<br>President</div>
            <div class="hidden-lg">Pres.</div>
          </label>
        </div>
      </div>
    </div>

    <div id="real_space_pls"></div>
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">

      <!-- CREATIVES -->
      <div class="item active">
        <div class="img-wrapper" id="centerpls">
          <div class="row" id="dark_text">
            <div id="ninetywidth">
              <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12" id="member-icon">
                <img src="/img/members/pictures/UP-Advertising-Core-Logo-MASTER.png">
                <p><br><b>Ryan Tadina</b><br>VP for Creatives</p>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12" id="member-icon">
                <img src="/img/members/pictures/UP-Advertising-Core-Logo-MASTER.png">
                <p><br><b>Kenneth Madamba</b><br>AVP for Creatives</p>
              </div>
              <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12" id="comm_space_pls">
                <p id="do-not-center"><b>Creatives (CRT)</b><br><br>The Creatives department is the design powerhouse of the organization that brings to life ideas of the different departments through the production of quality creative materials. This department also ensures</p>
              </div>
            </div>
          </div>
          <div id="for_real_space_pls"></div>

          <div id="smaller_btn">
            <button>CRT Managers</button>
          </div>

          <div class="row" id="space_pls">
            <div class="wrapper-circle" id="dark_text">
              <div class="carousel-circle" id="member-icon">
                {% include crt.html %}
              </div>
            </div>
          </div>

          <div id="smaller_btn">
            <button>CRT Projects</button>
          </div>

          <div class="row" id="dark_text">
            <div id="ninetywidth">
              <div class="col-lg-5 col-lg-offset-1 col-md-5 col-md-offset-1" id="space_pls">
                <p id="do-not-center"><b>AdSchool</b><br><br>AdSchool is UP AdCore's official training vessel for effective visual communication. The team shall organize on and off campus learning sessions which will allow our members and future members to develop their design sensibilities and to equip them with competitive creative skills to come up with more innovative and quality works.</p>
              </div>
              <div class="col-lg-5 col-md-5" id="space_pls">
                <p id="do-not-center"><b>AdVance</b><br><br>AdVance brings the advertising world closer to AdCore members by giving them a glimpse of how advertising, marketing, and other corporate agencies work in order to have a better knowledge of advertising as a career path. The team provides learning opportunities about about contemporary, effective, and responsible advertising through seminars and talks conducted by reputable advertising professionals.</p>
              </div>
            </div>
          </div>

        </div>
      </div>


      <!-- FINANCE AND CORPORATE AFFAIRS -->
      <div class="item">
        <div class="img-wrapper" id="centerpls">
          <div class="row" id="dark_text">
            <div id="ninetywidth">
              <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12" id="member-icon">
                <img src="/img/members/exec/TEJADA_3.jpg">
                  <p><br><b>Odette Tejada</b><br>VP for Finance and<br>Corporate Affairs</p>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12" id="member-icon">
                <img src="/img/members/pictures/CALLEJA_2.jpg">
                <p><br><b>Koi Calleja</b><br>AVP for Finance and<br>Corporate Affairs</p>
              </div>

              <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12" id="comm_space_pls">
                <p id="do-not-center"><b>Finance and Corporate (FCA)</b><br><br>The Creatives department is the design powerhouse of the organization that brings to life ideas of the different departments through the production of quality creative materials. This department also ensures</p>
              </div>

            </div>
          </div>
          <div id="for_real_space_pls"></div>

          <div id="smaller_btn">
            <button>FCA Managers</button>
          </div>
          
          <div class="row" id="space_pls">
            <div class="wrapper-circle" id="dark_text">
              <div class="carousel-circle" id="member-icon">
                {% include fca.html %}
              </div>
            </div>
          </div>

          <div id="smaller_btn">
            <button>FCA Projects</button>
          </div>

          <div class="row" id="dark_text">
            <div id="ninetywidth">
              <div class="col-lg-5 col-lg-offset-1 col-md-5 col-md-offset-1" id="space_pls">
                <p id="do-not-center"><b>AdSchool</b><br><br>AdSchool is UP AdCore's official training vessel for effective visual communication. The team shall organize on and off campus learning sessions which will allow our members and future members to develop their design sensibilities and to equip them with competitive creative skills to come up with more innovative and quality works.</p>
              </div>
              <div class="col-lg-5 col-md-5" id="space_pls">
                <p id="do-not-center"><b>AdVance</b><br><br>AdVance brings the advertising world closer to AdCore members by giving them a glimpse of how advertising, marketing, and other corporate agencies work in order to have a better knowledge of advertising as a career path. The team provides learning opportunities about about contemporary, effective, and responsible advertising through seminars and talks conducted by reputable advertising professionals.</p>
              </div>
            </div>
          </div>

        </div>
      </div>

      <!-- HUMAN RESOURCES -->
      <div class="item">
        <div class="img-wrapper" id="centerpls">
          <div class="row" id="dark_text">
            <div id="ninetywidth">
              <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12" id="member-icon">
                <img src="/img/members/exec/MANIAGO_1.jpg">
                <p><br><b>Jovi Maniago</b><br>VP for Human<br>Resource(HR)</p>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12" id="member-icon">
                <img src="/img/members/pictures/GARCIA_1.jpg">
                <p><br><b>Russel Garcia</b><br>VP for Human<br>Resource(HR)</p>
              </div>
              <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12" id="comm_space_pls">
                <p id="do-not-center"><b>Human Resource (HR)</b><br><br>The Creatives department is the design powerhouse of the organization that brings to life ideas of the different departments through the production of quality creative materials. This department also ensures</p>
              </div>
            </div>
          </div>
          <div id="some_real_space_pls"></div>

          <div id="smaller_btn">
            <button>HR Managers</button>
          </div>

          <div class="row" id="space_pls">
            <div class="wrapper-circle" id="dark_text">
              <div class="carousel-circle" id="member-icon">
                {% include hr.html %}
              </div>
            </div>
          </div>

          <div id="smaller_btn">
            <button>HR Projects</button>
          </div>

          <div class="row" id="dark_text">
            <div id="ninetywidth">
              <div class="col-lg-5 col-lg-offset-1 col-md-5 col-md-offset-1" id="space_pls">
                <p id="do-not-center"><b>AdSchool</b><br><br>AdSchool is UP AdCore's official training vessel for effective visual communication. The team shall organize on and off campus learning sessions which will allow our members and future members to develop their design sensibilities and to equip them with competitive creative skills to come up with more innovative and quality works.</p>
              </div>
              <div class="col-lg-5 col-md-5" id="space_pls">
                <p id="do-not-center"><b>AdVance</b><br><br>AdVance brings the advertising world closer to AdCore members by giving them a glimpse of how advertising, marketing, and other corporate agencies work in order to have a better knowledge of advertising as a career path. The team provides learning opportunities about about contemporary, effective, and responsible advertising through seminars and talks conducted by reputable advertising professionals.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- PUBLIC RELATIONS AND PROMOTIONS -->
      <div class="item">
        <div class="img-wrapper" id="centerpls">
          <div class="row" id="dark_text">
            <div id="ninetywidth">
              <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12" id="member-icon">
                <img src="/img/members/exec/HANOPOL_3.jpg">
                <p><br><b>Nica Hanopol</b><br>VP for Promotions<br>and Public Relations</p>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12" id="member-icon">
                <img src="/img/members/pictures/ONG_2.jpg">
                <p><br><b>Andrew Ong</b><br>AVP for Promotions<br>and Public Relations</p>
              </div>
              <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12" id="comm_space_pls">
                <p id="do-not-center"><b>Promotions and Public Relations (PRP)</b><br><br>The Creatives department is the design powerhouse of the organization that brings to life ideas of the different departments through the production of quality creative materials. This department also ensures</p>
              </div>
            </div>
          </div>
          <div id="some_real_space_pls"></div>

          <div id="smaller_btn">
            <button>PRP Managers</button>
          </div>

          <div class="row" id="space_pls">
            <div class="wrapper-circle" id="dark_text">
              <div class="carousel-circle" id="member-icon">
                {% include prp.html %}
              </div>
            </div>
          </div>

          <div id="smaller_btn">
            <button>PRP Projects</button>
          </div>

          <div class="row" id="dark_text">
            <div id="ninetywidth">
              <div class="col-lg-5 col-lg-offset-1 col-md-5 col-md-offset-1" id="space_pls">
                <p id="do-not-center"><b>AdSchool</b><br><br>AdSchool is UP AdCore's official training vessel for effective visual communication. The team shall organize on and off campus learning sessions which will allow our members and future members to develop their design sensibilities and to equip them with competitive creative skills to come up with more innovative and quality works.</p>
              </div>
              <div class="col-lg-5 col-md-5" id="space_pls">
                <p id="do-not-center"><b>AdVance</b><br><br>AdVance brings the advertising world closer to AdCore members by giving them a glimpse of how advertising, marketing, and other corporate agencies work in order to have a better knowledge of advertising as a career path. The team provides learning opportunities about about contemporary, effective, and responsible advertising through seminars and talks conducted by reputable advertising professionals.</p>
              </div>
            </div>
          </div>

        </div>
      </div>

      <!-- SEAL -->
      <div class="item">
        <div class="img-wrapper" id="centerpls">
          <div class="row" id="dark_text">
            <div id="ninetywidth">
              <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12" id="member-icon">
                <img src="/img/members/exec/CARLOS_1.jpg">
                <p><br><b>Jet Carlos</b><br>VP for Special<br>Events and Logistics</p>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12" id="member-icon">
                <img src="/img/members/pictures/RAMOS_1.jpg">
                <p><br><b>Kirsten Ramos</b><br>AVP for Special<br>Events and Logistics</p>
              </div>
              <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12" id="comm_space_pls">
                <p id="do-not-center"><b>Special Events and Logistics (SEaL)</b><br><br>The Creatives department is the design powerhouse of the organization that brings to life ideas of the different departments through the production of quality creative materials. This department also ensures</p>
              </div>
            </div>
          </div>
          <div id="some_real_space_pls"></div>

          <div id="smaller_btn">
            <button>SEaL Managers</button>
          </div>

          <div class="row" id="space_pls">
            <div class="wrapper-circle" id="dark_text">
              <div class="carousel-circle" id="member-icon">
                {% include seal.html %}
              </div>
            </div>
          </div>

          <div id="smaller_btn">
            <button>SEaL Projects</button>
          </div>

          <div class="row" id="dark_text">
            <div id="ninetywidth">
              <div class="col-lg-5 col-lg-offset-1 col-md-5 col-md-offset-1" id="space_pls">
                <p id="do-not-center"><b>AdSchool</b><br><br>AdSchool is UP AdCore's official training vessel for effective visual communication. The team shall organize on and off campus learning sessions which will allow our members and future members to develop their design sensibilities and to equip them with competitive creative skills to come up with more innovative and quality works.</p>
              </div>
              <div class="col-lg-5 col-md-5" id="space_pls">
                <p id="do-not-center"><b>AdVance</b><br><br>AdVance brings the advertising world closer to AdCore members by giving them a glimpse of how advertising, marketing, and other corporate agencies work in order to have a better knowledge of advertising as a career path. The team provides learning opportunities about about contemporary, effective, and responsible advertising through seminars and talks conducted by reputable advertising professionals.</p>
              </div>
            </div>
          </div>

        </div>
      </div>

      <!-- UTP -->
      <div class="item">
        {% include utp.html %}
      </div>

    </div>
  </div>
</div>



<div class="row row-main page-section page-section-colored page-section-green page-section-pad adjust">
  <div class="col-lg-10 col-lg-offset-1 col-lg-12-main col-md-12 col-md-12-main members">
    <div id="orange_bandaid">
      <h1>APPLICATION PROCESS</h1>
    </div>

    <div id="apply">
    <h3><button>Your first step towards the orange path</button></h3>
    <h3><p>Your application process is as simple as spelling ADCORE. Go through with the following steps and be a part of this creativity.</p></h3>
    </div>

    <div id="real_space_pls"></div>
    <!--<h2 class="text-left">Your own kind of creative</h2>
      <p>You are a UP student who aspires to unleash your creative side while maintaining a business front. You are ready to exemplify excellence and commit yourself to an organization which truly understands your needs.</p>-->
    <div class="row" id="app-process" >
      <div class="col-lg-2 cold-md-2 col-sm-2 col-xs-6" id="single_giant_letters">
        <h1>A</h1>
        <h3><button><small>Attendance <br/>and Tambay Week</small></button></h3>
        <p>Attend AdCore’s events. You can attend more than the required number of events. Complete the required 30 hours of Tambay. Hang out at the AdHouse and get to know other applicants and members.</p>
      </div>
      <div class="col-lg-2 cold-md-2 col-sm-2 col-xs-6" id="single_giant_letters">
        <h1>D</h1>
        <h3><button><small>Date with Family</small></button></h3>
        <p>A buddy family (composed of 2-3 members and 3-6 applicants) will have to accomplish buddy family tasks, which will have corresponding points. Each family will have to meet the required number of points announced by Team AdDition.</p>
      </div>
      <div class="col-lg-2 cold-md-2 col-sm-2 col-xs-6" id="single_giant_letters">
        <h1>C</h1>
        <h3><button><small>Complete the <br/>Sigsheet</small></h3>
        <p>Ask the members to sign your sigsheet, especially the ExeCore and Team AdDition. Design it as creatively as you can and enjoy getting to know the members more.</p>
      </div>
      <div class="col-lg-2 cold-md-2 col-sm-2 col-xs-6" id="single_giant_letters">
        <h1>O</h1>
        <h3><button><small>Offer Help</small></button></h3>
        <p>Offer help to the AdCore teams and be an intern! This is your chance to have hands-on experience of handling an AdCore project and learning how teams work in AdCore.</p>
      </div>
      <div class="col-lg-2 cold-md-2 col-sm-2 col-xs-6" id="single_giant_letters">
        <h1>R</h1>
        <h3><button><small>Revalida</small></button></h3>
        <p>In advertising, the pitching of ideas is what we call a Revalida. This incorporates all the learnings you and your groupmates acquired throughout your application as you present to the ExeCore and Team AdDition.</p>
      </div>
      <div class="col-lg-2 cold-md-2 col-sm-2 col-xs-6" id="single_giant_letters">
        <h1>E</h1>
        <h3><button><small>End Interview</small></button></h3>
        <p>This will test your knowledge about AdCore and your dedication to join the organization.</p>
      </div>
    </div>

    <div id="for_real_space_pls"></div>

    <div class="centerpls">

      <a href="/contact/apply-as-member"><button class="contact-button-2" id="contact-button5">
        <b>APPLY AS A MEMBER</b>
      </button></a>
    </div>

    <p><br>UP Advertising Core holds its application process every semester. If you are a UP Diliman student looking for an avenue to express your creativity, this might just be the organization for you! Keep posted on our Facebook page to learn more about how to apply to UP AdCore. </p>
  </div>
</div>


<script type="text/javascript" src="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.min.js"></script>
<!-- <div class="row row-main page-section page-section-white adjust">
  <span id="execore"></span>
  <div class="col-lg-10 col-lg-offset-1 col-lg-12-main">
    <h1>The Executive Core</h1>
    <h3><small>AdCore&#8217;s outstanding leaders</small></h3>
    <div class="row">
      <div class="col-sm-12">
        <img src="/wp/wp-content/uploads/2016/10/execore.jpg" class="img-responsive img-execore">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <div class="row" id="execore-names">
          <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
            <h5>Nikka<br class="visible-xs"/> Mabuti<br/><small>VP for Public Relations<br>and Promotions</small></h5>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
            <h5>Katlyn<br class="visible-xs"/> Sadural<br/><small>VP for Special Events<br>and Logistics</small></h5>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
            <h5>Bettina<br class="visible-xs"/> Abad Santos<br/><small>Year 11 President</small></h5>
            <br/><br/>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
            <h5>Ryan<br class="visible-xs"/> Dela Rosa<br/><small>VP for Creatives</small></h5>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
            <h5>Deina<br class="visible-xs"/> Blancaflor<br/><small>VP for Human Resources</small></h5>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
            <h5>Shara<br class="visible-xs"/> Santiago<br/><small>VP for Finance<br/>and Corporate Affairs</small></h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->



<script>

/* NAVIGATION HEADER*/

var didScroll = false;

var jumbotron = document.getElementById('jumbotron-members');
var jumbotron_bcr = jumbotron.getBoundingClientRect();
var navbar = document.getElementById('navbar');
var navbar_brand = document.getElementsByClassName('navbar-brand');
var navbar_bcr = navbar.getBoundingClientRect();
window.onscroll = doOnScroll;

function doOnScroll() {
    didScroll = true;
    jumbotron_bcr = jumbotron.getBoundingClientRect();
    navbar_bcr = navbar.getBoundingClientRect();
    if((jumbotron_bcr.bottom-(navbar_bcr.bottom-navbar_bcr.top)) <= 0) {
      if (!(hasClass(navbar,'colorize'))) {
        $("#navbar").show("slow");
        navbar.classList.add('colorize');
        navbar_brand.classList.add('colorize');
      }
    }
    else {
      if ((hasClass(navbar,'colorize')) && ((jumbotron_bcr.bottom-(navbar_bcr.bottom-navbar_bcr.top)) >= 0)) {
        $("#navbar").hide("slow");
        if(window.getComputedStyle(navbar).display == "none"){
          navbar.classList.remove('colorize');
        }
      }
    }
}

setInterval(function() {
    if(didScroll) {
        didScroll = false;
    }
}, 100);

/* DROPDOWN */

$(document).on('click', function(event) {
  if ((!$(event.target).closest('.button-more#button-more-1').length)) {
    $('.button-more#button-more-1').parent().next().removeClass('toggle-dropdown-active toggle-dropdown-visible');
  }
  if ((!$(event.target).closest('.button-more#button-more-2').length)) {
    $('.button-more#button-more-2').parent().nelast-namext().removeClass('toggle-dropdown-active toggle-dropdown-visible');
  }
});
</script>

{% include header-script.html %}

<script>

$('.button-more').click(function(event){
  var thisdropdown = $(this).parent().next();
  if (thisdropdown.hasClass('toggle-dropdown-active')) {
    thisdropdown.removeClass('toggle-dropdown-active toggle-dropdown-visible');
  }
  else {
    thisdropdown.addClass('toggle-dropdown-active');
    setTimeout(function (){thisdropdown.addClass('toggle-dropdown-visible');}, 0);
  }
});

</script>

<script>
  var depts = ['crt','fca','hr','prp','seal','pres'];
  var curr;

  $('.button-dept').click(function(event){
    curr = $(this).attr('id');
    //alert('Curr: '+curr);
    depts.forEach(function(entry){
      if (entry==curr) {
        //$('#panel-'+entry).addClass('panel-dept-active');
        curr=$('#panel-'+entry);
        //alert('Added class to '+entry);
      }
      else {
        //$('#panel-'+entry).removeClass('panel-dept-active');
        setTimeout(function (){$('#panel-'+entry).removeClass('panel-dept-active');}, 000);
      }
    });
    setTimeout(function (){curr.addClass('panel-dept-active');}, 000);
    //curr.addClass('panel-dept-active');

  });
</script>

<script >
  $(document).ready(function(){
    $('.carousel-circle').slick({
      dots: false,
      infinite: true,
      speed: 300,
      slidesToShow: 5,
      slidesToScroll: 5,
      autoplay: true,
      autoplaySpeed: 2000,
      responsive: [
        {
          breakpoint: 1700,
          settings: {
            slidesToShow: 4,
            slidesToScroll: 4,
            infinite: true,
            dots: false,
            autoplay: true,
            autoplaySpeed: 2000
          }
        },
        {
          breakpoint: 1300,
          settings: {
            slidesToShow: 3,
            slidesToScroll: 3,
            autoplay: true,
            autoplaySpeed: 2000
          }
        },
        {
          breakpoint: 1000,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 2,
            autoplay: true,
            autoplaySpeed: 2000
          }
        },
        {
          breakpoint: 600,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1,
            autoplay: true,
            autoplaySpeed: 2000
          }
        }
      ]
    });
  });
</script>
