---
title: Members
permalink: /members
layout: default
---
<div id="jumbotron-members">
  <div class="row row-main header" id="jumbotron">
    <div class="col-lg-2 col-lg-offset-0 col-md-2 col-md-offset-0 col-sm-2 col-sm-offset-0 col-xs-2 col-xs-offset-0" id="homecol1">
      <a class="new-navbar-brand" href="/about/"">ABOUT</a>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" id="homecol1">
      <a class="new-navbar-brand" href="/services/"">SERVICES</a>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" id="homecol1img">
      <a href="/#">
        <img src="/img/UP-Advertising-Core-Logo-MASTER.png" class="img-responsive img-logo" alt="UP AdCore" id="logo">
      </a>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" id="homecol1">
      <a class="new-navbar-brand" href="/members/"">MEMBERS</a>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3" id="homecol1">
      <a class="new-navbar-brand" href="/contact/"">CONTACT US</a>
    </div>
    <!-- <img src="/img/calligraphy.png" class="img-responsive img-calligraphy" alt="Creativity is in everyone"> -->
    <!-- <p>The UP Advertising Core is the only student run, not-for-profit<br class="hidden-xs"/> organization and advertising agency based in the Cesar E.A. Virata<br class="hidden-xs"/> School of Business, University of the Philippines, Diliman.</p> -->
    <!-- <div class="text-center">
    <div class="btn-group" role="group" aria-label="...">
    <a class="btn btn-primary btn-jumbotron" role="button" href="/#know">KNOW</a>
    <a class="btn btn-primary btn-jumbotron" role="button" href="/#collab">COLLABORATE</a>
    <a class="btn btn-primary btn-jumbotron" role="button" href="/#join">JOIN</a>
  </div>
</div> -->
  </div>

  <div>
    <div class="header_text">
      MEMBERS
    </div>
    <div id="space_pls"></div>
  </div>
</div>


<div class="row row-main page-section page-section-white page-section-pad adjust" id="space_pls">
  <div class="col-lg-10 col-lg-offset-1 col-md-11 col-md-offset-0pt5 col-lg-12-main" id="orange_bandaid">
    <h1>OUR PEOPLE</h1>
    <div id="black_btn">
    <h3><button id="black_btn">The sturcture and division of the organization</button></h3>
    </div>

    <div id="tiny_space_pls"></div>

    <b><p id="dark_text">Executive Core</p></b>
    <div id="tiny_space_pls"></div>

    <div class="member-exec-size" id="centerpls">
      <div class="row" id="dark_text">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" id="member-icon">
          <img src="/img/UP-Advertising-Core-Logo-MASTER.png">
          <p><br><b>Ryan Tadina</b><br>VP for Creatives<br>(CRT)</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" id="member-icon">
          <img src="/img/members/exec/AMBROSIO_3.jpg">
          <p><br><b>Josh Ambrosio</b><br>President</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" id="member-icon">
          <img src="/img/members/exec/TEJADA_3.jpg">
          <p><br><b>Odette Tejada</b><br>VP for Finance and<br>Corporate Affairs</p>
        </div>
      </div>
      <div class="row" id="dark_text">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" id="member-icon">
          <img src="/img/members/exec/MANIAGO_1.jpg">
          <p><br><b>Jovi Maniago</b><br>VP for Human<br>Resource(HR)</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" id="member-icon">
          <img src="/img/members/exec/HANOPOL_3.jpg">
          <p><br><b>Nica Hanopol</b><br>VP for Promotions<br>and Public Relations</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" id="member-icon">
          <img src="/img/members/exec/CARLOS_1.jpg">
          <p><br><b>Jet Carlos</b><br>VP for Special<br>Events and Logistics</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="matrix" id="matrix-list">
  <h1>Matrix System Design</h1>
  <div id="space_pls"></div>
  <div class="matrix-size" id="centerpls" >
    <div class="row" id="app-process">
      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12" id="single_giant_letters">
        <p class="members-box" id="president">President</p>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12" id="single_giant_letters">
        <p class="members-box" id="vp">VP for CRT</p>
        <p class="members-box" id="vp">VP for FCA</p>
        <p class="members-box" id="vp">VP for HR</p>
        <p class="members-box" id="vp">VP for PRP</p>
        <p class="members-box" id="vp">VP for SEaL</p>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12" id="single_giant_letters">
        <p class="members-box" id="avp">AVP for CRT</p>
        <p class="members-box" id="avp">AVP for FCA</p>
        <p class="members-box" id="avp">AVP for HR</p>
        <p class="members-box" id="avp">AVP for PRP</p>
        <p class="members-box" id="avp">AVP for SEaL</p>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12" id="single_giant_letters">
        <p class="members-box" id="manager">CRT Manager</p>
        <p class="members-box" id="manager">FCA Manager</p>
        <p class="members-box" id="manager">HR Manager</p>
        <p class="members-box" id="manager">PRP Manager</p>
        <p class="members-box" id="manager">SEaL Manager</p>
      </div>
    </div>
    <div id="double_space_pls"></div>
  </div>

  <div id="dark_text">
    <div class="row" id="bottom_space_pls">
      <div id="ninetywidth">
        <div class="col-lg-5 col-lg-offset-1 col-md-5 col-md-offset-1">
          <p id="do-not-center"><b>Department Members</b><br><br>All members of UP AdCore belong to a certain department, selected when they get accepted as members, and renewed every semester. They can serve either as a manager of that department in different teams, a project head, or an AVP.</p>
        </div>
        <div class="col-lg-5 col-md-5">
          <p id="do-not-center"><b>Department Projects</b><br><br>UP AdCore's projects are classified into departments, depending on the project's objective and contribution to the organization.</p>
        </div>
      </div>
    </div>
  </div>
  
</div>
<!-- <div class="row row-main page-section page-section-white">
  <div class="col-lg-10 col-lg-offset-1 col-lg-12-main">
    <h1>Members of UP AdCore</h1>
    <div class="row">
      <div id="parent-art-cfa" class="col-lg-7 col-md-7 col-sm-7 ">
        <img id="art-cfa" src="/img/cfa-clean.png" class="img-responsive img-big img-big-flush-right" alt="Members of UP AdCore">
      </div>
      <div class="col-lg-5 col-md-5 col-sm-5">
        <div class="invisibox">
          <h3>We bring creative ideas to life</h3>
          <p>We are young individuals who are united by our love for creativity</p>
          <h3>We pursue excellence</h3>
          <p>We aspire to break boundaries and go beyond the norm to create something great</p>
          <h3>We love what we do</h3>
          <p>We are passionate about what we do, and this translates in our work</p>
        </div>
      </div>
    </div>
  </div>
</div> -->
</div>

<div class="row row-main page-section page-section-white page-section-pad adjust" id="members-carousel-reduce">
  <span id="departments"></span>
  <div id="dept-panels" class="carousel slide" data-ride="carousel" data-interval="false">
    <div class="row" id="members-carousel-picker">
      <div class="text-center" >
        <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-jumbotron active" data-target="#dept-panels" data-slide-to="0">
            <input type="radio" autocomplete="off" checked="">
            <div class="visible-lg"><br>Creatives</div>
            <div class="hidden-lg">CRT</div>
          </label>
          <label class="btn btn-jumbotron" data-target="#dept-panels" data-slide-to="1">
            <input type="radio" autocomplete="off">
            <div class="visible-lg">Finance and<br>Corporate Affairs</div>
            <div class="hidden-lg">FCA</div>
          </label>
          <label class="btn btn-jumbotron" data-target="#dept-panels" data-slide-to="2">
            <input type="radio" autocomplete="off">
            <div class="visible-lg">Human<br>Resources</div>
            <div class="hidden-lg">HR</div>
          </label>
          <label class="btn btn-jumbotron" data-target="#dept-panels" data-slide-to="3">
            <input type="radio" autocomplete="off">
            <div class="visible-lg">Public Relations<br>and Promotions</div>
            <div class="hidden-lg">PRP</div>
          </label>
          <label class="btn btn-jumbotron" data-target="#dept-panels" data-slide-to="4">
            <input type="radio" autocomplete="off">
            <div class="visible-lg">Special Events<br>and Logistics</div>
            <div class="hidden-lg">SEaL</div>
          </label>
          <label class="btn btn-jumbotron" data-target="#dept-panels" data-slide-to="5">
            <input type="radio" autocomplete="off">
            <div class="visible-lg">Under the<br>President</div>
            <div class="hidden-lg">Pres.</div>
          </label>
        </div>
      </div>
    </div>

    <div id="real_space_pls"></div>
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">

      <!-- CREATIVES -->
      <div class="item active">
        <div class="img-wrapper" id="centerpls">
          <div class="row" id="dark_text">
            <div id="ninetywidth">
              <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12" id="member-icon">
                <img src="/img/members/pictures/UP-Advertising-Core-Logo-MASTER.png">
                <p><br><b>Ryan Tadina</b><br>VP for Creatives</p>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12" id="member-icon">
                <img src="/img/members/pictures/UP-Advertising-Core-Logo-MASTER.png">
                <p><br><b>Kenneth Madamba</b><br>AVP for Creatives</p>
              </div>
              <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12" id="comm_space_pls">
                <p id="do-not-center"><b>Creatives (CRT)</b><br><br>The Creatives department is the design powerhouse of the organization that brings to life ideas of the different departments through the production of quality creative materials. This department also ensures the competence of members by housing all the training initiative projects of the organization.</p>
              </div>
            </div>
          </div>
          <div id="for_real_space_pls"></div>

          <div class="row" id="dark_text">
            <div id="ninetywidth">
              <div class="col-lg-5 col-lg-offset-1 col-md-5 col-md-offset-1" id="space_pls">
                <div id="smaller_btn">
                  <button>CRT Managers</button>
                </div>
              </div>
            </div>
          </div>

          <div class="row" id="space_pls">
            <div class="wrapper-circle" id="dark_text">
              <div class="carousel-circle" id="member-icon">
                {% include crt.html %}
              </div>
            </div>
          </div>

          <div class="row" id="dark_text">
            <div id="ninetywidth">
              <div class="col-lg-5 col-lg-offset-1 col-md-5 col-md-offset-1" id="space_pls">
                <div id="smaller_btn">
                  <button>CRT Projects</button>
                </div>
              </div>
            </div>
          </div>

          <div class="row" id="dark_text">
            <div id="ninetywidth">
              <div class="col-lg-5 col-lg-offset-1 col-md-5 col-md-offset-1" id="space_pls">
                <p id="do-not-center"><b>AdSchool</b><br><br>AdSchool is UP AdCore's official training vessel for effective visual communication. The team shall organize on and off campus learning sessions which will allow our members and future members to develop their design sensibilities and to equip them with competitive creative skills to come up with more innovative and quality works.</p>
              </div>
              <div class="col-lg-5 col-md-5" id="space_pls">
                <p id="do-not-center"><b>AdVance</b><br><br>AdVance brings the advertising world closer to AdCore members by giving them a glimpse of how advertising, marketing, and other corporate agencies work in order to have a better knowledge of advertising as a career path. The team provides learning opportunities about about contemporary, effective, and responsible advertising through seminars and talks conducted by reputable advertising professionals.</p>
              </div>
            </div>
          </div>

        </div>
      </div>


      <!-- FINANCE AND CORPORATE AFFAIRS -->
      <div class="item">
        <div class="img-wrapper" id="centerpls">
          <div class="row" id="dark_text">
            <div id="ninetywidth">
              <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12" id="member-icon">
                <img src="/img/members/exec/TEJADA_3.jpg">
                  <p><br><b>Odette Tejada</b><br>VP for Finance and<br>Corporate Affairs</p>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12" id="member-icon">
                <img src="/img/members/pictures/CALLEJA_2.jpg">
                <p><br><b>Koi Calleja</b><br>AVP for Finance and<br>Corporate Affairs</p>
              </div>

              <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12" id="comm_space_pls">
                <p id="do-not-center"><b>Finance and Corporate (FCA)</b><br><br>The Finance and Corporate Affairs department is often referred to as AdCore’s “left brain.” It ensures effective allocation and use of the organization’s funds through strategic planning and control; it develops and maintains healthy relations with clients and other corporate entities.</p>
              </div>

            </div>
          </div>
          <div id="for_real_space_pls"></div>

          <div class="row" id="dark_text">
            <div id="ninetywidth">
              <div class="col-lg-5 col-lg-offset-1 col-md-5 col-md-offset-1" id="space_pls">
                <div id="smaller_btn">
                  <button>FCA Members</button>
                </div>
              </div>
            </div>
          </div>
          
          <div class="row" id="space_pls">
            <div class="wrapper-circle" id="dark_text">
              <div class="carousel-circle" id="member-icon">
                {% include fca.html %}
              </div>
            </div>
          </div>

          <div class="row" id="dark_text">
            <div id="ninetywidth">
              <div class="col-lg-5 col-lg-offset-1 col-md-5 col-md-offset-1" id="space_pls">
                <div id="smaller_btn">
                  <button>FCA Projects</button>
                </div>
              </div>
            </div>
          </div>

          <div class="row" id="dark_text">
            <div  id="ninetywidth">
              <div class="col-lg-10 col-lg-offset-1 col-md-11 col-md-offset-1" id="space_pls">
                <p id="do-not-center"><b>Punch Creatives</b><br><br>As UP AdCore's client-centered design and communication solutions arm and, consequently, UP AdCore's main revenue resource, Punch Creatives aims to provide members an opportunity to experience the different facets of agency work first-hand, from account handling to campaign-building.</p>
              </div>
            </div>
          </div>

        </div>
      </div>

      <!-- HUMAN RESOURCES -->
      <div class="item">
        <div class="img-wrapper" id="centerpls">
          <div class="row" id="dark_text">
            <div id="ninetywidth">
              <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12" id="member-icon">
                <img src="/img/members/exec/MANIAGO_1.jpg">
                <p><br><b>Jovi Maniago</b><br>VP for Human<br>Resource(HR)</p>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12" id="member-icon">
                <img src="/img/members/pictures/GARCIA_1.jpg">
                <p><br><b>Russel Garcia</b><br>VP for Human<br>Resource(HR)</p>
              </div>
              <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12" id="comm_space_pls">
                <p id="do-not-center"><b>Human Resource (HR)</b><br><br>The Human Resources department focuses on three major aspects: (i) Taking care of members, future members, and alumni of the org, (ii) Disseminating information to the organization in an efficient manner, and (iii) Implementing the grading system for both future members and members. That is why the Human Resources Department is also the Heart of the organization as it caters to the lifeblood of the org - its people.</p>
              </div>
            </div>
          </div>
          <div id="some_real_space_pls"></div>

          <div class="row" id="dark_text">
            <div id="ninetywidth">
              <div class="col-lg-5 col-lg-offset-1 col-md-5 col-md-offset-1" id="space_pls">
                <div id="smaller_btn">
                  <button>HR Managers</button>
                </div>
              </div>
            </div>
          </div>

          <div class="row" id="space_pls">
            <div class="wrapper-circle" id="dark_text">
              <div class="carousel-circle" id="member-icon">
                {% include hr.html %}
              </div>
            </div>
          </div>

          <div class="row" id="dark_text">
            <div id="ninetywidth">
              <div class="col-lg-5 col-lg-offset-1 col-md-5 col-md-offset-1" id="space_pls">
                <div id="smaller_btn">
                  <button>HR Projects</button>
                </div>
              </div>
            </div>
          </div>

          <div class="row" id="dark_text">
            <div id="ninetywidth">
              <div class="col-lg-5 col-lg-offset-1 col-md-5 col-md-offset-1" id="space_pls">
                <p id="do-not-center"><b>AdDition</b><br><br>AdDition is the recruitment arm of the organization responsible for pooling in quality future members by spearheading the application process throughout the whole semester. The team is in-charge of grading and guiding the growth of deserving future members, ensuring that they understand and experience the work and play environment of AdCore.</p>
              </div>
              <div class="col-lg-5 col-md-5" id="space_pls">
                <p id="do-not-center"><b>AdHesive</b><br><br>AdHesive accommodates to the growth and welfare of the heart of AdCore—its members. The team initiates activities that cater to the wellbeing of the members and their passion for advertising. They also spearhead team-building activities and events such as The Great AdCore Friday, AdMeet, and the Mem-Future Mem Team Building Session.</p>
              </div>
            </div>
          </div>

          <div class="row" id="dark_text">
            <div id="ninetywidth">
              <div class="col-lg-10 col-lg-offset-1 col-md-11 col-md-offset-1" id="space_pls">
                <p id="do-not-center"><b>AdHere</b><br><br>AdHere is the alumni relations arm of the org which serves as a bridge between the organization’s alumni and its current stakeholders. It maintains constant communication with and involvement of the alumni through initiatives like Made in AdCore, Alumni Mentorship sessions, and Alumnight. Apart from this, the team is also responsible for ensuring a memorable send-off for its graduating members.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- PUBLIC RELATIONS AND PROMOTIONS -->
      <div class="item">
        <div class="img-wrapper" id="centerpls">
          <div class="row" id="dark_text">
            <div id="ninetywidth">
              <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12" id="member-icon">
                <img src="/img/members/exec/HANOPOL_3.jpg">
                <p><br><b>Nica Hanopol</b><br>VP for Promotions<br>and Public Relations</p>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12" id="member-icon">
                <img src="/img/members/pictures/ONG_2.jpg">
                <p><br><b>Andrew Ong</b><br>AVP for Promotions<br>and Public Relations</p>
              </div>
              <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12" id="comm_space_pls">
                <p id="do-not-center"><b>Promotions and Public Relations (PRP)</b><br><br>The Creatives department is the design powerhouse of the organization that brings to life ideas of the different departments through the production of quality creative materials. This department also ensures</p>
              </div>
            </div>
          </div>
          <div id="some_real_space_pls"></div>

          <div class="row" id="dark_text">
            <div id="ninetywidth">
              <div class="col-lg-5 col-lg-offset-1 col-md-5 col-md-offset-1" id="space_pls">
                <div id="smaller_btn">
                  <button>PRP Managers</button>
                </div>
              </div>
            </div>
          </div>

          <div class="row" id="space_pls">
            <div class="wrapper-circle" id="dark_text">
              <div class="carousel-circle" id="member-icon">
                {% include prp.html %}
              </div>
            </div>
          </div>

          <div class="row" id="dark_text">
            <div id="ninetywidth">
              <div class="col-lg-5 col-lg-offset-1 col-md-5 col-md-offset-1" id="space_pls">
                <div id="smaller_btn">
                  <button>PRP Projects</button>
                </div>
              </div>
            </div>
          </div>

          <div class="row" id="dark_text">
            <div id="ninetywidth">
              <div class="col-lg-5 col-lg-offset-1 col-md-5 col-md-offset-1" id="space_pls">
                <p id="do-not-center"><b>AdVocate</b><br><br>AdVocate is AdCore's public service announcement (PSA) arm which has a specific thrust and cause for one semester. This project adheres to the organization's goal of promoting effective and responsible advertising through a partnership with a client and/or an organization for the development of PR events and campaigns. It seeks to communicate a specific advocacy to a wider audience with a lasting impact.</p>
              </div>
              <div class="col-lg-5 col-md-5" id="space_pls">
                <p id="do-not-center"><b>Juiceletter</b><br><br>Juiceletter is UP AdCore's official multimedia outlet for all things advertising, lifestyle, and pop culture. It provides its readers with timely and insightful content about the latest trends, news, and key personalities in the field.</p>
              </div>
            </div>
          </div>
          <div class="row" id="dark_text">
            <div id="ninetywidth">
              <div class="col-lg-5 col-lg-offset-1 col-md-5 col-md-offset-1" id="space_pls">
                <p id="do-not-center"><b>University Job Fair</b><br><br>University Job Fair (UJF) is a yearlong event that aims to provide job and internship opportunities to UP students across all colleges. UJF is organized by the Office of Counseling and Guidance, USC, UP JPIA, and UP Adcore as its sole promotional arm. Packed with insightful talks, lectures, mock interviews, and summits year-round, the UJF Team seeks to provide effective and multi-functional promotional materials and executions that best suit the objectives of the project.</p>
              </div>
              <div class="col-lg-5 col-md-5" id="space_pls">
                <p id="do-not-center"><b>UP Fair</b><br><br>UP Fair is an annual weeklong music festival featuring various OPM artists, both established and up-and-coming ones. The UP Fair Team serves as the official promotional arm of the University Student Council for the whole event. With the vision of highlighting social every night, the UP Fair team seeks to provide well-crafted relevant promotional materials to contribute to the event's success. UP Fair 13.2 is directly catered to the execution of promotions for UP Fair 2019.</p>
              </div>
            </div>
          </div>

        </div>
      </div>

      <!-- SEAL -->
      <div class="item">
        <div class="img-wrapper" id="centerpls">
          <div class="row" id="dark_text">
            <div id="ninetywidth">
              <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12" id="member-icon">
                <img src="/img/members/exec/CARLOS_1.jpg">
                <p><br><b>Jet Carlos</b><br>VP for Special<br>Events and Logistics</p>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12" id="member-icon">
                <img src="/img/members/pictures/RAMOS_1.jpg">
                <p><br><b>Kirsten Ramos</b><br>AVP for Special<br>Events and Logistics</p>
              </div>
              <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12" id="comm_space_pls">
                <p id="do-not-center"><b>Special Events and Logistics (SEaL)</b><br><br>The Creatives department is the design powerhouse of the organization that brings to life ideas of the different departments through the production of quality creative materials. This department also ensures</p>
              </div>
            </div>
          </div>
          <div id="some_real_space_pls"></div>

          <div class="row" id="dark_text">
            <div id="ninetywidth">
              <div class="col-lg-5 col-lg-offset-1 col-md-5 col-md-offset-1" id="space_pls">
                <div id="smaller_btn">
                  <button>SEaL Managers</button>
                </div>
              </div>
            </div>
          </div>

          <div class="row" id="space_pls">
            <div class="wrapper-circle" id="dark_text">
              <div class="carousel-circle" id="member-icon">
                {% include seal.html %}
              </div>
            </div>
          </div>

          <div class="row" id="dark_text">
            <div id="ninetywidth">
              <div class="col-lg-5 col-lg-offset-1 col-md-5 col-md-offset-1" id="space_pls">
                <div id="smaller_btn">
                  <button>SEaL Projects</button>
                </div>
              </div>
            </div>
          </div>

          <div class="row" id="dark_text">
            <div id="ninetywidth">
              <div class="col-lg-5 col-lg-offset-1 col-md-5 col-md-offset-1" id="space_pls">
                <p id="do-not-center"><b>AdCore Week</b><br><br>AdCore Week is the organization's annual celebration which aims to showcase and share its humble growth as a student-run advertising agency and organization to the whole UP community as well as its various stakeholders. The AdCore Week team is directly in-charge of the prepared executions for the organization’s 13th year celebration this coming April.</p>
              </div>
              <div class="col-lg-5 col-md-5" id="space_pls">
                <p id="do-not-center"><b>Teenspeak X</b><br><br>Teenspeak is an annual advertising competition hosted by UP AdCore in partnership with a corporate client. The competition allows students to have a voice as consumers in tackling challenges posted by the partner brand. Teenspeak is acclaimed for having past tie-ups with some of the Philippines' top brands such as Coca-Cola, Globe, Samsung, Jollibee, and AirAsia. For its tenth year, Teenspeak partners up with Pepsi Cola Products Philippines, Inc.</p>
              </div>
            </div>
          </div>

        </div>
      </div>

      <!-- UTP -->
      <div class="item">
        {% include utp.html %}
      </div>

    </div>
  </div>
</div>



<div class="row row-main page-section page-section-colored page-section-green page-section-pad adjust">
  <div class="col-lg-10 col-lg-offset-1 col-lg-12-main col-md-12 col-md-12-main members">
    <div id="orange_bandaid">
      <h1>APPLICATION PROCESS</h1>
    </div>

    <div id="apply">
    <h3><button>Your first step towards the orange path</button></h3>
    <h3><p>Your application process is as simple as spelling ADCORE. Go through with the following steps and be a part of this creativity.</p></h3>
    </div>

    <div id="real_space_pls"></div>
    <!--<h2 class="text-left">Your own kind of creative</h2>
      <p>You are a UP student who aspires to unleash your creative side while maintaining a business front. You are ready to exemplify excellence and commit yourself to an organization which truly understands your needs.</p>-->
    <div class="row" id="app-process" >
      <div class="col-lg-2 cold-md-2 col-sm-2 col-xs-6" id="single_giant_letters">
        <h1>A</h1>
        <h3><button><small>Attendance <br/>and Tambay Week</small></button></h3>
        <p>This is 15% of your grade. Complete the 6 hours during Tambay Week, as well as a total of 30 hours for the whole semester, and attend UP AdCore events.</p>
      </div>
      <div class="col-lg-2 cold-md-2 col-sm-2 col-xs-6" id="single_giant_letters">
        <h1>D</h1>
        <h3><button><small>Date with Family</small></button></h3>
        <p>A buddy family (composed of 2-3 members and 3-6 future members) will have to accomplish buddy family tasks. Each task has corresponding points, and each family will have to meet the required number of points to be announced by Team AdDition each month. This is 10% of your grade.</p>
      </div>
      <div class="col-lg-2 cold-md-2 col-sm-2 col-xs-6" id="single_giant_letters">
        <h1>C</h1>
        <h3><button><small>Complete the <br/>Sigsheet</small></h3>
        <p>Earn 15% of your grade by asking the members to sign your sigsheet, especially ExeCore, Team AdDition, and the Project Heads. Design it as creatively as you can. Get to know the members more and enjoy!</p>
      </div>
      <div class="col-lg-2 cold-md-2 col-sm-2 col-xs-6" id="single_giant_letters">
        <h1>O</h1>
        <h3><button><small>Offer Help</small></button></h3>
        <p>Offer help to the AdCore teams and be an intern! This is your chance to have hands-on experience in handling an AdCore project and in learning how teams work in the organization. This is 25% of your grade.</p>
      </div>
      <div class="col-lg-2 cold-md-2 col-sm-2 col-xs-6" id="single_giant_letters">
        <h1>R</h1>
        <h3><button><small>Revalida</small></button></h3>
        <p>In advertising, this is what the pitching of ideas is called. This incorporates all that you and your fellow future members have learned throughout the application process as you present to Team AdDition. This will earn you 25% of your grade.</p>
      </div>
      <div class="col-lg-2 cold-md-2 col-sm-2 col-xs-6" id="single_giant_letters">
        <h1>E</h1>
        <h3><button><small>End Interview</small></button></h3>
        <p>This is 10% of your grade. This will test your knowledge of UP AdCore and your dedication to the organization.</p>
      </div>
    </div>

    <div id="for_real_space_pls"></div>

    <div class="centerpls">

      <a href="/contact/apply-as-member"><button class="contact-button-2" id="contact-button5">
        <b>APPLY AS A MEMBER</b>
      </button></a>
    </div>

    <p><br>UP Advertising Core holds its application process every semester. If you are a UP Diliman student looking for an avenue to express your creativity, this might just be the organization for you! Keep posted on our Facebook page to learn more about how to apply to UP AdCore. </p>
  </div>
</div>


<script type="text/javascript" src="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.min.js"></script>
<!-- <div class="row row-main page-section page-section-white adjust">
  <span id="execore"></span>
  <div class="col-lg-10 col-lg-offset-1 col-lg-12-main">
    <h1>The Executive Core</h1>
    <h3><small>AdCore&#8217;s outstanding leaders</small></h3>
    <div class="row">
      <div class="col-sm-12">
        <img src="/wp/wp-content/uploads/2016/10/execore.jpg" class="img-responsive img-execore">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <div class="row" id="execore-names">
          <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
            <h5>Nikka<br class="visible-xs"/> Mabuti<br/><small>VP for Public Relations<br>and Promotions</small></h5>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
            <h5>Katlyn<br class="visible-xs"/> Sadural<br/><small>VP for Special Events<br>and Logistics</small></h5>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
            <h5>Bettina<br class="visible-xs"/> Abad Santos<br/><small>Year 11 President</small></h5>
            <br/><br/>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
            <h5>Ryan<br class="visible-xs"/> Dela Rosa<br/><small>VP for Creatives</small></h5>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
            <h5>Deina<br class="visible-xs"/> Blancaflor<br/><small>VP for Human Resources</small></h5>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
            <h5>Shara<br class="visible-xs"/> Santiago<br/><small>VP for Finance<br/>and Corporate Affairs</small></h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->



<script>

/* NAVIGATION HEADER*/

var didScroll = false;

var jumbotron = document.getElementById('jumbotron-members');
var jumbotron_bcr = jumbotron.getBoundingClientRect();
var navbar = document.getElementById('navbar');
var navbar_brand = document.getElementsByClassName('navbar-brand');
var navbar_bcr = navbar.getBoundingClientRect();
window.onscroll = doOnScroll;

function doOnScroll() {
    didScroll = true;
    jumbotron_bcr = jumbotron.getBoundingClientRect();
    navbar_bcr = navbar.getBoundingClientRect();
    if((jumbotron_bcr.bottom-(navbar_bcr.bottom-navbar_bcr.top)) <= 0) {
      if (!(hasClass(navbar,'colorize'))) {
        $("#navbar").show("slow");
        navbar.classList.add('colorize');
        navbar_brand.classList.add('colorize');
      }
    }
    else {
      if ((hasClass(navbar,'colorize')) && ((jumbotron_bcr.bottom-(navbar_bcr.bottom-navbar_bcr.top)) >= 0)) {
        $("#navbar").hide("slow");
        if(window.getComputedStyle(navbar).display == "none"){
          navbar.classList.remove('colorize');
        }
      }
    }
}

setInterval(function() {
    if(didScroll) {
        didScroll = false;
    }
}, 100);

/* DROPDOWN */

$(document).on('click', function(event) {
  if ((!$(event.target).closest('.button-more#button-more-1').length)) {
    $('.button-more#button-more-1').parent().next().removeClass('toggle-dropdown-active toggle-dropdown-visible');
  }
  if ((!$(event.target).closest('.button-more#button-more-2').length)) {
    $('.button-more#button-more-2').parent().nelast-namext().removeClass('toggle-dropdown-active toggle-dropdown-visible');
  }
});
</script>

{% include header-script.html %}

<script>

$('.button-more').click(function(event){
  var thisdropdown = $(this).parent().next();
  if (thisdropdown.hasClass('toggle-dropdown-active')) {
    thisdropdown.removeClass('toggle-dropdown-active toggle-dropdown-visible');
  }
  else {
    thisdropdown.addClass('toggle-dropdown-active');
    setTimeout(function (){thisdropdown.addClass('toggle-dropdown-visible');}, 0);
  }
});

</script>

<script>
  var depts = ['crt','fca','hr','prp','seal','pres'];
  var curr;

  $('.button-dept').click(function(event){
    curr = $(this).attr('id');
    //alert('Curr: '+curr);
    depts.forEach(function(entry){
      if (entry==curr) {
        //$('#panel-'+entry).addClass('panel-dept-active');
        curr=$('#panel-'+entry);
        //alert('Added class to '+entry);
      }
      else {
        //$('#panel-'+entry).removeClass('panel-dept-active');
        setTimeout(function (){$('#panel-'+entry).removeClass('panel-dept-active');}, 000);
      }
    });
    setTimeout(function (){curr.addClass('panel-dept-active');}, 000);
    //curr.addClass('panel-dept-active');

  });
</script>

<script >
  $(document).ready(function(){
    $('.carousel-circle').slick({
      dots: false,
      infinite: true,
      speed: 300,
      slidesToShow: 5,
      slidesToScroll: 5,
      autoplay: true,
      autoplaySpeed: 2000,
      responsive: [
        {
          breakpoint: 1700,
          settings: {
            slidesToShow: 4,
            slidesToScroll: 4,
            infinite: true,
            dots: false,
            autoplay: true,
            autoplaySpeed: 2000
          }
        },
        {
          breakpoint: 1300,
          settings: {
            slidesToShow: 3,
            slidesToScroll: 3,
            autoplay: true,
            autoplaySpeed: 2000
          }
        },
        {
          breakpoint: 1000,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 2,
            autoplay: true,
            autoplaySpeed: 2000
          }
        },
        {
          breakpoint: 600,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1,
            autoplay: true,
            autoplaySpeed: 2000
          }
        }
      ]
    });
  });
</script>
