---
title: Services
permalink: /services
layout: default
---

<div class="row row-main page-section page-section-colored page-section-green page-section-pad adjust">
  <div class="col-lg-10 col-lg-offset-1 col-lg-12-main col-md-12 col-md-12-main">
    <h1>What We Offer</h1>
    <p>UP AdCore prides itself in being a student-run advertising agency that translates client strategies to communication materials which connect and influence its intended audience. The organization ensures the delivery of high-caliber designs and audio-visual productions catering to different forms of media.</p>
  </div>
</div>
<div class="row row-main page-section page-section-colored page-section-yellow adjust" id="clients">
  <div class="col-lg-10 col-lg-offset-1 col-lg-12-main">
    <h1>Our Past Clients</h1>
    <h3><small>The organization&#8217;s professional portfolio</small></h3>
    <p>Despite being a young organization, AdCore has been able to work with the following clients in its projects both within and outside the university:</p>
    <div class="row" id="row-clients">
      <img src="/img/clients/clients-coca.png" class="img-responsive img-client" alt="Coca-Cola">
      <img src="/img/clients/clients-globe.png" class="img-responsive img-client" alt="Globe">
      <img src="/img/clients/clients-greenwich.png" class="img-responsive img-client" alt="Greenwich">
      <img src="/img/clients/clients-gsk.png" class="img-responsive img-client" alt="Glaxo Smith Kline">
      <img src="/img/clients/clients-jansport.png" class="img-responsive img-client" alt="Jansport">
      <img src="/img/clients/clients-jnj.png" class="img-responsive img-client" alt="Johnson &amp;">
      <img src="/img/clients/clients-lotte.png" class="img-responsive img-client" alt="Lotte">
      <img src="/img/clients/clients-omni.png" class="img-responsive img-client" alt="Omni">
      <img src="/img/clients/clients-ovi.png" class="img-responsive img-client" alt="Nokia Ovi">
      <img src="/img/clients/clients-png.png" class="img-responsive img-client" alt="Procter &amp; Gamble">
      <img src="/img/clients/clients-rexona.png" class="img-responsive img-client" alt="Rexona">
      <img src="/img/clients/clients-samsung.png" class="img-responsive img-client" alt="Samsung">
      <img src="/img/clients/clients-unilab.png" class="img-responsive img-client" alt="Unilab">
      <img src="/img/clients/clients-unilever.png" class="img-responsive img-client" alt="Unilever">
      <img src="/img/clients/clients-viber.png" class="img-responsive img-client" alt="Viber">
      <img src="/img/clients/clients-zalora.png" class="img-responsive img-client" alt="Zalora">
      <img src="/img/clients/clients-skybundles.png" class="img-responsive img-client" alt="Sky Bundles">
      <img src="/img/clients/clients-beep.png" class="img-responsive img-client" alt="Beep">
      <img src="/img/clients/clients-carefree.jpg" class="img-responsive img-client" alt="Carefree">
      <img src="/img/clients/clients-closeup.png" class="img-responsive img-client" alt="Close Up">
      <img src="/img/clients/clients-potatocorner.png" class="img-responsive img-client" alt="Potato Corner">
    </div>
  </div>
</div>
<div class="row row-main page-section page-section-white adjust" id="teenspeak">
  <div class="col-lg-10 col-lg-offset-1 col-lg-12-main col-md-12 col-md-12-main">
    <h1 class="nosub">Teenspeak</h1>
    <p>One of UP AdCore’s most esteemed projects is Teenspeak, an annual university-wide idea generation competition in partnership with a corporate client. It seeks to test the creativity of students in the University in coming up with innovative solutions that directly cater to the partner brand’s target market. Past Teenspeak events have made significant contributions to companies such as Proctor and Gamble, Greenwich, Rexona, Globe, and Coca-Cola</p>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="row div-portfolio">
          <div class="col-lg-4 cold-md-4 col-sm-4 col-xs-6 col-md-offset-4 col-sm-offset-4 col-xs-offset-3">
            <a>
              <div style="background-image:url('/img/teenspeak/teenspeak-year10-2.jpg');"></div>
              <div>
                <h3>Upgrade Reality</h3>
                <h5>Teenspeak &#8217;16 x Samsung</h5>
              </div>
            </a>
          </div>
        </div>
        <div id="prev-teenspeak" class="carousel slide" data-ride="carousel" data-interval="false">
          <ol class="carousel-indicators carousel-green">
            <li data-target="#prev-teenspeak" data-slide-to="0" class="active"></li>
            <li data-target="#prev-teenspeak" data-slide-to="1"></li>
          </ol>
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <div class="img-wrapper div-portfolio">
                <div class="col-lg-4 cold-md-4 col-sm-4 col-xs-6">
                  <a>
                    <div style="background-image:url('/img/teenspeak/teenspeak-year9-2.jpg');"></div>
                    <div>
                      <h3>Save Our Smiles</h3>
                      <h5>Teenspeak 6 x Oral B</h5>
                    </div>
                  </a>
                </div>
                <div class="col-lg-4 cold-md-4 col-sm-4 col-xs-6">
                  <a>
                    <div style="background-image:url('/img/teenspeak/teenspeak-year8-2.jpg');"></div>
                    <div>
                      <h3>Let Your Hair UP</h3>
                      <h5>Teenspeak &#8217;13 x P&#038;G</h5>
                    </div>
                  </a>
                </div>
                <div class="col-lg-4 cold-md-4 col-sm-4 col-xs-6">
                  <a>
                    <div style="background-image:url('/img/teenspeak/teenspeak-year7-1.jpg');"></div>
                    <div>
                      <h3>Level UP</h3>
                      <h5>Teenspeak &#8217;12 x Greenwich</h5>
                    </div>
                  </a>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="img-wrapper div-portfolio">
                <div class="col-lg-4 cold-md-4 col-sm-4 col-xs-6">
                  <a>
                    <div style="background-image:url('/img/teenspeak/teenspeak-year6.jpg');"></div>
                    <div>
                      <h3>Hands UP</h3>
                      <h5>Teenspeak &#8217;11 x Rexona</h5>
                    </div>
                  </a>
                </div>
                <div class="col-lg-4 cold-md-4 col-sm-4 col-xs-6">
                  <a>
                    <div style="background-image:url('/img/teenspeak/teenspeak-year5.jpg');"></div>
                    <div>
                      <h3>Think UP</h3>
                      <h5>Teenspeak &#8217;10 x Globe</h5>
                    </div>
                  </a>
                </div>
                <div class="col-lg-4 cold-md-4 col-sm-4 col-xs-6">
                  <a>
                    <div style="background-image:url('/img/teenspeak/teenspeak-year4.jpg');"></div>
                    <div>
                      <h3>Open UP</h3>
                      <h5>Teenspeak &#8217;09 x Coca-Cola</h5>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row row-main page-section page-section-colored page-section-green adjust" id="portfolio">
  <div class="col-lg-10 col-lg-offset-1 col-lg-12-main col-md-12 col-md-12-main">
    <h2 class="adjust adjust-more text-left" id="punchcreatives">
      Design solutions
    </h2>
    <p>We provide clean-cut solutions to your creative needs</p>
    <div id="design-solutions" class="carousel slide" data-ride="carousel" data-interval="false">
      <ol class="carousel-indicators">
        <li data-target="#design-solutions" data-slide-to="0" class="active"></li>
        <li data-target="#design-solutions" data-slide-to="1"></li>
        <li data-target="#design-solutions" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <div class="img-wrapper div-portfolio">
            <div class="col-lg-4 cold-md-4 col-sm-4 col-xs-6">
              <a>
                <div style="background-image:url('/img/solution/solution-halalanup.jpg');"></div>
                <div>
                  <h3>Halalan sa UP 2016</h3>
                  <h5>Infographics</h5>
                </div>
              </a>
            </div>
            <div class="col-lg-4 cold-md-4 col-sm-4 col-xs-6">
              <a>
                <div style="background-color: #fff; background-image:url('/img/solution/solution-enggicon.jpg');"></div>
                <div>
                  <h3>UP Engg Student Council</h3>
                  <h5>Engg Icon</h5>
                </div>
              </a>
            </div>
            <div class="col-lg-4 cold-md-4 col-sm-4 col-xs-6">
              <a>
                <div style="background-image:url('/img/solution/solution-pressplay.jpg');"></div>
                <div>
                  <h3>UP USC</h3>
                  <h5>Press Play: UP Fair Tuesday</h5>
                </div>
              </a>
            </div>
            <div class="col-lg-4 cold-md-4 col-sm-4 col-xs-6">
              <a>
                <div style="background-image:url('/img/solution/solution-upfair.jpg');"></div>
                <div>
                  <h3>UP USC</h3>
                  <h5>UP Fair</h5>
                </div>
              </a>
            </div>
            <div class="col-lg-4 cold-md-4 col-sm-4 col-xs-6">
              <a>
                <div style="background-image:url('/img/solution/solution-ufm.jpg');"></div>
                <div>
                  <h3>UP USC</h3>
                  <h5 class="hidden-xs">University Freshie Month</h5>
                  <h5 class="visible-xs">UFM</h5>
                </div>
              </a>
            </div>
            <div class="col-lg-4 cold-md-4 col-sm-4 col-xs-6">
              <a>
                <div style="background-color: #fff; background-image:url('/img/solution/solution-upyourvote.jpg');"></div>
                <div>
                  <h3>UP USC</h3>
                  <h5>Up Your Vote Campaign</h5>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="img-wrapper div-portfolio">
            <div class="col-lg-4 cold-md-4 col-sm-4 col-xs-6">
              <a>
                <div style="background-image:url('/img/solution/solution-upjmakids.jpg');"></div>
                <div>
                  <h3>UP JMA KIDS</h3>
                  <h5>Tarp Design</h5>
                </div>
              </a>
            </div>
            <div class="col-lg-4 cold-md-4 col-sm-4 col-xs-6">
              <a>
                <div style="background-image:url('/img/solution/solution-regina.jpg');"></div>
                <div>
                  <h3>Regina Iustitiae</h3>
                  <h5>10th Year Logo</h5>
                </div>
              </a>
            </div>
            <div class="col-lg-4 cold-md-4 col-sm-4 col-xs-6">
              <a href="/img/solution/solution-pnb.mp4" target="_blank">
                <div style="background-color: #fff; background-image:url('/img/solution/solution-pnb.jpg');"></div>
                <div>
                  <h3>Gillian Almeda</h3>
                  <h5 class="hidden-xs">Centennial Year Video Screensaver for PNB</h5>
                  <h5 class="visible-xs">Video Screensaver for PNB</h5>
                </div>
              </a>
            </div>
            <div class="col-lg-4 cold-md-4 col-sm-4 col-xs-6">
              <a>
                <div style="background-image:url('/img/solution/solution-cucina.jpg');"></div>
                <div>
                  <h3>Inday&#8217;s Cucina</h3>
                  <h5>Food Menu Tarp Design</h5>
                </div>
              </a>
            </div>
            <div class="col-lg-4 cold-md-4 col-sm-4 col-xs-6">
              <a>
                <div style="background-image:url('/img/solution/solution-thegrid.jpg');"></div>
                <div>
                  <h3>Gab Laurel</h3>
                  <h5>Brand Name (The Grid: Coworking Space)</h5>
                </div>
              </a>
            </div>
            <div class="col-lg-4 cold-md-4 col-sm-4 col-xs-6">
              <a>
                <div style="background-image:url('/img/solution/solution-wika.jpg');"></div>
                <div>
                  <h3>Sentro ng Wikang Filipino (UPD)</h3>
                  <h5 class="hidden-xs">Tarpaulins and Posters</h5>
                  <h5 class="visible-xs">Tarps and Posters</h5>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="img-wrapper div-portfolio">
            <div class="col-lg-4 cold-md-4 col-sm-4 col-xs-6">
              <a>
                <div style="background-image:url('/img/solution/solution-entrep.jpg');"></div>
                <div>
                  <h3>Brand</h3>
                  <h5 class="hidden-xs">Promotional Materials (Web)</h5>
                  <h5 class="visible-xs">Promo (Web)</h5>
                </div>
              </a>
            </div>
            <div class="col-lg-4 cold-md-4 col-sm-4 col-xs-6">
              <a>
                <div style="background-image:url('/img/solution/solution-aktib.jpg');"></div>
                <div>
                  <h3>FactBytes</h3>
                  <h5 class="hidden-xs">Promotional Materials (Web)</h5>
                  <h5 class="visible-xs">Promo (Web)</h5>
                </div>
              </a>
            </div>
            <div class="col-lg-4 cold-md-4 col-sm-4 col-xs-6">
              <a>
                <div style="background-image:url('/img/solution/solution-marlin.jpg');"></div>
                <div>
                  <h3>Marlin Steak House</h3>
                  <h5>Logo Design</h5>
                </div>
              </a>
            </div>
            <div class="col-lg-4 cold-md-4 col-sm-4 col-xs-6">
              <a>
                <div style="background-image:url('/img/solution/solution-sale.jpg');"></div>
                <div>
                  <h3>Samsung</h3>
                  <h5 class="hidden-xs">Promotional Materials (Web)</h5>
                  <h5 class="visible-xs">Promo (Web)</h5>
                </div>
              </a>
            </div>
            <div class="col-lg-4 cold-md-4 col-sm-4 col-xs-6">
              <a>
                <div style="background-image:url('/img/solution/solution-avi.jpg');"></div>
                <div>
                  <h3>Avi</h3>
                  <h5 class="hidden-xs">Promotional Materials (Web)</h5>
                  <h5 class="visible-xs">Promo (Web)</h5>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <h2 class="adjust adjust-more text-left" id="brandhub">
      Brand activation
    </h2>
    <p>We cater to marketing demands that require innovative ideas</p>
    <div id="brand-activation" class="carousel slide" data-ride="carousel" data-interval="false">
      <ol class="carousel-indicators">
        <li data-target="#brand-activation" data-slide-to="0" class="active"></li>
        <li data-target="#brand-activation" data-slide-to="1"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <div class="img-wrapper div-portfolio">
            <div class="col-lg-4 cold-md-4 col-sm-4 col-xs-6">
              <a target="_blank" href="#">
                <div style="background-image:url('/img/activation/activation-ovi-2.jpg');"></div>
                <div>
                  <h3>Nokia</h3>
                  <h5>L-Ovi-E Friendship Week</h5>
                </div>
              </a>
            </div>
            <div class="col-lg-4 cold-md-4 col-sm-4 col-xs-6">
              <a target="_blank" href="#">
                <div style="background-image:url('/img/activation/activation-foreversummer-1.jpg');"></div>
                <div>
                  <h3>Close Up</h3>
                  <h5>Forever Summer</h5>
                </div>
              </a>
            </div>
            <div class="col-lg-4 cold-md-4 col-sm-4 col-xs-6">
              <a target="_blank" href="#">
                <div style="background-image:url('/img/activation/activation-valentine-1.jpg');"></div>
                <div>
                  <h3>Potato Corner</h3>
                  <h5>Valentine&#8217;s Stunt</h5>
                </div>
              </a>
            </div>
            <div class="col-lg-4 cold-md-4 col-sm-4 col-xs-6">
              <a target="_blank" href="https://www.facebook.com/UniversityFriendshipWeek">
                <div style="background-image:url('/img/activation/activation-ufw.jpg');"></div>
                <div>
                  <h3>Jansport</h3>
                  <h5 class="hidden-xs">University Friendship Week</h5>
                  <h5 class="visible-xs">Univ. Friendship Week</h5>
                </div>
              </a>
            </div>
            <div class="col-lg-4 cold-md-4 col-sm-4 col-xs-6">
              <a target="_blank" href="#">
                <div style="background-image:url('/img/activation/activation-standout-1.jpg');"></div>
                <div>
                  <h3>P&amp;G</h3>
                  <h5>#StandOut</h5>
                </div>
              </a>
            </div>
            <div class="col-lg-4 cold-md-4 col-sm-4 col-xs-6">
              <a target="_blank" href="https://www.facebook.com/FreshRoomPH">
                <div style="background-image:url('/img/activation/activation-fresh.jpg');"></div>
                <div>
                  <h3>Carefree</h3>
                  <h5>Fresh Room</h5>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="img-wrapper div-portfolio">
            <div class="col-lg-4 cold-md-4 col-sm-4 col-xs-6">
              <a target="_blank" href="https://www.facebook.com/upadvertisingcore/photos/a.10150388925330454.602347.137282575453/10154901185310454/">
                <div style="background-image:url('/img/activation/activation-pday.jpg');"></div>
                <div>
                  <h3>Pepero</h3>
                  <h5>Pepero Day 2014</h5>
                </div>
              </a>
            </div>
            <div class="col-lg-4 cold-md-4 col-sm-4 col-xs-6">
              <a target="_blank" href="https://www.facebook.com/media/set/?set=a.10154827464215454.1073741852.137282575453">
                <div style="background-image:url('/img/activation/activation-utour.jpg');"></div>
                <div>
                  <h3>Unilever</h3>
                  <h5>University Tour 2014</h5>
                </div>
              </a>
            </div>
            <div class="col-lg-4 cold-md-4 col-sm-4 col-xs-6">
              <a target="_blank" href="https://www.facebook.com/upadvertisingcore/photos/a.10150388925330454.602347.137282575453/10155522656860454/">
                <div style="background-image:url('/img/activation/activation-sticky.jpg');"></div>
                <div>
                  <h3>Viber</h3>
                  <h5>Sticky Fingers Contest</h5>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% include footer.html %}

{% include header-script.html %}

{% include header-script-static.html %}

<script>
  var depts = ['crt','fca','hr','prp','seal','pres'];
  var curr;

  $('.button-dept').click(function(event){
    curr = $(this).attr('id');
    //alert('Curr: '+curr);
    depts.forEach(function(entry){
      if (entry==curr) {
        //$('#panel-'+entry).addClass('panel-dept-active');
        curr=$('#panel-'+entry);
        //alert('Added class to '+entry);
      }
      else {
        //$('#panel-'+entry).removeClass('panel-dept-active');
        setTimeout(function (){$('#panel-'+entry).removeClass('panel-dept-active');}, 000);
      }
    });
    setTimeout(function (){curr.addClass('panel-dept-active');}, 000);
    //curr.addClass('panel-dept-active');
    
  });
</script>
